{*

/*
*
*	Pixaria Gallery
*	Copyright Jamie Longstaff
*
*/

*}{include_template file="index.layout/main.header.tpl"}



<form action="{$base_url}{$fil_index}" method="post">

<table class="table-text">

<tr>
<th>##STORE_001##</th>
<td>

<h1>##STORE_002##</h1>

<p>##STORE_003##</p>

</td>
<td>&nbsp;</td>
</tr>

<tr>
<th>&nbsp;</th>
<td><input type="submit" name="submit" value="##STORE_004##" style="width:100%;" class="formbutton" /></td>
<td>&nbsp;</td>
</tr>

</table>

</form>

{include_template file="index.layout/main.footer.tpl"}


