{*

/*
*
*	Pixaria Gallery
*	Copyright Jamie Longstaff
*
*/

*}{include_template file="index.layout/main.header.tpl"}


<form action="{$base_url}{$fil_index_account}" method="post">

<table class="table-text">

<tr>
<th>##STORE_005##</th>
<td>

<h1>##STORE_006##</h1>

<p>##STORE_007##</p>

</td>
<td>&nbsp;</td>
</tr>

<tr>
<th>&nbsp;</th>
<td><input type="submit" name="submit" value="##STORE_008##" style="width:100%;" class="formbutton" /></td>
<td>&nbsp;</td>
</tr>

</table>

</form>

{include_template file="index.layout/main.footer.tpl"}


