{*

/*
*
*	Pixaria Gallery
*	Copyright Jamie Longstaff
*
*/

*}{include_template file="index.layout/main.header.tpl"}

<table class="table-text">

<tr>
<th>##STORE_027##</th>
<td>

<h1>##STORE_028##</h1>

<p>##STORE_029##</p>

<p><a href="{$base_url}{$fil_index_store}?cmd=viewTransaction&amp;cart_id={$cart_id}">##STORE_030##</a></p>

</td>
<td>&nbsp;</td>
</tr>

</table>

<!-- INCLUDE THE BOTTOM HTML TEMPLATE -->
{include_template file="index.layout/main.footer.tpl"}


