{*

/*
*
*	Pixaria Gallery
*	Copyright Jamie Longstaff
*
*/

*}{include_template file="index.layout/simple.header.tpl"}

<script language="JavaScript" type="text/javascript">
<!--
window.opener.location.href='{$base_url}{$fil_index_store}';
//-->
</script>

<form action="{$base_url}{$fil_index_calculator}" method="post">

<table class="table-text">

<tr>
<th>##STORE_082##</th>
<td>

	<h1>##STORE_083##</h1>
		
	<p>##STORE_084##</p>
	
	<img src="{$image_data.files.large_url}" class="thumbnail" {$image_data.files.large_size.2} alt="{$image_data.basic.title}" />
	
</td>
</tr>

<tr>
<th>&nbsp;</th>
<td><input type="button" onclick="javascript:self.close();" value="##STORE_085##" style="width:100%;" class="forminput" /></td>
</tr>

</table>

</form>


{include_template file="index.layout/simple.footer.tpl"}


