{*

/*
*
*	Pixaria Gallery
*	Copyright Jamie Longstaff
*
*/

*}{include_template file="index.layout/main.header.tpl"}




<table class="table-text">

<tr>
<th>##LIGHTBOX_19##</th>
<td>


<h1>##LIGHTBOX_20##</h1>

<p>##LIGHTBOX_21##</p>

</td>
<td>&nbsp;</td>
</tr>
</table>



<!-- INCLUDE THE BOTTOM HTML TEMPLATE -->
{include_template file="index.layout/main.footer.tpl"}

