{*

/*
*
*	Pixaria Gallery
*	Copyright Jamie Longstaff
*
*/

*}{include_template file="index.layout/main.header.tpl"}




<table class="table-text">

<tr>
<th>##LIGHTBOX_23##</th>
<td>


<h1>##LIGHTBOX_24##</h1>

<p>##LIGHTBOX_25##</p>

{if $ses_psg_userid == ""}

<p>##LIGHTBOX_26##</p>

{/if}

</td>
<td>&nbsp;</td>
</tr>
</table>



<!-- INCLUDE THE BOTTOM HTML TEMPLATE -->
{include_template file="index.layout/main.footer.tpl"}

