{*

/*
*
*	Pixaria Gallery
*	Copyright Jamie Longstaff
*
*/

*}{include_template file="index.layout/main.header.tpl"}




<table class="table-text">

<tr>
<th>##LIGHTBOX_61##</th>
<td>

<h1>##LIGHTBOX_62##</h1>
	
<p>##LIGHTBOX_63##</p>

<p><a href="{$base_url}{$fil_index_lightbox}?cmd=showDefaultLightbox&amp;lid={$lightbox_id}">##LIGHTBOX_64##</a></p>
	
</td>
<td>&nbsp;</td>
</tr>

</table>




<!-- INCLUDE THE BOTTOM HTML TEMPLATE -->
{include_template file="index.layout/main.footer.tpl"}
