{*

/*
*
*	Pixaria Gallery
*	Copyright Jamie Longstaff
*
*/

*}{include_template file="admin.snippets/admin.html.header.tpl"}

<div id="admin-outerdiv">

<div id="admin-innerdiv">


{include_template file="shared/javascript.html"}






<form action="{$base_url}{$fil_admin_settings}" method="post" name="frm_settings" id="frm_settings" onsubmit="javascript:sendData('frm_settings','{$base_url}{$fil_admin_settings}'); return false;">

<input type="hidden" name="cmd" value="applySettings" />

<input type="hidden" name="settings[theme]" value="text" />
<input type="hidden" name="settings[smarty_cache]" value="text" />
<input type="hidden" name="settings[thumb_notes]" value="text" />
<input type="hidden" name="settings[gallery_order]" value="text" />
<input type="hidden" name="settings[default_thumb_size]" value="text" />
<input type="hidden" name="settings[gallery_per_page]" value="text" />
<input type="hidden" name="settings[thumb_per_page]" value="text" />
<input type="hidden" name="settings[browse_thumb_count]" value="text" />
<input type="hidden" name="settings[image_output_format]" value="text" />
<input type="hidden" name="settings[image_href]" value="text" />
<input type="hidden" name="settings[cart_href]" value="text" />
<input type="hidden" name="settings[lightbox_href]" value="text" />
<input type="hidden" name="settings[image_popup_width]" value="text" />
<input type="hidden" name="settings[image_popup_height]" value="text" />
<input type="hidden" name="settings[lbox_popup_width]" value="text" />
<input type="hidden" name="settings[lbox_popup_width]" value="text" />
<input type="hidden" name="settings[cart_popup_width]" value="text" />
<input type="hidden" name="settings[cart_popup_height]" value="text" />
<input type="hidden" name="settings[func_disable_saving]" value="checkbox" />
<input type="hidden" name="settings[image_watermark]" value="text" />
<input type="hidden" name="settings[postcard_watermark]" value="text" />
<input type="hidden" name="settings[image_watermark_text]" value="text" />
<input type="hidden" name="settings[image_watermark_pos]" value="text" />
<input type="hidden" name="settings[filename_noext]" value="checkbox" />


<ul id="form-tabs" class="form-tabs">
	<li class="tab"><a href="#themes" {if $active_tab == "" || $active_tab == "themes" || $active_tab == "templates"}class="active"{/if} title="Global configuration settings">Themes &amp; Templates</a></li>
	<li class="tab"><a href="#display" {if $active_tab == "display"}class="active"{/if} title="Pixaria Gallery features">Display Options</a></li>
	<li class="tab"><a href="#links" {if $active_tab == "links"}class="active"{/if} title="Pixaria Gallery features">Link Options</a></li>
	<li class="tab"><a href="#security" {if $active_tab == "security" || $active_tab == "watermarks"}class="active"{/if} title="Pixaria Gallery features">Security &amp; Watermarking</a></li>
</ul>

<br clear="all" />

<div class="tabcontainer">

	<div id="themes" class="form-horizontal">
			
		<div class="form-body">
		
			<div class="form-box" style="min-height:260px; width:300px;">
			
			<h3>Pixaria appearance theme</h3>
			
			<p>Pixaria themes are stored in the resources directory of your site.</p>
			
			<p>If you plan to modify the appearance of your site, please see the <a href="http://www.pixaria.com/wiki/" target="_new" style="text-decoration:underline;">online documentation</a> for instructions on how to create a custom theme.</p>
			
			{$theme_html}
			
			</div>
			
			<div class="form-box" style="width:521px; min-height:260px;">
			
			<h3>Smarty template caching</h3>
			
			<p>To help improve the performance of your site, HTML templates can be cached as a compiled PHP script which saves the template being processed each time a page is viewed.  If caching is turned on, you will only be able to see changes you make to templates on your site after the cache has first been emptied.</p>
			
			<p>The cache is automatically cleared each time the appearance settings for your site are updated but it can be done manually by clicking on the link 'Flush Smarty Cache' in the toolbar above.</p>
			
			<input type="radio" name="smarty_cache" id="smarty_cache1" value="0" class="forminput"{if $set_smarty_cache == "0"} checked="checked"{/if} /> <label for="smarty_cache1">Caching enabled</label><br />
			<input type="radio" name="smarty_cache" id="smarty_cache2" value="1" class="forminput"{if $set_smarty_cache == "1"} checked="checked"{/if} /> <label for="smarty_cache2">Caching disabled (not recommended)</label>

			</div>
			        
        	<div class="clear"></div>
		
        </div>
	
	</div>

	<div id="display" class="form-horizontal">
		
		<div class="form-body">
		
			<div class="form-box" style="min-height:290px; width:240px;">
			
			<h3>Image thumbnail view mode:</h3>
			
			<input type="radio" name="thumb_notes" id="thumb_notes1" value="10" class="forminput"{if $set_thumb_notes == "10"} checked="checked"{/if} /> <label for="thumb_notes1">Basic information and no tools</label><br />
			<input type="radio" name="thumb_notes" id="thumb_notes2" value="11" class="forminput"{if $set_thumb_notes == "11"} checked="checked"{/if} /> <label for="thumb_notes2">Show detailed information and tools</label>
			
			<h3>Display order for galleries:</h3>
			
			<input type="radio" name="gallery_order" id="gallery_order1" class="forminput" value="10"{if $set_gallery_order == "10"} checked="checked"{/if} /> <label for="gallery_order1">Order by date (most recent first)</label><br />
			<input type="radio" name="gallery_order" id="gallery_order2" class="forminput" value="11"{if $set_gallery_order == "11"} checked="checked"{/if} /> <label for="gallery_order2">Order by date (most recent last)</label><br />
			<input type="radio" name="gallery_order" id="gallery_order3" class="forminput" value="12"{if $set_gallery_order == "12"} checked="checked"{/if} /> <label for="gallery_order3">Order alphabetically (ascending)</label><br />
			<input type="radio" name="gallery_order" id="gallery_order4" class="forminput" value="13"{if $set_gallery_order == "13"} checked="checked"{/if} /> <label for="gallery_order4">Order alphabetically (descending)</label><br />
			
			<h3>Default thumbnail size:</h3>
			
				<select name="default_thumb_size" style="width:100%;" class="select">
				<option value="both" label="User can choose (pages load slower)"{if $set_default_thumb_size=="both"} selected="selected"{/if}>User can choose (pages load slower)</option>
				<option value="large" label="Large thumbnails"{if $set_default_thumb_size=="large"} selected="selected"{/if}>Large thumbnails</option>
				<option value="small" label="Small thumbnails"{if $set_default_thumb_size=="small"} selected="selected"{/if}>Small thumbnails</option>
				</select>
			
			</div>
			
			<div class="form-box" style="min-height:290px; width:240px;">
			
			<h3>Gallery thumbnails per page:</h3>
			
			<p>This option controls the number of galleries shown per page of thumbnails.</p>
			
				<select name="gallery_per_page" style="width:100%;" class="select">
				<option value="6" label="Show 6 galleries per page"{if $set_gallery_per_page_def=="6"} selected="selected"{/if}>Show 6 galleries per page</option>
				<option value="12" label="Show 12 galleries per page"{if $set_gallery_per_page_def=="12"} selected="selected"{/if}>Show 12 galleries per page</option>
				<option value="18" label="Show 18 galleries per page"{if $set_gallery_per_page_def=="18"} selected="selected"{/if}>Show 18 galleries per page</option>
				<option value="24" label="Show 24 galleries per page"{if $set_gallery_per_page_def=="24"} selected="selected"{/if}>Show 24 galleries per page</option>
				</select><br />
			
			<h3>Image thumbnails per page:</h3>
			
			<p>This option controls the number of images shown per page of thumbnails.</p>
			
				<select name="thumb_per_page" style="width:100%;" class="select">
				<option value="12" label="Show 12 images per page"{if $set_thumb_per_page_def=="12"} selected="selected"{/if}>Show 12 images per page</option>
				<option value="24" label="Show 24 images per page"{if $set_thumb_per_page_def=="24"} selected="selected"{/if}>Show 24 images per page</option>
				<option value="36" label="Show 36 images per page"{if $set_thumb_per_page_def=="36"} selected="selected"{/if}>Show 36 images per page</option>
				<option value="60" label="Show 60 images per page"{if $set_thumb_per_page_def=="60"} selected="selected"{/if}>Show 60 images per page</option>
				<option value="100" label="Show 100 images per page"{if $set_thumb_per_page_def=="100"} selected="selected"{/if}>Show 100 images per page</option>
				</select><br />
			
			
			</div>
			
			<div class="form-box" style="min-height:290px; width:240px;">
			
			<h3>Comp view neighbours:</h3>
			
			<p>This option allows you to control how many neighbouring images are displayed when viewing the large (comp) view of an image.</p>
			
				<select name="browse_thumb_count" style="width:100%;" class="select">
				<option value="3" label="Show 3 neighbouring images"{if $set_browse_thumb_count=="3"} selected="selected"{/if}>Show 3 neighbouring images</option>
				<option value="4" label="Show 4 neighbouring images"{if $set_browse_thumb_count=="4"} selected="selected"{/if}>Show 4 neighbouring images</option>
				<option value="5" label="Show 5 neighbouring images"{if $set_browse_thumb_count=="5"} selected="selected"{/if}>Show 5 neighbouring images</option>
				<option value="6" label="Show 6 neighbouring images"{if $set_browse_thumb_count=="6"} selected="selected"{/if}>Show 6 neighbouring images</option>
				<option value="7" label="Show 7 neighbouring images"{if $set_browse_thumb_count=="7"} selected="selected"{/if}>Show 7 neighbouring images</option>
				</select><br />
			
			<h3>Image output format:</h3>
			
			<p>Viewer format for large image view.</p>
			
				<select name="image_output_format" style="width:100%;" class="select">
				<option value="10"{if $set_image_output_format == "10"} selected="selected"{/if}>Joint Photographic Experts Group (JPEG)</option>
				<option value="11"{if $set_image_output_format == "11"} selected="selected"{/if}>Adobe Flash (SWF)</option>
				<option value="12"{if $set_image_output_format == "12"} selected="selected"{/if}>Scalable Vector Graphics (SVG)</option>
				</select>
			
			<h3>File name display</h3>
			
			<input type="checkbox" name="filename_noext" id="filename_noext" class="forminput" {if $set_filename_noext} checked="checked"{/if}> <label for="filename_noext">Display filename extensions</label>
			
			</div>
			
			<div class="clear"></div>
		
		</div>
		
	</div>
			        
	<div id="links" class="form-horizontal">
		
		<div class="form-body">
		
			<div class="form-box" style="min-height:300px;">
			
			<h3>Image view links</h3>
			
			<input type="radio" name="image_href" id="image_href1" value="inline" class="forminput"{if $set_image_href == "inline"} checked="checked"{/if} /> <label for="image_href1">Open in the same browser window</label><br />
			<input type="radio" name="image_href" id="image_href2" value="popup" class="forminput"{if $set_image_href == "popup"} checked="checked"{/if} /> <label for="image_href2">Open in a popup window</label>
			
			<h3>Cart action links</h3>
			
			<input type="radio" name="cart_href" id="cart_href1" value="inline" class="forminput"{if $set_cart_href == "inline"} checked="checked"{/if} /> <label for="cart_href1">Open in the same browser window</label><br />
			<input type="radio" name="cart_href" id="cart_href2" value="popup" class="forminput"{if $set_cart_href == "popup"} checked="checked"{/if} /> <label for="cart_href2">Open in a popup window</label>
				
			<h3>Lightbox links:</h3>
			
			<input type="radio" name="lightbox_href" id="lightbox_href1" value="inline" class="forminput"{if $set_lightbox_href == "inline"} checked="checked"{/if} /> <label for="lightbox_href1">Open in the same browser window</label><br />
			<input type="radio" name="lightbox_href" id="lightbox_href2" value="popup" class="forminput"{if $set_lightbox_href == "popup"} checked="checked"{/if} /> <label for="lightbox_href2">Open in a popup window</label>
			
			</div>
			
			<div class="form-box" style="width:521px; min-height:300px;">
			
			<h3>Pop-up windows</h3>
			
			<p>Links to some actions in the front end can be made to open in popup windows, these settings allow you to configure the dimensions of these popups.</p>
			
			<h3>Size of image popup window:</h3>
			
			<input type="text" maxlength="3" size="3" name="image_popup_width" value="{$set_image_popup_width}" class="text" /> × <input type="text" maxlength="3" size="3" name="image_popup_height" value="{$set_image_popup_height}" class="text" /> (Pixels)<br />
			
			<h3>Size of 'add to lightbox' popup window:</h3>
			
			<input type="text" maxlength="3" size="3" name="lbox_popup_width" value="{$set_lbox_popup_width}" class="text" /> × <input type="text" maxlength="3" size="3" name="lbox_popup_width" value="{$set_lbox_popup_height}" class="text" /> (Pixels)<br />
			
			<h3>Size of 'add to cart' popup window:</h3>
			
			<input type="text" maxlength="3" size="3" name="cart_popup_width" value="{$set_cart_popup_width}" class="text" /> × <input type="text" maxlength="3" size="3" name="cart_popup_height" value="{$set_cart_popup_height}" class="text" /> (Pixels)<br />
			
			</div>

			<div class="clear"></div>
		
		</div>
	
	</div>
	
<div id="security" class="form-horizontal">
	
	<div class="form-body">
	
		<div class="form-box" style="min-height:320px; width:240px;">
		
			<h3>Prohibit saving images</h3>
			
			<p>You can make it harder for visitors to download comping images from your website by disabling the ability to right click on images or drag and drop them from the page.</p>
			
			<p>This feature relies on JavaScript so it will not work for users who have JavaScript disabled.</p>
			
			<input type="checkbox" name="func_disable_saving" id="func_disable_saving" class="forminput" {if $set_func_disable_saving == "1"} checked="checked"{/if}> <label for="func_disable_saving">Disable right click and drag/drop</label>
		
		</div>
		
		<div class="form-box" style="min-height:320px; width:240px;">
		
			<h3>Watermarks</h3>
			
			<p>To deter copyright theft, Pixaria can automatically add watermarks to images displayed on your website:</p>
			
			<h3>When to display watermarks:</h3>
			
			<select name="image_watermark" style="width:100%;" class="select">
			<option value="10"{if $set_image_watermark == "10"} selected="selected"{/if}>Never</option>
			<option value="11"{if $set_image_watermark == "11"} selected="selected"{/if}>For users who aren't logged in</option>
			<option value="12"{if $set_image_watermark == "12"} selected="selected"{/if}>For all users even if they're logged in</option>
			</select>
			
			<h3>Watermark postcard images:</h3>
			
			<p>Allows you to apply watermarks to images used to make postcards.</p>
			
			<input type="radio" name="postcard_watermark" id="postcard_watermark1" value="10" class="forminput"{if $set_postcard_watermark == "10"} checked="checked"{/if} /> <label for="postcard_watermark1">Don't watermark postcards<label><br />
			<input type="radio" name="postcard_watermark" id="postcard_watermark2" value="11" class="forminput"{if $set_postcard_watermark == "11"} checked="checked"{/if} /> <label for="postcard_watermark2">Add a watermark to all postcards<label><br />
		
		</div>
		
		<div class="form-box" style="min-height:320px; width:240px;">
		
			<h3>Watermark text message</h3>
			
			<p>This message is displayed under watermarked images and can be used to explain which images are watermarked.</p>
			
			<input type="text" maxlength="50" name="image_watermark_text" value="{$set_image_watermark_text}" style="width:220px;" class="text" onKeyDown="textCounter(this.form.image_watermark_text,this.form.image_watermark_textleft,50);" onKeyUp="textCounter(this.form.image_watermark_text,this.form.image_watermark_textleft,50);" /><br />
			
			<input readonly="readonly" type="text" name="image_watermark_textleft" size="3" maxlength="3" value="{$image_watermark_textleft}" tabindex="101" class="text" /> Characters left<br />
			
			<h3>Watermark position:</h3>
			
			<p>Select where the watermark will be positioned on the source image.</p>
			
			<select name="image_watermark_pos" style="width:100%;" class="select">
			<option value="10"{if $set_image_watermark_pos == "10"} selected="selected"{/if}>Centre</option>
			<option value="11"{if $set_image_watermark_pos == "11"} selected="selected"{/if}>Top left</option>
			<option value="12"{if $set_image_watermark_pos == "12"} selected="selected"{/if}>Top right</option>
			<option value="13"{if $set_image_watermark_pos == "13"} selected="selected"{/if}>Bottom left</option>
			<option value="14"{if $set_image_watermark_pos == "14"} selected="selected"{/if}>Bottom right</option>
			</select>			
		
		</div>

		<div class="clear"></div>
	
	</div>

</div>

	<div class="tab-button">
	
	<input type="submit" value="Apply Settings" id="submitbutton1" class="button" />
	
	<div id="status" class="confirmation" style="display:none;">Your changes have been saved.</div>
			
	<div class="clear"></div>
		
	</div>
	
</div>

</form>

<script type="text/javascript" language="javascript">var tabs = new Control.Tabs('form-tabs');{if $active_tab}tabs.setActiveTab('{$active_tab}');{/if}</script>



</div>

</div>

{include_template file="admin.snippets/admin.html.footer.tpl"}
