{*

/*
*
*	Pixaria Gallery
*	Copyright Jamie Longstaff
*
*/

*}{include_template file="admin.snippets/admin.html.header.tpl"}




<div id="admin-outerdiv">

<div id="admin-innerdiv">





<table class="table-text">

	<tr>
	
	<th>You can configure Pixaria Gallery to only request or require information when a user registers.  Use this control panel to control what information to collect.</th>
	
	<td>
	
	<h1>User registration management</h1>
	
	<p>Pixaria Gallery allows you to control what information is requested and required when users register on your website.</p>
		
	<h1>Required information</h1>
	
	<p>The following basic information is required by Pixaria and it's not possible to prevent Pixaria requesting this from users registering on your website: first name, family name, e-mail address, password, password reminder information</p>
		
	</td>
	<td>&nbsp;</td>
	
	</tr>
	
</table>




<form action="{$base_url}{$fil_admin_settings}" method="post">

<input type="hidden" name="cmd" value="applyDataCaptureSettings" />

<table class="list">
		
	<thead>
	
	<tr>
	<th style="width:33%;">Contact information:</td>
	<th style="width:11%; text-align:center;">Disabled</th>
	<th style="width:11%; text-align:center;">Request</th>
	<th style="width:11%; text-align:center;">Require</th>
	<th style="width:33%;">&nbsp;</th>
	</tr>
	
	</thead>
	
	<tbody>
	
	<tr class="{cycle values='row1,row2'}">
	<td class="bold">Salutation / Title</td>
	<td style="text-align:center;"><input type="radio" value="0" name="salutation" class="forminput" {if $salutation == "0" && $salutation_req == "0"} checked="checked"{/if} /></td>
	<td style="text-align:center;"><input type="radio" value="1" name="salutation" class="forminput" {if $salutation == "1" && $salutation_req == "0"} checked="checked"{/if} /></td>
	<td style="text-align:center;"><input type="radio" value="2" name="salutation" class="forminput" {if $salutation_req == "1" && $salutation_req == "1"} checked="checked"{/if} /></td>
	<td>&nbsp;</td>
	</tr>
	
	<tr class="{cycle values='row1,row2'}">
	<td class="bold">Telephone number</td>
	<td style="text-align:center;"><input type="radio" value="0" name="telephone" class="forminput" {if $telephone == "0" && $telephone_req == "0"} checked="checked"{/if} /></td>
	<td style="text-align:center;"><input type="radio" value="1" name="telephone" class="forminput" {if $telephone == "1" && $telephone_req == "0"} checked="checked"{/if} /></td>
	<td style="text-align:center;"><input type="radio" value="2" name="telephone" class="forminput" {if $telephone_req == "1" && $telephone_req == "1"} checked="checked"{/if} /></td>
	<td>&nbsp;</td>
	</tr>
	
	<tr class="{cycle values='row1,row2'}">
	<td class="bold">Mobile / Cellphone number</td>
	<td style="text-align:center;"><input type="radio" value="0" name="mobile" class="forminput" {if $mobile == "0" && $mobile_req == "0"} checked="checked"{/if} /></td>
	<td style="text-align:center;"><input type="radio" value="1" name="mobile" class="forminput" {if $mobile == "1" && $mobile_req == "0"} checked="checked"{/if} /></td>
	<td style="text-align:center;"><input type="radio" value="2" name="mobile" class="forminput" {if $mobile_req == "1" && $mobile_req == "1"} checked="checked"{/if} /></td>
	<td>&nbsp;</td>
	</tr>
	
	<tr class="{cycle values='row1,row2'}">
	<td class="bold">Fax number</td>
	<td style="text-align:center;"><input type="radio" value="0" name="facsimile" class="forminput" {if $facsimile == "0" && $facsimile_req == "0"} checked="checked"{/if} /></td>
	<td style="text-align:center;"><input type="radio" value="1" name="facsimile" class="forminput" {if $facsimile == "1" && $facsimile_req == "0"} checked="checked"{/if} /></td>
	<td style="text-align:center;"><input type="radio" value="2" name="facsimile" class="forminput" {if $facsimile_req == "1" && $facsimile_req == "1"} checked="checked"{/if} /></td>
	<td>&nbsp;</td>
	</tr>
	
	<tr class="{cycle values='row1,row2'}">
	<td class="bold">Address</td>
	<td style="text-align:center;"><input type="radio" value="0" name="address" class="forminput" {if $address == "0" && $address_req == "0"} checked="checked"{/if} /></td>
	<td style="text-align:center;"><input type="radio" value="1" name="address" class="forminput" {if $address == "1" && $address_req == "0"} checked="checked"{/if} /></td>
	<td style="text-align:center;"><input type="radio" value="2" name="address" class="forminput" {if $address_req == "1" && $address_req == "1"} checked="checked"{/if} /></td>
	<td>&nbsp;</td>
	</tr>
	
	</tbody>
		
</table>
		
<table class="list">
		
	<thead>
	
	<tr>
	<th style="width:33%;">Other information:</th>
	<th style="width:11%; text-align:center;">Disabled</th>
	<th style="width:11%; text-align:center;">Request</th>
	<th style="width:11%; text-align:center;">Require</th>
	<th style="width:33%;">&nbsp;</th>
	</tr>
	
	</thead>
	
	<tbody>
	
	<tr class="{cycle values='row1,row2'}">
	<td class="bold">User's company or organisation name</td>
	<td style="text-align:center;"><input type="radio" value="0" name="company_name" class="forminput" {if $company_name == "0" && $company_name_req == "0"} checked="checked"{/if} /></td>
	<td style="text-align:center;"><input type="radio" value="1" name="company_name" class="forminput" {if $company_name == "1" && $company_name_req == "0"} checked="checked"{/if} /></td>
	<td style="text-align:center;"><input type="radio" value="2" name="company_name" class="forminput" {if $company_name_req == "1" && $company_name_req == "1"} checked="checked"{/if} /></td>
	<td>&nbsp;</td>
	</tr>
	
	<tr class="{cycle values='row1,row2'}">
	<td class="bold">User's position within their business</td>
	<td style="text-align:center;"><input type="radio" value="0" name="business_position" class="forminput" {if $business_position == "0" && $business_position_req == "0"} checked="checked"{/if} /></td>
	<td style="text-align:center;"><input type="radio" value="1" name="business_position" class="forminput" {if $business_position == "1" && $business_position_req == "0"} checked="checked"{/if} /></td>
	<td style="text-align:center;"><input type="radio" value="2" name="business_position" class="forminput" {if $business_position_req == "1" && $business_position_req == "1"} checked="checked"{/if} /></td>
	<td>&nbsp;</td>
	</tr>
	
	<tr class="{cycle values='row1,row2'}">
	<td class="bold">What industry is the user's business in</td>
	<td style="text-align:center;"><input type="radio" value="0" name="business_type" class="forminput" {if $business_type == "0" && $business_type_req == "0"} checked="checked"{/if} /></td>
	<td style="text-align:center;"><input type="radio" value="1" name="business_type" class="forminput" {if $business_type == "1" && $business_type_req == "0"} checked="checked"{/if} /></td>
	<td style="text-align:center;"><input type="radio" value="2" name="business_type" class="forminput" {if $business_type_req == "1" && $business_type_req == "1"} checked="checked"{/if} /></td>
	<td>&nbsp;</td>
	</tr>
	
	<tr class="{cycle values='row1,row2'}">
	<td class="bold">What is the user's reason for requesting access</td>
	<td style="text-align:center;"><input type="radio" value="0" name="image_interest" class="forminput" {if $image_interest == "0" && $image_interest_req == "0"} checked="checked"{/if} /></td>
	<td style="text-align:center;"><input type="radio" value="1" name="image_interest" class="forminput" {if $image_interest == "1" && $image_interest_req == "0"} checked="checked"{/if} /></td>
	<td style="text-align:center;"><input type="radio" value="2" name="image_interest" class="forminput" {if $image_interest_req == "1" && $image_interest_req == "1"} checked="checked"{/if} /></td>
	<td>&nbsp;</td>
	</tr>
	
	<tr class="{cycle values='row1,row2'}">
	<td class="bold">How frequently does the user's business publish</td>
	<td style="text-align:center;"><input type="radio" value="0" name="frequency" class="forminput" {if $frequency == "0" && $frequency_req == "0"} checked="checked"{/if} /></td>
	<td style="text-align:center;"><input type="radio" value="1" name="frequency" class="forminput" {if $frequency == "1" && $frequency_req == "0"} checked="checked"{/if} /></td>
	<td style="text-align:center;"><input type="radio" value="2" name="frequency" class="forminput" {if $frequency_req == "1" && $frequency_req == "1"} checked="checked"{/if} /></td>
	<td>&nbsp;</td>
	</tr>
	
	<tr class="{cycle values='row1,row2'}">
	<td class="bold">What is the user's circulation/distribution</td>
	<td style="text-align:center;"><input type="radio" value="0" name="circulation" class="forminput" {if $circulation == "0" && $circulation_req == "0"} checked="checked"{/if} /></td>
	<td style="text-align:center;"><input type="radio" value="1" name="circulation" class="forminput" {if $circulation == "1" && $circulation_req == "0"} checked="checked"{/if} /></td>
	<td style="text-align:center;"><input type="radio" value="2" name="circulation" class="forminput" {if $circulation_req == "1" && $circulation_req == "1"} checked="checked"{/if} /></td>
	<td>&nbsp;</td>
	</tr>
	
	<tr class="{cycle values='row1,row2'}">
	<td class="bold">What territories does the user publish in</td>
	<td style="text-align:center;"><input type="radio" value="0" name="territories" class="forminput" {if $territories == "0" && $territories_req == "0"} checked="checked"{/if} /></td>
	<td style="text-align:center;"><input type="radio" value="1" name="territories" class="forminput" {if $territories == "1" && $territories_req == "0"} checked="checked"{/if} /></td>
	<td style="text-align:center;"><input type="radio" value="2" name="territories" class="forminput" {if $territories_req == "1" && $territories_req == "1"} checked="checked"{/if} /></td>
	<td>&nbsp;</td>
	</tr>
	
	<tr class="{cycle values='row1,row2'}">
	<td class="bold">The user's website address</td>
	<td style="text-align:center;"><input type="radio" value="0" name="website" class="forminput" {if $website == "0" && $website_req == "0"} checked="checked"{/if} /></td>
	<td style="text-align:center;"><input type="radio" value="1" name="website" class="forminput" {if $website == "1" && $website_req == "0"} checked="checked"{/if} /></td>
	<td style="text-align:center;"><input type="radio" value="2" name="website" class="forminput" {if $website_req == "1" && $website_req == "1"} checked="checked"{/if} /></td>
	<td>&nbsp;</td>
	</tr>
	
	<tr class="{cycle values='row1,row2' advance='0'}">
	<td class="bold">Message to the site owner / manager</td>
	<td style="text-align:center;"><input type="radio" value="0" name="message" class="forminput" {if $message == "0" && $message_req == "0"} checked="checked"{/if} /></td>
	<td style="text-align:center;"><input type="radio" value="1" name="message" class="forminput" {if $message == "1" && $message_req == "0"} checked="checked"{/if} /></td>
	<td style="text-align:center;"><input type="radio" value="2" name="message" class="forminput" {if $message_req == "1" && $message_req == "1"} checked="checked"{/if} /></td>
	<td>&nbsp;</td>
	</tr>
	
	<tr>
	<th colspan="5" style="text-align:right;"><input type="submit" value="Save changes" style="width:200px;" class="formbutton" /></th>
	</tr>
	
	</tbody>
		
</table>
	
</form>

</div>

</div>



<!-- INCLUDE THE BOTTOM HTML TEMPLATE -->
{include_template file="admin.snippets/admin.html.footer.tpl"}


