{*

/*
*
*	Pixaria Gallery
*	Copyright Jamie Longstaff
*
*/

*}{include_template file="admin.snippets/admin.html.header.tpl"}

<div id="admin-outerdiv">

<div id="admin-innerdiv">

{include_template file="shared/javascript.html"}






<form action="{$base_url}{$fil_admin_settings}" method="post" name="frm_settings" id="frm_settings" onsubmit="javascript:sendData('frm_settings','{$base_url}{$fil_admin_settings}'); return false;">

<input type="hidden" name="cmd" value="applySettings" />

<input type="hidden" name="settings[extra_field_01]" value="text" />
<input type="hidden" name="settings[extra_field_02]" value="text" />
<input type="hidden" name="settings[extra_field_03]" value="text" />
<input type="hidden" name="settings[extra_field_04]" value="text" />
<input type="hidden" name="settings[extra_field_05]" value="text" />
<input type="hidden" name="settings[contact_details]" value="text" />
<input type="hidden" name="settings[html_statcode]" value="html" />
<input type="hidden" name="settings[site_name]" value="text" />
<input type="hidden" name="settings[contact_name]" value="text" />
<input type="hidden" name="settings[contact_email]" value="text" />
<input type="hidden" name="settings[divestock_username]" value="text" />
<input type="hidden" name="settings[divestock_api_key]" value="text" />
<input type="hidden" name="settings[path_incoming]" value="text" />
<input type="hidden" name="settings[path_library]" value="text" />
<input type="hidden" name="settings[temporary]" value="text" />
<input type="hidden" name="settings[func_news]" value="checkbox" />
<input type="hidden" name="settings[func_rss]" value="checkbox" />
<input type="hidden" name="settings[func_contact]" value="checkbox" />
<input type="hidden" name="settings[func_captcha_contact]" value="checkbox" />
<input type="hidden" name="settings[func_lightbox]" value="checkbox" />
<input type="hidden" name="settings[func_mod_rewrite]" value="checkbox" />
<input type="hidden" name="settings[func_downloads]" value="checkbox" />
<input type="hidden" name="settings[func_downloads_user]" value="radio" />
<input type="hidden" name="settings[func_contact_sheet]" value="checkbox" />
<input type="hidden" name="settings[contact_sheet_quality]" value="radio" />
<input type="hidden" name="settings[func_postcards]" value="checkbox" />
<input type="hidden" name="settings[func_postcards_user]" value="radio" />
<input type="hidden" name="settings[login_default]" value="checkbox" />
<input type="hidden" name="settings[date_format]" value="radio" />
<input type="hidden" name="settings[func_tinymce]" value="checkbox" />
<input type="hidden" name="settings[local_language]" value="radio" />
<input type="hidden" name="settings[func_simple_slideshow]" value="checkbox" />
<input type="hidden" name="settings[func_mapping]" value="checkbox" />
<input type="hidden" name="settings[api_google_maps]" value="text" />
<input type="hidden" name="settings[func_divestock]" value="checkbox" />
<input type="hidden" name="settings[func_user_language_select]" value="checkbox" />
<input type="hidden" name="settings[optional_languages]" value="array" />
<input type="hidden" name="settings[installed_languages]" value="array" />


<ul id="form-tabs" class="form-tabs">
	<li class="tab"><a href="#configuration" title="Global configuration settings">Configuration</a></li>
	<li class="tab"><a href="#features" title="Pixaria Gallery features">Features</a></li>
	<li class="tab"><a href="#maps" title="GPS and map settings">Maps</a></li>
	<li class="tab"><a href="#languages" title="Default language settings">Languages</a></li>
	<!-- <li class="tab"><a href="#divestock" title="Divestock integration settings">Divestock&trade;</a></li> -->
	<li class="tab"><a href="#extended" title="Contact information, stats counter code and customisable image information">Extended Settings</a></li>
</ul>

<br clear="all" />

<div class="tabcontainer">

	<div id="configuration" class="form-horizontal">
		
		<div class="form-body">
		
			<div class="form-box" style="border-right:1px dotted #BBB; min-height:300px;">
			
			<h3>Site name:</h3>
			
			<input type="text" name="site_name" value="{$set_site_name}" style="width:290px;" class="text" />
			
			<h3>Administrator's name:</h3>
			
			<input type="text" name="contact_name" value="{$set_contact_name}" style="width:290px;" class="text" />
			
			<h3>Administrator's e-mail:</h3>
			
			<input type="text" name="contact_email" value="{$set_contact_email}" style="width:290px;" class="text" />
			
			</div>
			
			<div class="form-box" style="width:500px; min-height:300px;">
			
			<h3>Site base path:</h3>
			
			<p><tt>{$base_path}</tt></p>
			
			<p>The location of your incoming images and library directories are calculated relative to the site 'base path' above.</p>
			
			<h3>Path to your incoming images directory</h3>
			
			<input type="text" name="path_incoming" value="{$set_path_incoming}" style="width:480px;" class="text" />
			
			<h3>Path to your library directory</h3>
			
			<input type="text" name="path_library" value="{$set_path_library}" style="width:480px;" class="text" />
			
			<h3>System temporary items directory</h3>
			
			<input type="text" name="temporary" value="{$set_temporary}" style="width:480px;" class="text" />
			
			</div>
					
			<div class="clear"></div>
		
		</div>
		
	</div>
	
	<div id="features" class="form-horizontal">
	
		<div class="form-body">
		
			<div class="form-box" style="min-height:300px; width:300px; border-right:1px dotted #BBB;">
			
			<h3>News publishing</h3>
			
			<input type="checkbox" name="func_news" id="func_news" class="forminput" onclick="javascript:$('func_news').checked ? Effect.toggle('rss_news','slide',{literal}{duration:0.3}{/literal}) : Effect.toggle('rss_news','slide',{literal}{duration:0.3}{/literal})" {if $set_func_news == "1"} checked="checked"{/if} /> <label for="func_news">Enable news publishing</label><br />
			
				<div id="rss_news" {if $set_func_news == '0'}style="display:none;"{/if}>
				<table cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-left:20px;">
				<input type="checkbox" name="func_rss" id="func_rss" class="forminput" {if $set_func_rss == "1"} checked="checked"{/if} /> <label for="func_rss">Enable RSS feed</label><br />
				</td></tr></table>
				</div>
							
			<h3>Site contact form</h3>
			
			<input type="checkbox" name="func_contact" id="func_contact" class="forminput" onclick="javascript:$('func_contact').checked ? Effect.toggle('contact_captcha','slide',{literal}{duration:0.3}{/literal}) : Effect.toggle('contact_captcha','slide',{literal}{duration:0.3}{/literal})" {if $set_func_contact == "1"} checked="checked"{/if} /> <label for="func_contact">Enable the contact form</label><br />
			
				<div id="contact_captcha" {if $set_func_contact == '0'}style="display:none;"{/if}>
				<table cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-left:20px;">
				<input type="checkbox" name="func_captcha_contact" id="func_captcha_contact" class="forminput" {if $set_func_captcha_contact == "1"} checked="checked"{/if} /> <label for="func_captcha_contact">Enable CAPTCHA image</label>
				</td></tr></table>
				</div>
			
			<h3>User lightboxes</h3>
			
			<input type="checkbox" name="func_lightbox" id="func_lightbox" class="forminput" {if $set_func_lightbox == "1"} checked="checked"{/if} /> <label for="func_lightbox">Enable lightbox functions</label>
							
			<h3>Search engine friendly URLs</h3>
			
			<input type="checkbox" name="func_mod_rewrite" id="func_mod_rewrite" class="forminput" {if $set_func_mod_rewrite == "1"} checked="checked"{/if} /> <label for="func_mod_rewrite">Enable friendly URLs</label>
			
			<p>Please see the documentation for help configuring search engine friendly URLs.</p>
			
			</div>
			
			
			<div class="form-box" style="min-height:300px; width:300px; border-right:1px dotted #BBB;">
			
			<h3>Free high-res image downloads</h3>
			
			<input type="checkbox" name="func_downloads" id="func_downloads" class="forminput" onclick="javascript:$('func_downloads').checked ? Effect.toggle('downloads_settings','slide',{literal}{duration:0.3}{/literal}) : Effect.toggle('downloads_settings','slide',{literal}{duration:0.3}{/literal})" {if $set_func_downloads == "1"} checked="checked"{/if} /> <label for="func_downloads">Enable free downloads</label><br />
			
				<div id="downloads_settings" {if $set_func_downloads == '0'}style="display:none;"{/if}>
				<table cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-left:20px;">
				<input type="radio" name="func_downloads_user" id="func_downloads_user1" class="forminput" value="10" {if $set_func_downloads_user == "10"} checked="checked"{/if} /> <label for="func_downloads_user1">Enable for all users</label><br />
				<input type="radio" name="func_downloads_user" id="func_downloads_user2" class="forminput" value="11" {if $set_func_downloads_user == "11"} checked="checked"{/if} /> <label for="func_downloads_user2">Enable for registered only</label><br />
				<input type="radio" name="func_downloads_user" id="func_downloads_user3" class="forminput" value="12" {if $set_func_downloads_user == "12"} checked="checked"{/if} /> <label for="func_downloads_user3">Enable for selected individual users</label><br />
				</td></tr></table>
				</div>
			
			<h3>PDF Contact sheet from lightbox</h3>
			
			<input type="checkbox" name="func_contact_sheet" id="func_contact_sheet" class="forminput" onclick="javascript:$('func_contact_sheet').checked ? Effect.toggle('contact_sheet','slide',{literal}{duration:0.3}{/literal}) : Effect.toggle('contact_sheet','slide',{literal}{duration:0.3}{/literal})" {if $set_func_contact_sheet == "1"} checked="checked"{/if} /> <label for="func_contact_sheet">Enable PDF contact sheets</label><br />
			
				<div id="contact_sheet" {if $set_func_contact_sheet == '0'}style="display:none;"{/if}>
				<table cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-left:20px;">
				<input type="radio" name="contact_sheet_quality" id="contact_sheet_quality1" class="forminput" value="low" {if $set_contact_sheet_quality == "low"} checked="checked"{/if} /> <label for="contact_sheet_quality1">Low quality</label><br />
				<input type="radio" name="contact_sheet_quality" id="contact_sheet_quality2" class="forminput" value="high" {if $set_contact_sheet_quality == "high"} checked="checked"{/if} /> <label for="contact_sheet_quality2">High quality</label><br />
				</td></tr></table>
				</div>
			
			<h3>Electronic greetings cards</h3>
			
			<input type="checkbox" name="func_postcards" id="func_postcards" class="forminput" onclick="javascript:$('func_postcards').checked ? Effect.toggle('postcards_settings','slide',{literal}{duration:0.3}{/literal}) : Effect.toggle('postcards_settings','slide',{literal}{duration:0.3}{/literal})" {if $set_func_postcards == "1"} checked="checked"{/if} /> <label for="func_postcards">Enable e-cards service</label><br />
			
				<div id="postcards_settings" {if $set_func_postcards == '0'}style="display:none;"{/if}>
				<table cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-left:20px;">
				<input type="radio" name="func_postcards_user" id="func_postcards_user1" class="forminput" value="0" {if $set_func_postcards_user == "0"} checked="checked"{/if} /> <label for="func_postcards_user1">Enable for all users</label><br />
				<input type="radio" name="func_postcards_user" id="func_postcards_user2" class="forminput" value="1" {if $set_func_postcards_user == "1"} checked="checked"{/if} /> <label for="func_postcards_user2">Enable for registered only</label><br />
				</td></tr></table>
				</div>
			
			</div>
			
			<div class="form-box" style="min-height:300px;">
			
			<h3>Site access control</h3>
			
			<input type="checkbox" name="login_default" id="login_default" class="forminput" {if $set_login_default == "1"} checked="checked"{/if} /> <label for="login_default">Force users to login to view content</label>
			
			<h3>Date format settings</h3>
			
			<input type="radio" name="date_format" id="date_format1" class="forminput" value="dmy"{if $set_date_format == "dmy"} checked="checked"{/if} /> <label for="date_format1">International (dd/mm/yyyy)</label><br />
			<input type="radio" name="date_format" id="date_format2" class="forminput" value="mdy"{if $set_date_format == "mdy"} checked="checked"{/if} /> <label for="date_format2">USA (mm/dd/yyyy)</label>
			
			<h3>Rich text editing</h3>
			
			<input type="checkbox" name="func_tinymce" id="func_tinymce" class="forminput" {if $set_func_tinymce} checked="checked"{/if}> <label for="func_tinymce">Enable rich text editing in the blog</label>
			
			<h3>Simple slideshow</h3>
			
			<input type="checkbox" name="func_simple_slideshow" id="func_simple_slideshow" class="forminput" {if $set_func_simple_slideshow} checked="checked"{/if}> <label for="func_simple_slideshow">Enable simple slideshow</label>
			
			</div>
		
			<div class="clear"></div>
		
		</div>
	
	</div>
	
	<div id="maps" class="form-horizontal">
				
		<div class="form-body">
		
			<div class="form-box" style="width:400px; min-height:180px;">
	
			<h3>Map Fetures <span class="beta">Beta!</span></h3>
			
			<p>Pixaria Gallery includes mapping tools for images which contain GPS metadata in the form of longitude and latitude coordinates.  Maps are shown on the image detail page for all images with GPS coordinates and there is a function to find nearby images within a given radius of the image being viewed.</p>
			
			<p>To make use of the mapping capabilities of Pixaria Gallery requires that you obtain a <a href="http://code.google.com/apis/maps/" target="_new">Google Maps API</a> key from Google.</p>
						
			</div>
			
			<div class="form-box" style="width:400px; min-height:180px;">
	
			<h3>Enable mapping:</h3>
			
			<input type="checkbox" name="func_mapping" id="func_mapping" class="forminput" {if $set_func_mapping} checked="checked"{/if} /> <label for="func_mapping">Enable GPS and map features</label>
			
			<h3>Google Maps API Key:</h3>
			
			<input type="text" name="api_google_maps" value="{$set_api_google_maps}" class="text" style="width:380px;" />
						
			</div>
		
			<div class="clear"></div>
		
		</div>
		
	</div>
	
	<div id="languages" class="form-horizontal">
				
		<div class="form-body">
		
			<div class="form-box" style="min-height:350px; width:420px; position:relative;">
			
			<h1>Default Language</h1>
			
			<p>Select a default language to use when users first visit your website.  Please note that at the present time, multiple languages can only be used on the front end of Pixaria Gallery.</p>
			
			{html_fancy_select_single width='420' rows='8' options=$local_name values=$local_code name='local_language' selected=$set_local_language style="position:absolute; bottom:10px; right:10px;"}
			
			</div>
			
			<div class="form-box" style="min-height:350px; width:420px; position:relative;">
	
			<h1>User selectable languages</h1>
			
			<p>If you want users to be able to select a preferred language to use on your website, pick available languages from the list below.</p>
			
			<input type="checkbox" class="forminput" id="func_user_language_select" name="func_user_language_select" {if $set_func_user_language_select} checked="checked"{/if} /> <label for="func_user_language_select">Allow users to pick preferred interface language</label>
			
			<br /><br />
			
			{html_fancy_select_multiple width='420' rows='8' options=$local_name values=$local_code name='optional_languages' selected=$set_optional_languages style="position:absolute; bottom:10px; right:10px;"}
			
			{section name="ilng" loop=$local_code}
				<input type="hidden" name="installed_languages[{$local_code[ilng]}]" value="{$local_name[ilng]}" />
			{/section}
			
			</div>
			
			<div class="clear"></div>
		
		</div>
		
	</div>
	
	<!--
	<div id="divestock" class="form-horizontal">
	
		<div class="form-body">
		
			<div class="form-box" style="width:400px; min-height:250px;">
	
			<h3>Divestock <span class="beta">Beta!</span></h3>
			
			<p><a href="http://www.divestock.com/" target="_new">Divestock</a> is a website from the creator of Pixaria Gallery that enables photographers and other digital image rights holders to publish images from their libraries in a central, searchable database.</p>
			
			<p>With the Divestock integration in Pixaria Gallery, you can publish images from selected galleries directly to the Divestock website.  The Divestock system will retrieve image thumbnails, titles, captions and keywords from your Pixaria website and make the files searchable directly from the Divestock website.</p>
			
			<p>For more information, visit the <a href="http://www.divestock.com/" target="_new">Divestock website</a>.</p>
						
			</div>
			
			<div class="form-box" style="width:310px; min-height:250px;">
			
			<h3>Divestock status:</h3>
			
			<input type="checkbox" name="func_divestock" id="func_divestock" onclick="javascript:$('divestock_settings').toggle();$('ds_navigation').toggle();" {if $set_func_divestock}checked="checked"{/if} class="forminput" /> <label for="func_divestock">Enable Divestock integration</label>
			
				<div id="divestock_settings"{if !$set_func_divestock}style="display:none;"{/if}>
				
				<h3>Divestock username:</h3>
				
				<input type="text" name="divestock_username" value="{$set_divestock_username}" style="width:290px;" class="text" />
				
				<h3>Divestock API key:</h3>
				
				<input type="text" name="divestock_api_key" value="{$set_divestock_api_key}" style="width:290px;" class="text" />
				
				<br />
				
				<br />
				
				<input type="button" name="ds_link" value="Manage your published images" onclick="javascript:location.href='{$base_url}{$fil_admin_divestock}';" class="formbutton" />
				
				</div>
			
			</div>
		
			<div class="clear"></div>
		
		</div>
		
	</div>
	-->
	
	<div id="extended" class="form-horizontal">
	
		<div class="form-body">
		
			<div class="form-box" style="min-height:340px; width:300px; border-right:1px dotted #BBB;">
			
			<h3>Custom image field description 1</h3>
			
			<input type="text" name="extra_field_01" value="{$set_extra_field_01}" style="width:280px;" class="text" />
			
			<h3>Custom image field description 2</h3>
			
			<input type="text" name="extra_field_02" value="{$set_extra_field_02}" style="width:280px;" class="text" />
			
			<h3>Custom image field description 3</h3>
			
			<input type="text" name="extra_field_03" value="{$set_extra_field_03}" style="width:280px;" class="text" />
			
			<h3>Custom image field description 4</h3>
			
			<input type="text" name="extra_field_04" value="{$set_extra_field_04}" style="width:280px;" class="text" />
			
			<h3>Custom image field description 5</h3>
			
			<input type="text" name="extra_field_05" value="{$set_extra_field_05}" style="width:280px;" class="text" />
			
			</div>
			
			<div class="form-box" style="min-height:340px; width:300px; border-right:1px dotted #BBB;">
			
			<h3>Contact details</h3>
			
			<p>This information is shown on the cart and lightbox pages.</p>
			
			<textarea name="contact_details" style="width:295px;" rows="12" class="text" cols="16">{$set_contact_details}</textarea>
			
			</div>
			
			
			<div class="form-box" style="min-height:340px; width:300px;">
	
			<h3>Stats counter HTML code</h3>
			
			<p>Enter the HTML for Google Analytics and similar counters here.</p>
			
			<textarea name="html_statcode" style="width:295px;" rows="12" class="text" cols="16">{$set_html_statcode|escape:"htmlall"}</textarea>
			
			<br />
			
			</div>
				
			<div class="clear"></div>
		
		</div>
		
	</div>

	<div class="tab-button">
	
	<input type="submit" value="Apply Settings" id="submitbutton1" class="button" />
	
	<div id="status" class="confirmation" style="display:none;">Your changes have been saved.</div>
			
	<div class="clear"></div>
		
	</div>
	
</div>        
 
</form>

<script type="text/javascript" language="javascript">var tabs = new Control.Tabs('form-tabs');{if $active_tab}tabs.setActiveTab('{$active_tab}');{/if}</script>

</div>

</div>

{include_template file="admin.snippets/admin.html.footer.tpl"}
