{*

/*
*
*	Pixaria Gallery
*	Copyright Jamie Longstaff
*
*/

*}{include_template file="admin.snippets/admin.html.header.tpl"}

<div id="admin-outerdiv">

<div id="admin-innerdiv">





<div class="form-horizontal">

	<div class="form-header">Registration Blocking Settings</div>

	<div class="form-body">

		<div class="form-box" style="width:300px; min-height:350px;">
		
		<h3>Banned e-mail domains:</h3>
		
		<p>Enter domain names for e-mail addresses that you wish to prevent registering on your website e.g. 'hotmail.com'.</p>
		
		<p>You can enter multiple names separated by commas.</p>
		
		<h3>Add a new domain name:</h3>
		
		<form action="{$base_url}{$fil_admin_settings}" method="post">
		
		<input type="hidden" name="cmd" value="addBannedDomainNames" />
		
		<input type="text" name="user_domain" class="text" style="width:275px;" /><br /><br />
		
		<input type="submit" value="Add new domain" style="width:290px;" class="button" />
		
		</form>
		
		</div>

		<div class="form-box" style="width:520px; min-height:350px;">
		
		<form action="{$base_url}{$fil_admin_settings}" method="post">
		
		<input type="hidden" name="cmd" value="removeBannedDomainNames" />
		
		<h3>Banned domain names:</h3>
		
		<p>Users with e-mail addresses containing these domain names will not be able to register on your website if banning by domain name is activated (see above).</p>
		
		{html_fancy_select_multiple width='520' rows='8' options=$domain_name values=$domain_id name='domain_list'}
		
		<br />
		
		<input type="submit" value="Remove selected domains" style="width:50%; float:right;" class="formbutton" />
		
		<br clear="all" />
		
		</form>
		
		</div>

	</div>

    <div class="clear"></div>
       	
</div>

</div>

</div>

{include_template file="admin.snippets/admin.html.footer.tpl"}
