{*

/*
*
*	Pixaria Gallery
*	Copyright Jamie Longstaff
*
*/

*}{include_template file="admin.snippets/admin.html.header.tpl"}

<div id="admin-outerdiv">

<div id="admin-innerdiv">


{include_template file="shared/javascript.html"}






<form action="{$base_url}{$fil_admin_settings}" method="post" name="frm_settings" id="frm_settings" onsubmit="javascript:sendData('frm_settings','{$base_url}{$fil_admin_settings}'); return false;">

<input type="hidden" name="cmd" value="applySettings" />

<input type="hidden" name="settings[user_auto_approve]" value="checkbox" />
<input type="hidden" name="settings[user_ban_domains]" value="checkbox" />
<input type="hidden" name="settings[func_captcha_registration]" value="checkbox" />
<input type="hidden" name="settings[login_default]" value="checkbox" />
<input type="hidden" name="settings[login_notify]" value="checkbox" />
<input type="hidden" name="settings[login_memory]" value="checkbox" />

<input type="hidden" name="settings[user_default_priv_photographer]" value="checkbox" />
<input type="hidden" name="settings[user_default_priv_imgedit]" value="checkbox" />
<input type="hidden" name="settings[user_default_priv_imgdelete]" value="checkbox" />
<input type="hidden" name="settings[user_default_priv_hires]" value="checkbox" />


<ul id="form-tabs" class="form-tabs">
	<li class="tab"><a href="#login" title="Global configuration settings">Login &amp; Authentication</a></li>
	<li class="tab"><a href="#registration" title="Global configuration settings">User Registration</a></li>
</ul>

<br clear="all" />

<div class="tabcontainer">

	<div id="login" class="form-horizontal">
		
		<div class="form-body">
		
			<div class="form-box" style="width:400px; border-right:1px dotted #BBB; min-height:160px;">
				
				<h3>Login settings</h3>
				
				<br />
				
				<input type="checkbox" name="login_default" id="login_default" class="forminput" {if $set_login_default == "1"} checked="checked"{/if} /> <label for="login_default">Show login page by default when users not logged in</label>
				
				<br /><br />
				
				<input type="checkbox" name="login_notify" id="login_notify" class="forminput" {if $set_login_notify == "1"} checked="checked"{/if} /> <label for="login_notify">Notify me when someone logs in</label>
				
				<br /><br />
				
				<input type="checkbox" name="login_memory" id="login_memory" class="forminput" {if $set_login_memory == "1"} checked="checked"{/if} /> <label for="login_memory">Allow users to remain logged in</label>
				
				<br /><br />
				
			</div>
			
			<div class="clear"></div>
		
		</div>
		
	</div>

	<div id="registration" class="form-horizontal">
		
		<div class="form-body">
		
			<div class="form-box" style="width:280px; border-right:1px dotted #BBB; min-height:190px;">
				
				<h3>New User Registrations</h3>
				
				<br />
				
				<input type="checkbox" name="user_auto_approve" id="user_auto_approve" class="forminput" {if $set_user_auto_approve == "1"} checked="checked"{/if} /> <label for="user_auto_approve">Automatically activate new users</label>
				
				<br /><br />
				
				<input type="checkbox" name="func_captcha_registration" id="func_captcha_registration" class="forminput" {if $set_func_captcha_registration == "1"} checked="checked"{/if} /> <label for="func_captcha_registration">Use security CAPTCHA for registrations</label />
				
				<br /><br />
				
				<input type="checkbox" name="user_ban_domains" id="user_ban_domains" class="forminput" {if $set_user_ban_domains == "1"} checked="checked"{/if} /> <label for="user_ban_domains">Use e-mail domain banning</label> (<a href="{$base_url}{$fil_admin_settings}?cmd=regban">configure</a>)
			
			</div>
			
			<div class="form-box" style="width:280px; border-right:1px dotted #BBB; min-height:190px;">
				
				<h3>Default Privileges</h3>
				
				<br />
				
				<input type="checkbox" name="user_default_priv_photographer" id="user_default_priv_photographer" class="forminput" {if $set_user_default_priv_photographer == "1"} checked="checked"{/if} /> <label for="user_default_priv_photographer">Contributing photographer</label>
				
				<br /><br />
				
				<input type="checkbox" name="user_default_priv_imgedit" id="user_default_priv_imgedit" class="forminput" {if $set_user_default_priv_imgedit == "1"} checked="checked"{/if} /> <label for="user_default_priv_imgedit">Edit own photographs</label>
				
				<br /><br />
				
				<input type="checkbox" name="user_default_priv_imgdelete" id="user_default_priv_imgdelete" class="forminput" {if $set_user_default_priv_imgdelete == "1"} checked="checked"{/if} /> <label for="user_default_priv_imgdelete">Delete own photographs</label>
				
				<br /><br />
				
				<input type="checkbox" name="user_default_priv_hires" id="user_default_priv_hires" class="forminput" {if $set_user_default_priv_hires == "1"} checked="checked"{/if} /> <label for="user_default_priv_hires">High resolution downloads</label>
				
				<br /><br />
				
			</div>
			
			<div class="clear"></div>
		
		</div>
		
	</div>
	
	<div class="tab-button">
	
	<input type="submit" value="Apply Settings" id="submitbutton1" class="button" />
	
	<div id="status" class="confirmation" style="display:none;">Your changes have been saved.</div>
			
	<div class="clear"></div>
		
	</div>
	
</div>

<script type="text/javascript" language="javascript">var tabs = new Control.Tabs('form-tabs');{if $active_tab}tabs.setActiveTab('{$active_tab}');{/if}</script>

</form>



</div>

</div>

{include_template file="admin.snippets/admin.html.footer.tpl"}
