{*

/*
*
*	Pixaria Gallery
*	Copyright Jamie Longstaff
*
*/

*}{include_template file="admin.snippets/admin.html.header.tpl"}

<div id="admin-outerdiv">

<div id="admin-innerdiv">


{include_template file="shared/javascript.html"}





<form action="{$base_url}{$fil_admin_settings}" method="post" name="frm_settings" id="frm_settings" onsubmit="javascript:sendData('frm_settings','{$base_url}{$fil_admin_settings}'); return false;">

<input type="hidden" name="cmd" value="applySettings" />

<input type="hidden" name="settings[func_search]" value="checkbox" />
<input type="hidden" name="settings[search_opt_keywords]" value="checkbox" />
<input type="hidden" name="settings[search_opt_date]" value="checkbox" />
<input type="hidden" name="settings[search_opt_galleries]" value="checkbox" />
<input type="hidden" name="settings[search_opt_model_release]" value="checkbox" />
<input type="hidden" name="settings[search_opt_property_release]" value="checkbox" />
<input type="hidden" name="settings[search_opt_rights_managed]" value="checkbox" />
<input type="hidden" name="settings[search_orientation]" value="checkbox" />
<input type="hidden" name="settings[search_image_color]" value="checkbox" />
<input type="hidden" name="settings[search_caption]" value="checkbox" />
<input type="hidden" name="settings[search_title]" value="checkbox" />
<input type="hidden" name="settings[search_filename]" value="checkbox" />
<input type="hidden" name="settings[func_search_log]" value="checkbox" />
<input type="hidden" name="settings[search_default_order]" value="text" />
<input type="hidden" name="settings[search_max_limit]" value="text" />
<input type="hidden" name="settings[search_opt_wildcard_keywords]" value="checkbox" />


<ul id="form-tabs" class="form-tabs">
	<li class="tab"><a href="#search" title="Global configuration settings">Search Engine</a></li>
	<li class="tab"><a href="#options" title="Pixaria Gallery features">Options</a></li>
	<li class="tab"><a href="#keywords" title="Pixaria Gallery features">Keyword Matching</a></li>
	<li class="tab"><a href="#advanced" title="Pixaria Gallery features">Advanced</a></li>
</ul>

<br clear="all" />

<div class="tabcontainer">

	<div id="search" class="form-horizontal">
		
		<div class="form-body">
		
			<div class="form-box" style="width:700px;">
			
			<h3>About Pixaria's Search Engine</h3>
			
			<p>Pixaria Gallery includes a powerful search engine that gives visitors to your site many ways to find images in your library.  To get the best out of the search engine, you should configure it carefully to ensure smooth operation and to keep searches as fast and efficient as possible.</p>
			
			<p>Some configuration options are not recommended for very large libraries as they can result in slow searches.  These options are clearly listed so you can avoid them if you want the fastest possible experience for your visitors.</p>
						
			<input type="checkbox" name="func_search" id="func_search" class="forminput" {if $set_func_search == "1"} checked="checked"{/if}> <label for="func_search">Enable the search functions</label>
	
			</div>
					
			<div class="clear"></div>
		
		</div>
		
	</div>

	<div id="options" class="form-horizontal">
	
		<div class="form-body">
		
			<div class="form-box" style="min-height:240px; width:240px;">
			
			<h3>Configure the search form</h3>
			
			<p>The default advanced search form offers many different parameters which visitors can use to find images in your library however not all of them may be applicable to your site or you may wish to simplify the form.</p>
			
			<p>Use the checkboxes on the right to select which form items you want to show in the advanced search.</p>
			
			</div>
			
			<div class="form-box" style="min-height:240px; width:240px;">
			
			<h3>Search form options</h3>
			
			<input type="checkbox" name="search_opt_keywords" id="search_opt_keywords" class="forminput" {if $set_search_opt_keywords == "1"} checked="checked"{/if}> <label for="search_opt_keywords">Search by keyword</label><br />
			<input type="checkbox" name="search_opt_date" id="search_opt_date" class="forminput" {if $set_search_opt_date == "1"} checked="checked"{/if}> <label for="search_opt_date">Search by date</label><br />
			<input type="checkbox" name="search_opt_galleries" id="search_opt_galleries" class="forminput" {if $set_search_opt_galleries == "1"} checked="checked"{/if}> <label for="search_opt_galleries">Search within specific gallery</label><br />
			<input type="checkbox" name="search_opt_model_release" id="search_opt_model_release" class="forminput" {if $set_search_opt_model_release == "1"} checked="checked"{/if}> <label for="search_opt_model_release">Search by model release status</label><br />
			<input type="checkbox" name="search_opt_property_release" id="search_opt_property_release" class="forminput" {if $set_search_opt_property_release == "1"} checked="checked"{/if}> <label for="search_opt_property_release">Search by property release status</label><br />
			<input type="checkbox" name="search_opt_rights_managed" id="search_opt_rights_managed" class="forminput" {if $set_search_opt_rights_managed == "1"} checked="checked"{/if}> <label for="search_opt_rights_managed">Search by rights settings</label><br />
			<input type="checkbox" name="search_orientation" id="search_orientation" class="forminput" {if $set_search_orientation == "1"} checked="checked"{/if}> <label for="search_orientation">Enable search by image orientation</label><br />
			
			
			</div>
			
			<div class="form-box" style="min-height:240px; width:240px;">
			
			<h3>Searching by colour</h3>
			
			<input type="checkbox" name="search_image_color" id="search_image_color" class="forminput" {if $set_search_image_color == "1"} checked="checked"{/if}> <label for="search_image_color">Enable search by image colour</label><br />
			
			<p style="color:#B50400;">Colour searching only works for images that have been tagged with a key colour on the 'edit image' screen.</p>
			</div>
					
			<div class="clear"></div>
		
		</div>
		
	</div>
	
	<div id="keywords" class="form-horizontal">
	
		<div class="form-body">
		
			<div class="form-box" style="width:450px; min-height:300px;">
			
			<h3>Configure keyword searching</h3>
			
			<p>Pixaria contains a powerful 'Boolean operator' search system that allows visitors to find images by constructing keyword queries containing 'and', 'or', 'not' commands to include, exclude or require keywords.</p>
			
			<h3>Wildcard keywords  <span class="beta">Beta!</span></h3>
			
			<p>Pixaria now includes experimental support for wildcard keywords which allow you to assign special keywords to your images that can be matched by multiple search keywords.  For example, if the following wildcard keyword is assigned to an image: <tt>21.*2|.*.*56</tt> then, that image could be matched by searching for: 2112, 2132, 3456, 9956 etc.</p>
			
			<p class="bold">N.B. Wildcard searching can result in slower searches.</p>
			
			<input type="checkbox" id="search_opt_wildcard_keywords" name="search_opt_wildcard_keywords" class="forminput" {if $set_search_opt_wildcard_keywords == "1"} checked="checked"{/if} /><label for="search_opt_wildcard_keywords">Enable support for wildcard keywords</label><br />
			
			</div>
			
			<div class="form-box" style="min-height:300px; width:450px;">
			
			<h3>Keyword matching settings</h3>
			
			<p>By default, the search engine matches keywords from image titles, filenames and captions as well as the special image keywords field but complex searches can take longer to run against all four of these fields.  The options on the right allow you to control which image data fields are included in keyword searches.</p>
			
			<p class="bold">Disabling these options will improve the speed of searches on your site.</p>
			
			<input type="checkbox" name="search_caption" id="search_caption" class="forminput" {if $set_search_caption == "1"} checked="checked"{/if}> <label for="search_caption">Keyword match image captions</label><br />
			
			<input type="checkbox" name="search_title" id="search_title" class="forminput" {if $set_search_title == "1"} checked="checked"{/if}> <label for="search_title">Keyword match image titles</label><br />
			
			<input type="checkbox" name="search_filename" id="search_filename" class="forminput" {if $set_search_filename == "1"} checked="checked"{/if}> <label for="search_filename">Keyword match image file names</label><br />
			
			</div>
			
			<div class="clear"></div>
		
		</div>
		
	</div>
	
	<div id="advanced" class="form-horizontal">
	
		<div class="form-body">
		
			<div class="form-box" style="width:350px; min-height:250px;">
			
			<h3>Advanced options</h3>
			
			<p>Here you can configure the default order in which search results are returned, enable logging of search terms and set maximum number of possible search results from a single query.</p>
			
			<h3>Maximum search limit</h3>
			
			<p>Reducing the maximum possible number of results from a single search can dramatically improve the performance of searches on your site especially if it gets a lot of traffic.  Realistically, users are unlikely to browse through result sets larger than about 2,000 images and should be encouraged to enter more specific search terms.</p>
			
			
			</div>
			
			<div class="form-box" style="min-height:250px; width:350px;">
			
			<h3>Search results logging:</h3>
			
			<input type="checkbox" name="func_search_log" id="func_search_log" class="forminput" {if $set_func_search_log == "1"} checked="checked"{/if}> <label for="func_search_log">Enable search keyword logging</label>
			
			<h3>Search results ordering:</h3>
			
			<select name="search_default_order" class="select" style="width:100%;">
			<option value="1"{if $set_search_default_order == 1} selected="selected"{/if}>Most recent images first</option>
			<option value="2"{if $set_search_default_order == 2} selected="selected"{/if}>Closest matches first</option>
			<option value="3"{if $set_search_default_order == 3} selected="selected"{/if}>A - Z</option>
			<option value="4"{if $set_search_default_order == 4} selected="selected"{/if}>Z - A</option>
			</select>
			
			<br />
			
			<h3>Maximum number of results:</h3>
			
			<p style="color:#B50400;">Reducing this number will improve the speed of searches.</p>
			
			<select name="search_max_limit" class="select" style="width:100%;">
			<option value="500"{if $set_search_max_limit == 500} selected="selected"{/if}>500 images</option>
			<option value="1000"{if $set_search_max_limit == 1000} selected="selected"{/if}>1000 images (recommended)</option>
			<option value="2000"{if $set_search_max_limit == 2000} selected="selected"{/if}>2000 images</option>
			<option value="10000"{if $set_search_max_limit == 10000} selected="selected"{/if}>Unlimited (not recommended)</option>
			</select>
			
			</div>
					
			<div class="clear"></div>
		
		</div>
		
	</div>
	
	<div class="tab-button">
	
	<input type="submit" value="Apply Settings" id="submitbutton1" class="button" />
	
	<div id="status" class="confirmation" style="display:none;">Your changes have been saved.</div>
			
	<div class="clear"></div>
		
	</div>
	
</div>

</form>

<script type="text/javascript" language="javascript">var tabs = new Control.Tabs('form-tabs');{if $active_tab}tabs.setActiveTab('{$active_tab}');{/if}</script>




</div>

</div>

{include_template file="admin.snippets/admin.html.footer.tpl"}
