{*

/*
*
*	Pixaria Gallery
*	Copyright Jamie Longstaff
*
*/

*}{include_template file="admin.snippets/admin.html.header.tpl"}

{include_template file="shared/javascript.html"}

{include_template file="admin.image/image.hud.color.palette.tpl"}

<div id="admin-outerdiv">

<div id="admin-innerdiv">


<form action="{$base_url}{$fil_admin_image}" method="post" id="edit_image" name="edit_image" onsubmit="javascript:return false;">

<input type="hidden" name="cmd" value="save" />
<input type="hidden" name="referer" value="{$referer}" />
<input type="hidden" name="return" value="{$return}" />
<input type="hidden" name="image_id" value="{$image_id}" />


<ul id="form-tabs" class="form-tabs">
	<li class="tab"><a href="#properties" title="Image basic properties">Properties</a></li>
	<li class="tab"><a href="#store" title="Pricing and products">Store</a></li>
	<li class="tab"><a href="#rights" title="Rights management and permission">Rights Management</a></li>
	<li class="tab"><a href="#custom" title="Custom fields">Custom Fields</a></li>
</ul>

<br clear="all" />

<div class="tabcontainer">

	<div id="properties" class="form-horizontal">
		
		<div class="form-body">
			
			<div class="form-box" style="min-height:420px; width:200px;">
			
				<h3>Thumbnail preview:</h3>
				
				<a href="javascript:openPop('{$base_url}{$fil_admin_image_output}?html={$image_comp_encoded}&amp;','{$image_comp_dims.0-2}','{$image_comp_dims.1-2}','no','no','no','no','no','no','no');"><img src="{$base_url}{$fil_admin_image_output}?file={$image_large_encoded}&amp;" width="{$image_large_dims.0}" height="{$image_large_dims.1}" title="Click here to show this image at full size" alt="Click here to show this image at full size" class="thumbnail" /></a><br /><br />
				
				<input type="checkbox" name="image_active" id="image_active" class="forminput" {if $image_active}checked="checked"{/if} /> <label for="image_active">Image is enabled</label>
				
				<h3>Colour search options:</h3>
			
				<input type="checkbox" name="image_colr_enable" id="image_colr_enable" class="forminput" {if $image_colr_enable}checked="checked"{/if} /> <label for="image_colr_enable">Enable colour search</label>
				
				<div id="color_picker">
				
					<h3>Image median colour:</h3>
					
					<div style="width:180px;">
					
					<div style="float:left; width:30px; height:30px; background:#{$image_colr_average_hex}; margin:5px; cursor:pointer;" onclick="javascript:showHud();"></div>
					<div style="float:left; width:130px; margin:5px;">
					
						<div>Hex: {$image_colr_average_hex}</div>
						<div>RGB: {$image_colr_average_dec}</div>
					
					</div>
					
					</div>

					<div class="clear"></div>
					
					<h3>Colour palette selection:</h3>
					
					<div style="width:180px;">
					
					<div style="float:left; width:30px; height:30px; background:#{$image_colr_hex.3}; margin:5px; cursor:pointer;" id="selected-color-form" onclick="javascript:showHud();"></div>
					<div style="float:left; width:130px; margin:5px;">
					
						<div id="color-form-hex">Hex: {$image_colr_hex.3}</div>
						<div id="color-form-rgb">RGB: {$image_colr_dec.3}</div>
					
					</div>
					
					</div>
					
					<input type="hidden" name="image_colr_r" id="image_colr_r" value="{$image_colr_r}" />
					<input type="hidden" name="image_colr_g" id="image_colr_g" value="{$image_colr_g}" />
					<input type="hidden" name="image_colr_b" id="image_colr_b" value="{$image_colr_b}" />
			
				
				</div>

			</div>
			
			<div class="form-box" style="min-height:420px; width:300px;">
			
				<h3>Image title:</h3>
				<input type="text" name="image_title" value="{$image_title}" style="width:280px;" class="text" />
				
				<h3>Image caption:</h3>
				<textarea name="image_caption" style="width:295px;" rows="3" class="text" cols="10">{$image_caption}</textarea>
				
				<h3>Keywords</h3>
				{textbox_list name="image_keywords" items=$image_keywords width="288" height="90"}
				
				<h3>Copyright holder:</h3>
				<input type="text" name="image_copyright" value="{$image_copyright}" style="width:280px;" class="text" />
	
			</div>
						
			<div class="form-box" style="min-height:420px; width:300px;">
					
				<h3>Image owner:</h3>
				<select name="image_userid" style="width:300px;" class="select">
				{section name="photographers" loop=$user_id}
				<option value="{$user_id[photographers]}" {if $image_userid == $user_id[photographers]}selected="selected"{/if}>{$user_name[photographers]}</option>	
				{/section}
				</select>

				<h3>Image date:</h3>
				{html_select_date prefix="toda_" time=$image_mysql_date start_year="-100" display_days=true all_extra='class="select"'}
				
				<h3>Image time:</h3>
				{html_select_time prefix="toda_" time=$image_mysql_date all_extra='class="select"'}
				
				<h3>GPS Longitude:</h3>
				<input type="text" name="gps_longitude" value="{$gps_longitude}" style="width:280px;" class="text" />
				
				<h3>GPS Latitude:</h3>
				<input type="text" name="gps_latitude" value="{$gps_latitude}" style="width:280px;" class="text" />
							
			</div>

			<div class="clear"></div>
			
		</div>
		
	</div>
	
	<div id="store" class="form-horizontal">
		
		<div class="form-body">

			<div class="form-box" style="min-height:280px; width:200px;">
			
				<h3>Default purchase price:</h3>
				<input type="text" name="image_price" value="{$image_price}" length="10" style="width:50px;" class="text" /> {$set_store_currency}
				
				<h3>Include image in the store:</h3>
				<input type="checkbox" name="image_sale" id="image_sale" class="forminput" {if $image_sale == 1}checked="checked"{/if}/> <label for="image_sale">Image is for sale</label>
				
				
			</div>
			
			<div class="form-box" style="min-height:280px; width:530px;">
				
				<h3>Products available for this image:</h3>
				
				<input type="radio" name="image_product_link" id="image_product_link_1" value="0" class="forminput" {if $image_product_link == 0}checked="checked"{/if}/>
				<label for="image_product_link_1">All image products</label><br />
				
				<input type="radio" name="image_product_link" id="image_product_link_2" value="1" class="forminput" {if $image_product_link == 1}checked="checked"{/if}/>
				<label for="image_product_link_2">Selected image products (choose from list below):</label>
				
				<h3></h3>
				{html_fancy_select_multiple options=$product_name values=$product_id name='image_products' selected=$image_product_array width='520' rows='6'}
				
			</div>
			
			<div class="clear"></div>
		
		</div>
		
	</div>
	
	<div id="rights" class="form-horizontal">
		
		<div class="form-body">
		
			<div class="form-box" style="min-height:300px; width:230px;">
			
				<h3>Image usage rights:</h3>
				
				<select name="image_rights_type" style="width:230px;" class="select">
				<option value="10"{if $image_rights_type=="10"} selected="selected"{/if}>Royalty free</option>		
				<option value="11"{if $image_rights_type=="11"} selected="selected"{/if}>Rights managed</option>		
				</select>
				
				<h3>Rights management information:</h3>
				<textarea cols="30" rows="3" name="image_rights_text" style="width:225px;" class="text">{$image_rights_text}</textarea>
				
				<h3>Model release:</h3>
				<input type="checkbox" name="image_model_release" id="image_model_release" class="forminput" {if $image_model_release == 1}checked="checked"{/if} />
				<label for="image_model_release">This image has a model release</label>
				
				
				<h3>Property release:</h3>
				<input type="checkbox" name="image_property_release" id="image_property_release" class="forminput" {if $image_property_release == 1}checked="checked"{/if} />
				<label for="image_property_release">This image has a property release</label>
			
			</div>
			
			<div class="form-box" style="min-height:300px; width:450px;">
			
				<h3>Make images visible to site visitors:</h3>
				<input type="radio" name="image_permissions" id="image_permissions_1" value="10"{if $image_permissions=="10"} checked="checked"{/if} />
				<label for="image_permissions_1">All users</label><br />
				
				<input type="radio" name="image_permissions" id="image_permissions_2" value="11"{if $image_permissions=="11"} checked="checked"{/if} />
				<label for="image_permissions_2">Registered users only</label><br />
				
				<input type="radio" name="image_permissions" id="image_permissions_3" value="12"{if $image_permissions=="12"} checked="checked"{/if} />
				<label for="image_permissions_3">Selected user groups</label><br />
			
				<h3>Groups who can view this image:</h3>
				{html_fancy_select_multiple options=$group_title values=$group_id name='image_viewers' selected=$image_group_links width='450' rows='6'}
			
			</div>
			
			<div class="clear"></div>
			
		</div>
		
	</div>
	
	<div id="custom" class="form-horizontal">
		
		<div class="form-body">
		
			<div class="form-box" style="min-height:330px; width:330px;">
				
				<h3>Custom fields</h3>
				
				<p>You can use custom fields to store information about your images which doesn't fit into any of the standard metadata fields.  Information you enter here can be displayed on the front end of your website by editing the templates for image thumbnails and the image detail views.</p>
				
				<p>To define names for custom fields on your site, please see the options in the <a href="{$base_url}{$fil_admin_settings}/extended">General Settings</a> control panel.</p>
				
			</div>
			
			<div class="form-box" style="min-height:330px; width:330px;">
				
				<h3>{$set_extra_field_01}:</h3>
				<input type="text" name="image_extra_01" value="{$image_extra_01}" style="width:310px;" class="text" />
				
				<h3>{$set_extra_field_02}:</h3>
				<input type="text" name="image_extra_02" value="{$image_extra_02}" style="width:310px;" class="text" />
				
				<h3>{$set_extra_field_03}:</h3>
				<input type="text" name="image_extra_03" value="{$image_extra_03}" style="width:310px;" class="text" />
				
				<h3>{$set_extra_field_04}:</h3>
				<input type="text" name="image_extra_04" value="{$image_extra_04}" style="width:310px;" class="text" />
				
				<h3>{$set_extra_field_05}:</h3>
				<input type="text" name="image_extra_05" value="{$image_extra_05}" style="width:310px;" class="text" />
				
			</div>
			
			<div class="clear"></div>
		
		</div>
		
	</div>
	
	<div class="tab-button">
	
	<input type="button" value="Save Changes" class="button" onclick="sendData('edit_image','{$base_url}resources/admin/image.php');" />
	
	<input type="button" value="Go Back" class="button" onclick="javascript:history.go(-1);" />
	
	<div id="status" class="confirmation" style="display:none;">Your changes have been saved.</div>
			
	<div class="clear"></div>
		
	</div>
	
</div>

<script type="text/javascript" language="javascript">var tabs = new Control.Tabs('form-tabs');{if $active_tab}tabs.setActiveTab('{$active_tab}');{/if}</script>


</form>

</div>

</div>



<!-- INCLUDE THE BOTTOM HTML TEMPLATE -->
{include_template file="admin.snippets/admin.html.footer.tpl"}