{*

/*
*
*	Pixaria Gallery
*	Copyright Jamie Longstaff
*
*/

*}{include_template file="admin.snippets/admin.html.header.tpl"}

{include_template file="shared/javascript.html"}

<div id="admin-outerdiv">

<div id="admin-innerdiv">

<form action="{$base_url}{$fil_admin_image}" method="post" id="edit_image" name="edit_image" onsubmit="javascript:return false;">

<input type="hidden" name="cmd" value="saveMultiple" />

{section name="images" loop="$image_id"}
<input type="hidden" name="image_id[]" value="{$image_id[images]}" />
{/section}

<ul id="form-tabs" class="form-tabs">
	<li class="tab"><a href="#properties" title="Image basic properties">Properties</a></li>
	<li class="tab"><a href="#store" title="Pricing and products">Store</a></li>
	<li class="tab"><a href="#rights" title="Rights management and permission">Rights Management</a></li>
	<li class="tab"><a href="#custom" title="Custom fields">Custom Fields</a></li>
</ul>

<br clear="all" />

<div class="tabcontainer">

	<div id="properties" class="form-horizontal">
		
		<div class="form-body">
			
			<div class="form-box" style="min-height:370px; width:290px;">
			
				<h3><input type="checkbox" class="forminput" name="change_active" id="change_active" /> <label for="change_active">Active status</label></h3>
				
				<div style="margin-left:25px;">
				<input type="checkbox" class="forminput" name="image_active" id="image_active" /> <label for="image_active">Check to make images active</label>
				</div>
				
				
				<h3><input type="checkbox" class="forminput" name="change_date" id="change_date" /> <label for="change_date">Date and Time</label></h3>
				
				<div style="margin-left:25px;">
				{html_select_date prefix="toda_" time=$smarty.now start_year="-100" display_days=true all_extra='class="select"'}<br />{html_select_time prefix="toda_" time=$smarty.now all_extra='class="select"'}
				</div>
				
				
				<h3><input type="checkbox" class="forminput" name="change_title" id="change_title" /> <label for="change_title">Display title</label></h3>
				
				<div style="margin-left:25px;">
				<input type="text" name="image_title" value="{$image_title}" style="width:245px;" class="text" />
				</div>
				
				
				<h3><input type="checkbox" class="forminput" name="change_caption" id="change_caption" /> <label for="change_caption">Caption text</label></h3>
				
				<div style="margin-left:25px;">
				<textarea name="image_caption" style="width:260px;" rows="5" class="text" />{$image_caption}</textarea>
				</div>
				
			</div>
			
			<div class="form-box" style="min-height:370px; width:290px;">
			
				<h3><input type="checkbox" class="forminput" name="change_keywords" id="change_keywords" /> <label for="change_keywords">Keywords</label></h3>
				
				<div style="margin-left:25px;">
				
					<input type="checkbox" class="forminput" name="append_keywords" id="append_keywords" checked="checked" /> <label for="append_keywords">Append new keywords to existing ones</label>
					
					{textbox_list name="image_keywords" items=$image_keywords width="253" height="220"}
					
				</div>
				
			</div>
			
			<div class="form-box" style="min-height:370px; width:290px;">
			
				<h3><input type="checkbox" class="forminput" name="change_width" id="change_width" /> <label for="change_width">Width</label></h3>
				
				<div style="margin-left:25px;">
					<input type="text" name="image_width" value="{$image_width}" style="width:245px;" class="text" />
				</div>
				
				<h3><input type="checkbox" class="forminput" name="change_height" id="change_height" /> <label for="change_height">Height</label></h3>
				
				<div style="margin-left:25px;">
					<input type="text" name="image_height" value="{$image_height}" style="width:245px;" class="text" />
				</div>
				
				<h3><input type="checkbox" class="forminput" name="change_userid" id="change_userid" /> <label for="change_userid">Image owner</label></h3>
				
				<div style="margin-left:25px;">
				
					<select name="image_userid" style="width:260px;" class="select">
					{section name="photographers" loop=$user_id}
					<option value="{$user_id[photographers]}">{$user_name[photographers]}</option>	
					{/section}
					</select>

				</div>
				
				<h3><input type="checkbox" class="forminput" name="change_copyright" id="change_copyright" /> <label for="change_copyright">Copyright</label></h3>
				
				<div style="margin-left:25px;">
					<input type="text" name="image_copyright" value="{$image_copyright}" style="width:245px;" class="text" />
				</div>
				
			</div>
			
			<div class="clear"></div>
			
		</div>
		
	</div>
	
	<div id="store" class="form-horizontal">
		
		<div class="form-body">
			
			<div class="form-box" style="min-height:260px; width:290px;">
			
				<h3><input type="checkbox" class="forminput" name="change_price" id="change_price" /> <label for="change_price">Price ({$set_store_currency}):</label></h3>
				
				<div style="margin-left:25px;">
					<input type="text" name="image_price" value="{$image_price}" style="width:245px;" class="text" />
				</div>
			
				<h3><input type="checkbox" class="forminput" name="change_sale" id="change_sale" /> <label for="change_sale">Are these images for sale:</label></h3>
				
				<div style="margin-left:25px;">
					<input type="checkbox" name="image_sale" id="image_sale" class="forminput" /> <label for="image_sale">Check to activate<label>
				</div>
			
			</div>
			
			<div class="form-box" style="min-height:260px; width:490px;">
			
				<h3><input type="checkbox" class="forminput" name="change_image_product_link" id="change_image_product_link" /> <label for="change_image_product_link">Products linked to this image</label></h3>
				
				<div style="margin-left:25px;">

					<input type="radio" name="image_product_link" id="image_product_link_1" value="0" class="forminput" {if $image_product_link == 0}checked="checked"{/if}/>
					<label for="image_product_link_1">All image products</label><br />
					
					<input type="radio" name="image_product_link" id="image_product_link_2" value="1" class="forminput" {if $image_product_link == 1}checked="checked"{/if}/>
					<label for="image_product_link_2">Only selected image products:</label>
					
					{html_fancy_select_multiple options=$product_name values=$product_id name='image_products' selected=$image_product_array width='460' rows='6'}
				</div>
			
			</div>
			
			<div class="clear"></div>
			
		</div>
		
	</div>
	
	<div id="rights" class="form-horizontal">
		
		<div class="form-body">
			
			<div class="form-box" style="min-height:310px; width:290px;">
			
				<h3><input type="checkbox" class="forminput" name="change_rights_type" id="change_rights_type" /> <label for="change_rights_type">Rights management type</label></h3>
				
				<div style="margin-left:25px;">
					
					<select name="image_rights_type" style="width:260px;" class="select">
					<option value="10"{if $image_rights_type=="10"} selected="selected"{/if}>Royalty free</option>		
					<option value="11"{if $image_rights_type=="11"} selected="selected"{/if}>Rights managed</option>		
					</select>

				</div>
			
				<h3><input type="checkbox" class="forminput" name="change_rights_text" id="change_rights_text" /> <label for="change_rights_text">Rights management information</label></h3>
				
				<div style="margin-left:25px;">
					<textarea cols="30" rows="3" name="image_rights_text" value="{$keywords}" style="width:260px;" class="text" />{$image_rights_text}</textarea>
				</div>
			
				<h3><input type="checkbox" class="forminput" name="change_model_release" id="change_model_release" /> <label for="change_model_release">Model release</label></h3>
				
				<div style="margin-left:25px;">
					<input type="checkbox" name="image_model_release" id="image_model_release" class="forminput" /> <label for="image_model_release">Check to apply</label>
				</div>
			
				<h3><input type="checkbox" class="forminput" name="change_property_release" id="change_property_release" /> <label for="change_property_release">Property release</label></h3>
				
				<div style="margin-left:25px;">
					<input type="checkbox" name="image_property_release" id="image_property_release" class="forminput" /> <label for="image_property_release">Check to apply</label>
				</div>
			
			</div>
			
			<div class="form-box" style="min-height:310px; width:490px;">
			
				<h3><input type="checkbox" class="forminput" name="change_permissions" id="change_permissions" /> <label for="change_permissions">Images visible to</label></h3>
				
				<div style="margin-left:25px;">
					
					<input type="radio" name="image_permissions" id="image_permissions_1" value="11" checked="checked">
					<label for="image_permissions_1">Registered users only</label><br />
					
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="image_permissions" id="image_permissions_2" value="10">
					<label for="image_permissions_2">All users</label><br />
					
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="image_permissions" id="image_permissions_3" value="12">
					<label for="image_permissions_3">Selected user groups</label><br />
					
				</div>
			
				<h3><input type="checkbox" class="forminput" name="change_viewers" id="change_viewers" /> <label for="change_viewers">Visible to groups</label></h3>
				
				<div style="margin-left:25px;">
					{html_fancy_select_multiple options=$group_name values=$group_id name='image_viewers' selected=$viewer_id width='460' rows='6'}
				</div>
			
			</div>
			
			<div class="clear"></div>
			
		</div>


	</div>
	
	<div id="custom" class="form-horizontal">
		
		<div>
		
			<table class="form-table">
			
			<tbody>
			
			<tr class="row1">
			<td style="width:16px; vertical-align:top; padding-top:6px;"><input type="checkbox" class="forminput" name="change_image_extra_01" id="change_image_extra_01" /></td>
			<th><label for="change_image_extra_01">{$set_extra_field_01}:</label></th>
			<td>
			
			<input type="text" name="image_extra_01" value="{$image_extra_01}" style="width:280px;" class="text" /></td>
			<td>&nbsp;</td>
			</tr>
			
			<tr class="row1">
			<td style="width:16px; vertical-align:top; padding-top:6px;"><input type="checkbox" class="forminput" name="change_image_extra_02" id="change_image_extra_02" /></td>
			<th><label for="change_image_extra_02">{$set_extra_field_02}:</label></th>
			<td>
			
			<input type="text" name="image_extra_02" value="{$image_extra_02}" style="width:280px;" class="text" /></td>
			<td>&nbsp;</td>
			</tr>
			
			<tr class="row1">
			<td style="width:16px; vertical-align:top; padding-top:6px;"><input type="checkbox" class="forminput" name="change_image_extra_03" id="change_image_extra_03" /></td>
			<th><label for="change_image_extra_03">{$set_extra_field_03}:</label></th>
			<td>
			
			<input type="text" name="image_extra_03" value="{$image_extra_03}" style="width:280px;" class="text" /></td>
			<td>&nbsp;</td>
			</tr>
			
			<tr class="row1">
			<td style="width:16px; vertical-align:top; padding-top:6px;"><input type="checkbox" class="forminput" name="change_image_extra_04" id="change_image_extra_04" /></td>
			<th><label for="change_image_extra_04">{$set_extra_field_04}:</label></th>
			<td>
			<input type="text" name="image_extra_04" value="{$image_extra_04}" style="width:280px;" class="text" /></td>
			<td>&nbsp;</td>
			</tr>
			
			<tr class="{cycle values='row1,row2' advance='0'}">
			<td style="width:16px; vertical-align:top; padding-top:6px;"><input type="checkbox" class="forminput" name="change_image_extra_05" id="change_image_extra_05" /></td>
			<th><label for="change_image_extra_05">{$set_extra_field_05}:</label></th>
			<td>
			<input type="text" name="image_extra_05" value="{$image_extra_05}" style="width:280px;" class="text" /></td>
			<td>&nbsp;</td>
			</tr>
			
			</tbody>
			
			</table>
			
			<div class="clear"></div>
		
		</div>
		
	</div>
	
	<div class="tab-button">
	
	<input type="button" value="Apply Changes" class="button" onclick="javascript:sendData('edit_image','{$base_url}resources/admin/image.php');" />
	
	<input type="button" value="Go Back" class="button" onclick="javascript:history.go(-1);" />
	
	<div id="status" class="confirmation" style="display:none;">Your changes have been saved.</div>
			
	<div class="clear"></div>
		
	</div>
	
</div>

<script type="text/javascript" language="javascript">var tabs = new Control.Tabs('form-tabs');{if $active_tab}tabs.setActiveTab('{$active_tab}');{/if}</script>


</form>

</div>

</div>



<!-- INCLUDE THE BOTTOM HTML TEMPLATE -->
{include_template file="admin.snippets/admin.html.footer.tpl"}



