{*

/*
*
*	Pixaria Gallery
*	Copyright Jamie Longstaff
*
*/

*}{include_template file="admin.snippets/admin.html.header.tpl"}

<div id="admin-outerdiv">

<div id="admin-innerdiv">

{if $errors_count > 0}
	
	<form action="{$action}" method="post">
	
	<table class="table-text" border="0" cellpadding="3" cellspacing="0">
	
	<tr>
	<th>The images have been removed from your library database but some of the actual image files could not be moved because Pixaria did not have the correct permissions to access them.</th>
	
	<td>
	
	<h1>Some image files not deleted</h1>
	
	<p>Some of the items in your selection could not be deleted or moved.  This is most likely because the permissions on them do not allow Pixaria to manipulate them automatically.</p>
	
	
	<p>You will need to use an FTP program to manually delete or move the following item(s):</p>
	
	<input type="button" onclick="javascript:window.print();" value="Print a copy of this page" style="width:100%;" class="formbutton" />
	
	</td>
	<td>&nbsp;</td>
	
	</tr>
	
	</table>
	
	</form>
	
	
	
	<table class="table-listbox">

	<tr>
		<th>Complete path to the images that could not be moved or deleted</th>	
	</tr>

	{section name="item" loop=$errors}
	
		<tr class="{cycle values='list-one,list-two'}">
		<td style="height:30px;">{$errors[item]}</td>
		</tr>
	
	{/section}
	
	</table>
	
	


{else}

	<form action="{$referer}" method="post">
	
	<table class="table-text" border="0" cellpadding="3" cellspacing="0">
	
	<tr>
	<th>The selected images have been deleted from your image library.</th>
	<td>
	
	<h1>The images were deleted</h1>
	
	<p>the selected images have been completely removed from your library.</p>
	
	<input type="submit" value="Go back to your previous activity" style="width:100%;" class="formbutton" />
	
	</td>
	<td>&nbsp;</td>
	</tr>
	
	</table>
	
	</form>

{/if}

</div>

</div>



<!-- INCLUDE THE TOP HTML TEMPLATE -->
{include_template file="admin.snippets/admin.html.footer.tpl"}

