{*

/*
*
*	Pixaria Gallery
*	Copyright Jamie Longstaff
*
*/

*}{include_template file="admin.snippets/admin.html.header.tpl"}

<div id="admin-outerdiv">

<div id="admin-innerdiv">




<form method="post" id="image_list" name="image_list" action="{$base_url}{$fil_admin_image}">

<input type="hidden" name="cmd" id="cmd" value="" />

<table class="list">

<tr>
<th colspan="9">Viewing images not in any gallery</th>
</tr>

<tr>
<td colspan="9" class="options">

		<div class="option-title">Page number: </div>
			
		<div class="pagination">
		
			{section name="ipages" loop=$ipage_numbers}
			
				{if $ipage_numbers[ipages] == $ipage_current}
				
					<a href="{$ipage_links[ipages]}" class="current">{$ipage_numbers[ipages]}</a>
				
				{else}
				
					<a href="{$ipage_links[ipages]}">{$ipage_numbers[ipages]}</a>
				
				{/if}
			
			{/section}
			
		</div>


</td>
</tr>

<tr>
<td colspan="9" class="options">

	<div class="option-title">Items per page: </div>
		
	<div>
		
		<input type="text" size="3" maxlength="3" id="thumb_per_page" name="thumb_per_page" value="{$set_thumb_per_page}" class="page_button" />
		<input type="button" value="Images per page" onclick="javascript:updateCookie(1,document.getElementById('thumb_per_page').value,'1|{$set_thumb_per_page}|{$set_gallery_per_page}|{$set_view_thumb_view}');location.href='{$base_url}{$fil_admin_image}';" class="formbutton" />
		
	</div>
	
</td>
</tr>
	



<tr>
	<th><input title="Toggle all checkboxes" type="checkbox" name="toggle" onclick="javascript:this.checked ? selectAll('image_list','images[]') : deselectAll('image_list','images[]');" checked="checked" /></th>
	<th colspan="2">Filename</th>
	<th style="text-align:center;">Active</th>
	<th>Owner</th>	
	<th>Title</th>	
	<th>Dimensions</th>
	<th>Actions</th>
</tr>

{section name="assets" loop=$icon_path}

	<tr class="{cycle values='row1,row2'}">
	
	<td style="width:18px;"><input id="radio_row_{$smarty.section.assets.index}" type="checkbox" name="images[]" value="{$image_id[assets]}" checked="checked" /></td>
	
	<td style="width:30px; height:42px; text-align:center; border-right:0;"><a href="javascript:imagePreviewWindow('{$base_url}{$fil_admin_image_output}?html={$comp_path[assets]}&amp;','{$comp_width[assets]}','{$comp_height[assets]}');"><img src="{$base_url}{$fil_admin_image_output}?file={$icon_path[assets]}&amp;" border="0" width="{$icon_width[assets]}" height="{$icon_height[assets]}" title="{$image_filename[assets]}" alt="{$image_filename[assets]}" class="icon" /></a>
	</td>
	
	<td><a class="plain" href="javascript:imagePreviewWindow('{$base_url}{$fil_admin_image_output}?html={$comp_path[assets]}&amp;','{$comp_width[assets]}','{$comp_height[assets]}');">{$image_filename[assets]}</a></td>
	
	<td style="text-align:center;">
	{if $image_active[assets]}
	<img src="{$base_url}resources/images/icons/27x27/tick.png" alt="Inactive" width="27" height="27" border="0" title="This image is live for viewing" />
	{else}
	<img src="{$base_url}resources/images/icons/27x27/cross.png" alt="Inactive" width="27" height="27" border="0" title="This image is disabled for viewing" />
	{/if}
	</td>
							
	<td><a href="{$base_url}{$fil_admin_user_edit}?userid={$image_userid[assets]}" title="Edit this user" class="plain">{$image_owner[assets]}</a></td>
							
	<td>{$image_title[assets]}</td>
							
	<td>{$image_width[assets]} x {$image_height[assets]} pixels</td>
	
	<td>
	
	<ul class="actionlist">
	<li><a href="{$base_url}{$fil_admin_image}?cmd=edit&amp;image_id={$image_id[assets]}">Edit image</a></li>
	{if $total_galleries > 0}<li><a href="{$base_url}{$fil_admin_gallery}?cmd=formAddImagesToGallery&amp;images[]={$image_id[assets]}">Add to gallery</a></li>{/if}
	<li><a href="{$base_url}{$fil_admin_image}?cmd=formDeleteFromLibrary&amp;images[]={$image_id[assets]}">Delete</a></li>
	</ul>
	
	</td>
	
	</tr>

{sectionelse}

	<tr class="{cycle values='row1,row2'}">

	<td colspan="8" style="height:32px;">There are no orphan images to display.</td>

	</tr>

{/section}	
	
{if $orph_count > 0}
	
	<tr>
		
		<th colspan="8">
		
			<select name="form_action" id="form_action" class="formselect">
				
				{if $total_galleries > 0}<option value="{$form_actions.gallery_images_add}">Add selected images to a gallery</option>{/if}
				<option value="{$form_actions.gallery_images_create}">Create a gallery with the selected images</option>
				<option value="{$form_actions.images_delete}">Delete selected images from the library</option>
				<option value="{$form_actions.images_batch_edit}">Batch edit selected images</option>
			
			</select>
			
			<input type="button" name="button" value="Proceed to next step" class="formbutton" onclick="javascript:submitActionForm('image_list');" />
			
		</th>
		
	</tr>

{/if}
	
</table>

</form>
	
</div>

</div>



<!-- INCLUDE THE BOTTOM HTML TEMPLATE -->
{include_template file="admin.snippets/admin.html.footer.tpl"}


