{*

/*
*
*	Pixaria Gallery
*	Copyright Jamie Longstaff
*
*/

*}{include_template file="admin.snippets/admin.html.header.tpl"}


<div id="admin-outerdiv">

<div id="admin-innerdiv">



{if $display=="TRUE"}

	<table class="table-text">
	<tr>
	<th>Please take a moment to confirm that you want to permanently delete these images from your library as this action cannot be undone!</th>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	</tr>
	</table>
	
	
	<form method="post" action="{$base_url}{$fil_admin_image}">
	
	<input type="hidden" name="cmd" value="actionDeleteFromLibrary" />
	<input type="hidden" name="referer" value="{$referer}" />
	
	<table class="list">
	
	<tr>
		<th colspan="2">File name</th>	
		<th>File size (kilobytes)</th>	
		<th>Image dimensions (pixels)</th>
	</tr>
	
	{section name=assets loop=$image_id}
		
		<tr class="{cycle values='row1,row2'}">
		<td style="width:45px; height:45px; text-align:center; border-right:0;"><a href="javascript:openPop('{$base_url}{$fil_admin_image_output}?html={$comp_path[assets]}&amp;','{$comp_width[assets]-2}','{$comp_height[assets]-2}','no','no','no','no','no','no','no');"><img src="{$base_url}{$fil_admin_image_output}?file={$icon_path[assets]}&amp;" border="0" width="{$icon_width[assets]}" height="{$icon_height[assets]}" title="{$image_filename[assets]}" alt="{$image_filename[assets]}" class="icon" /></a></td>
		<td align="left"><a class="plain" href="javascript:openPop('{$base_url}{$fil_admin_image_output}?html={$comp_path[assets]}&amp;','{$comp_width[assets]-2}','{$comp_height[assets]-2}','no','no','no','no','no','no','no');">{$image_filename[assets]}</a></td>
		<td>{$comp_filesize[assets]}kb</td>
		<td>{$comp_width[assets]} pixels x {$comp_height[assets]} pixels<input type="hidden" name="images[]" value="{$image_id[assets]}" /></td>
		</tr>
	
	{/section}
		
	<tr>
	<th colspan="4">
		
		<select name="delete_option" class="formselect">
			<option value="10">Delete image files completely</option>
			<option value="11">Move image files back into the incoming directory</option>
		</select>
		
		<input type="submit" value="Delete these images" class="formbutton" />
		
	</th>
	</tr>
		
	</table>

	</form>

{else}

	<form method="post" action="">
	
	<table class="table-text">
	<tr>
	<th>You haven't selected any images to delete!</th>
	<td>
	
	<h1>No images to delete</h1>
	
	<p>You didn't select any images to delete.  Please go back to the previous page and select some images.</p>
	
	<input type="button" value="Go back to previous page" onclick="javascript:history.go(-1);" style="width:100%;" class="formbutton" />
	
	</td>
	<td>&nbsp;</td>
	</tr>
	</table>
	
	</form>
	
{/if}


</div>

</div>


<!-- INCLUDE THE TOP HTML TEMPLATE -->
{include_template file="admin.snippets/admin.html.footer.tpl"}

