{*

/*
*
*	Pixaria Gallery
*	Copyright Jamie Longstaff
*
*/

*}{include_template file="admin.snippets/admin.html.header.tpl"}

<div id="admin-outerdiv">

<div id="admin-innerdiv">

{include_template file="shared/javascript.html"}





<form action="{$base_url}{$fil_admin_preferences}" method="post" name="frm_settings" id="frm_settings" onsubmit="javascript:sendData('frm_settings','{$base_url}{$fil_admin_preferences}'); return false;">

<input type="hidden" name="cmd" value="savePreferences" />

<input type="hidden" name="preferences[import_image_iptc_charset]" value="radio" />
<input type="hidden" name="preferences[admin_navigation_style]" value="radio" />


<ul id="form-tabs" class="form-tabs">
	<li class="tab"><a href="#ui" title="User interface settings">User Interface</a></li>
	<li class="tab"><a href="#import" title="Image import settings">Import Settings</a></li>
</ul>

<br clear="all" />

<div class="tabcontainer">

	<div id="import" class="form-horizontal">
		
		<div class="form-body">
		
			<div class="form-box" style="border-right:1px dotted #BBB; min-height:430px; width:520px;">
			
			<h3>Default IPTC text encoding:</h3>
			
			<p>If IPTC metadata from your uploaded images is not displaying correctly, it may because the text encoding used in the image file cannot be converted correctly into UTF-8 for use with Pixaria.</p>
			
			<p>By default, Pixaria assumes that if UTF-8 is not being used in your images then the IPTC metadata is encoded in the ISO-8859-1 (Western Latin 1) character set and attempts to convert this into UTF-8.</p>
			
			<p>The setting below allows you to choose another default character set to use if your IPTC metadata is not in either the UTF-8 or ISO-8859-1 character set.  You may need to experiment with the settings if you are not sure what character set your images use.</p>
			
			{html_fancy_select_single width='520' rows='8' options=$charset_name values=$charset_code name='iptc_import_charset' selected=$ses_pref_iptc_import_charset}
			
			
			</div>
			
			<div class="clear"></div>
		
		</div>
				
	</div>
	
	<div id="ui" class="form-horizontal">
	
		<div class="form-body">
		
			<div class="form-box" style="border-right:1px dotted #BBB; min-height:160px; width:520px;">
			
			<h3>Admin navigation style:</h3>
			
			<p>Pick the navigation menu style to use in the admin area of Pixaria Gallery.</p>
			
			<input type="radio" id="admin_navigation_style_1" name="admin_navigation_style" value="icons" class="forminput" onchange="javascript:toggleNavigation();" {if $ses_pref_admin_navigation_style == "icons" || $ses_pref_admin_navigation_style == ""}checked="checked"{/if} /> <label for="admin_navigation_style_1">Icons and text</label><br />
			<input type="radio" id="admin_navigation_style_2" name="admin_navigation_style" value="text" class="forminput" onchange="javascript:toggleNavigation();" {if $ses_pref_admin_navigation_style == "text"}checked="checked"{/if} /> <label for="admin_navigation_style_2">Text only</label>
			
			</div>
			
			<div class="clear"></div>
		
		</div>

	</div>
	
	<div class="tab-button">
	
	<input type="submit" value="Save Preferences" id="submitbutton1" class="button" />
	
	<div id="status" class="confirmation" style="display:none;">Your changes have been saved.</div>
			
	<div class="clear"></div>
		
	</div>
	
</div>        
 
</form>

<script type="text/javascript" language="javascript">
{literal}
function toggleNavigation () {
	
	$$('.nav-icons').invoke('toggle');
	$$('.nav-text').invoke('toggle');

}
{/literal}
</script>

<script type="text/javascript" language="javascript">var tabs = new Control.Tabs('form-tabs');{if $active_tab}tabs.setActiveTab('{$active_tab}');{/if}</script>

</div>

</div>

{include_template file="admin.snippets/admin.html.footer.tpl"}
