{*

/*
*
*	Pixaria Gallery
*	Copyright Jamie Longstaff
*
*/

*}{include_template file="index.layout/main.header.tpl"}





<table class="table-text">

<tr>
<th>##ACCOUNT_078##</th>
<td>

<h1>##ACCOUNT_079##</h1>

<p>##ACCOUNT_080##</p>

<p><a href="{$base_url}{$fil_index_login}">##ACCOUNT_081##</a></p>

</td>
<td>&nbsp;</td>
</tr>

</table>




<!-- INCLUDE THE BOTTOM HTML TEMPLATE -->
{include_template file="index.layout/main.footer.tpl"}

