{*

/*
*
*	Pixaria Gallery
*	Copyright Jamie Longstaff
*
*/

*}{include_template file="index.layout/main.header.tpl"}






<table class="table-text">

<tr>
<th>##ACCOUNT_057##</th>
<td>

<h1>##ACCOUNT_058##</h1>

<p>##ACCOUNT_059##</p>

</td>
<td>&nbsp;</td>
</tr>

</table>






<form action="{$base_url}{$fil_index_account}" method="post">

<input type="hidden" name="cmd" value="resetPasswordEnterEmail" />
<table class="table-form">

<thead>

<tr>
<th colspan="3">##ACCOUNT_060##</th>
</tr>

</thead>

<tbody>

<tr class="{cycle values='list-one,list-two' advance='0'}">
<th>##ACCOUNT_061##</th>
<td><input type="text" maxlength="50" size="20" name="email_address" style="width:100%;" class="forminput" /></td>
<td>&nbsp;</td>
</tr>

<tr class="{cycle values='list-one,list-two'}">
<th>&nbsp;</th>
<td><input type="submit" name="submit" value="##ACCOUNT_062##" style="width:100%;" class="formbutton" /></td>
<td>&nbsp;</td>
</tr>

</tbody>

</table>

</form>




<!-- INCLUDE THE BOTTOM HTML TEMPLATE -->
{include_template file="index.layout/main.footer.tpl"}

