{*

/*
*
*	Pixaria Gallery
*	Copyright Jamie Longstaff
*
*/

*}{include_template file="index.layout/main.header.tpl"}





<table class="table-text">

<tr>
<th>##ACCOUNT_046##</th>
<td>

<h1>##ACCOUNT_047##</h1>

<p>##ACCOUNT_048##</p>

<form action="{$base_url}{$fil_index_account}" method="post">
	
<input type="submit" value="##ACCOUNT_049##" style="width:100%;" class="formbutton" />

</form>

</td>
<td>&nbsp;</td>
</tr>

</table>



<!-- INCLUDE THE BOTTOM HTML TEMPLATE -->
{include_template file="index.layout/main.footer.tpl"}

