{*

/*
*
*	Pixaria Gallery
*	Copyright Jamie Longstaff
*
*/

*}{include_template file="index.layout/main.header.tpl"}



<table class="table-text">

<tr>
<th>##ACCOUNT_114##</th>
<td>

	<h1>##ACCOUNT_115##</h1>
	
	<p>##ACCOUNT_116##</p>

</td>
<td>&nbsp;</td>
</tr>

</table>



<!-- INCLUDE THE BOTTOM HTML TEMPLATE -->
{include_template file="index.layout/main.footer.tpl"}

