{if $set_func_tinymce}
<!-- TinyMCE -->
<script type="text/javascript" src="{$base_url}resources/ext/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
{literal}
	tinyMCE.init({
		// General options
		mode : "textareas",
		theme : "advanced",
		plugins : "safari,style,advimage,inlinepopups,searchreplace,print,contextmenu,paste,directionality,noneditable,visualchars",

		// Theme options
		theme_advanced_buttons1 : "bold,italic,underline,|,justifyleft,justifycenter,justifyright,justifyfull,fontselect,fontsizeselect,|,sub,sup,|,forecolor,backcolor",
		theme_advanced_buttons2 : "cut,copy,paste,pastetext,pasteword,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,image,cleanup,code,|,removeformat,visualaid,|,charmap,|,print,|,ltr,rtl",
		theme_advanced_buttons3 : "",
		theme_advanced_buttons4 : "",
		theme_advanced_toolbar_location : "top",
		theme_advanced_toolbar_align : "left",
		theme_advanced_statusbar_location : "bottom",
		theme_advanced_resizing : true,
		theme_advanced_resize_horizontal : false,

		// Example content CSS (should be your site CSS)
		//content_css : "{/literal}{$base_url}resources/themes/{$set_theme}/{literal}css/pixaria.css",

		// Drop lists for link/image/media/template dialogs
		template_external_list_url : "lists/template_list.js",
		external_link_list_url : "lists/link_list.js",
		external_image_list_url : "lists/image_list.js",
		media_external_list_url : "lists/media_list.js"

	});
{/literal}
</script>
<!-- /TinyMCE -->
{/if}