{*

/*
*
*	Pixaria Gallery
*	Copyright Jamie Longstaff
*
*/

*}{include_template file="index.layout/main.header.tpl"}


<table class="table-text">

<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>

<tr>
<td style="text-align:center;" colspan="2">
<img src="{$image_url}" alt="{$pcm_preview_card}" border="0" {$card_size} {if $set_func_disable_saving}ondragstart="javascript:return false;" oncontextmenu="javascript:return false;"{/if} />
<br /><br />
</td>
<td>&nbsp;</td>
</tr>

</table>



<table class="table-text">

<tr>
<th>##POSTCARD_19##</th>
<td>

<h1>##POSTCARD_20##</h1>

<p>##POSTCARD_21##</p>

<form method="post" action="{$base_url}">
<input type="button" name="" value="##POSTCARD_22##" class="formbutton" onclick="javascript:location.href='{$return}';" style="width:100%;" />
</form>

</td>
<td>&nbsp;</td>
</tr>

</table>



<!-- INCLUDE THE BOTTOM HTML TEMPLATE -->
{include_template file="index.layout/main.footer.tpl"}


