{*

/*
*
*	Pixaria Gallery
*	Copyright Jamie Longstaff
*
*/

*}

</div>

</div>

</div>

	<div id="copyright">
		
		<a href="http://www.pixaria.com/">Pixaria Gallery</a><br />
		##LAYOUT_01## 1999-{$smarty.now|date_format:"%Y"}, ##LAYOUT_02##
		
	</div>
		
</div>

{$set_html_statcode}

</body>
</html>
