/*
*
*	Pixaria Gallery
*	Copyright Jamie Longstaff
*
*/

/* Element styles
----------------------------------------------- */

br {
	line-height:5px;
}

body {
	font-family:Helvetica, Arial, Verdana, Helvetica;
	margin:0px;
	width:100%;
	background:#e9e9e4;
	color: #555;
	text-align:center;
}

p,div,td,button
	{
	font-family:Helvetica, Arial, Verdana, Helvetica;
	font-size:9pt;
	}

a,a:visited,a:active
	{
	color: #555;
	}

a:hover
	{
	color: #555;
	}

h1, h2, h3, h4 {
	font-size:10pt;
	}

li
	{
	margin-bottom:10pt;
	}

/* Main layout styles
----------------------------------------------- */


#content
	{
	margin:0px auto;
	width:100%;
	text-align:left;
	min-width:900px;
	}
	
#admin-innerdiv
	{
	width:100%;
	}
	
#admin-outerdiv
	{
	padding:20px;
	}


/* Logged in user session styles
----------------------------------------------- */

#session
	{
	border-collapse:collapse;
	width:450px;
	float:right;
	margin:6px 6px 0px 0px;
	}

#session .name
	{
	padding:3px 6px 3px 3px;
	font-size:11pt;
	font-weight:bold;
	color:#FFF;
	text-align:right;
	}

#session .logout
	{
	padding:3px 3px 3px 3px;
	text-align:right;
	width:67px;
	}

#session .version
	{
	padding:3px 3px 3px 3px;
	text-align:right;
	font-weight:bold;
	color:#AAA;
	}


/* Custom classes
----------------------------------------------- */

.bold
	{
	font-weight:bold;
	}

.list-one /*  */
	{
	background-color:#E1E1E1;
	}
	
.list-two /*  */
	{
	background-color:#E8E8E8;
	}

.code
	{
	padding:6px;
	background:#FFF;
	border:1px solid #CCC;
	font-size:7pt;
	font-family:Monaco, 'Andale Mono', Courier, Courier New, Monospaced;
	}

.title
	{
	font-weight:bold;
	font-size:10pt;
	margin-top:0px;
	}

.emphasis
	{
	font-weight:bold;
	}

.small /*  */
	{
	font-size:7pt;
	}

.thumbnail /*  */
	{
	font-size:10pt;
	background:#FFF url('../images/furniture/image_loading.gif');
	background-position:center center;
	padding:5px;
	border: 1px solid #AAA;
	}

.icon /*  */
	{
	background:#FFF;
	padding:3px;
	border: 1px solid #999;
	}

.html-error
	{
	padding:6px;
	background-color:#DDD;
	border-bottom:1px solid #FFF;
	}

.html-error-warning
	{
	color:#F00;
	}

.plain
	{
	text-decoration:none;
	}


/* Global styles for thumbnails
----------------------------------------------- */

.table-thumbnail
	{
	table-layout:fixed;
	width:100%;
	padding:0px;
	border-collapse:collapse;
	border-spacing:0px;
	margin-bottom:20px;
	background-color:#DDD;
	border:1px solid #CCC;
	}

.table-thumbnail thead th
	{
	text-align:left;
	font-size:11pt;
	color:#FFF;
	background:#777 url('../images/furniture/table-header-background.gif');
	padding:4px 0px 6px 4px;
	font-weight:bold;
	}
	
.table-thumbnail tbody .options
	{
	padding:3px 0px 4px 4px;
	text-align:left;
	background-color:#D5D5D5;
	font-weight:normal;
	}

.table-thumbnail tbody .options .option-title
	{
	padding:5px 5px 0 0;
	width:10em;
	text-align:left;
	font-weight:bold;
	float:left;
	}

/* Styles for shopping cart views
----------------------------------------------- */

.table-cart
	{
	border-collapse:collapse;
	width:100%;
	padding:0px;
	border:1px solid #CCC;
	margin-bottom:20px;
	border-spacing:0px;
	}

.table-cart thead th
	{
	width:33%;	
	text-align:left;
	font-size:11pt;
	color:#FFF;
	background:#777 url('../images/furniture/table-header-background.gif');
	padding:4px 0px 6px 4px;
	font-weight:bold;
	}
	
.table-cart tbody th
	{
	vertical-align:middle;
	text-align:center;
	padding:0px;
	width:33%;
	font-size:9pt;
	font-weight:bold;
	}
	
.table-cart tbody td
	{
	vertical-align:middle;
	padding:0px;
	width:33%;	
	text-align:left;	
	}

.table-cart .cart-item
	{
	width:100%;
	inherit:none;
	border-collapse:collapse;
	}

.table-cart .cart-item th
	{
	padding:3px;
	width:33%;
	text-align:left;	
	}

.table-cart .cart-item td
	{
	padding:3px;
	width:66%;
	text-align:left;	
	}

/* Styles for popup window views
----------------------------------------------- */

.table-popup-text
	{
	border-collapse:collapse;
	width:100%;
	line-height:1.2em;
	text-align:left;
	padding:0px;
	border-spacing:0px;
	margin:0px;
	}

.table-popup-text th
	{
	width:33%;	
	vertical-align:top;
	padding:2px 5px 7px 0px;
	font-weight:bold;
	letter-spacing:-1pt;
	font-size:14pt;
	text-align:justify;
	margin-top:0px;
	margin-right:8px;
	margin-left:2px;
	line-height:1.3em;
	}
	
.table-popup-text td
	{
	width:33%;	
	vertical-align:top;
	padding:3px;
	text-align:left;
	vertical-align:top;
	}

/* Styles for small thumbnails
----------------------------------------------- */

.table-thumbnail .thumb-sml
	{
	padding:5px;
	margin:5px;
	background:#EEE;
	border:1px solid #CCC;
	float:left;
	overflow:none;
	}

.table-thumbnail .thumb-sml table
	{
	padding:0px;
	border-collapse:collapse;
	border-spacing:0px;
	width:100%;
	}

.table-thumbnail .thumb-sml table thead th
	{
	background:0;
	text-align:center;
	width:150px;
	height:100px;
	}

.table-thumbnail .thumb-sml table tbody th
	{
	font-size:8pt;
	width:55px;
	background:0;
	vertical-align:top;
	text-align:right;
	}
	
.table-thumbnail .thumb-sml table tbody td
	{
	font-size:8pt;
	background:0;
	vertical-align:top;
	text-align:left;
	}
	
/* Styles for table list box views
----------------------------------------------- */

.table-listbox
	{
	border-collapse:collapse;
	border: solid 1px #CCC;
	color:#444;
	width:100%;
	text-align:left;
	padding:0px;
	border-spacing:0px;
	margin-bottom:20px;
	}

.table-listbox th
	{
	text-align:left;
	font-size:11pt;
	color:#FFF;
	background:#777 url('../images/furniture/table-header-background.gif');
	padding:4px 0px 6px 4px;
	font-weight:bold;
	}

.table-listbox th a
	{
	color:#FFF;
	}

.table-listbox .options
	{
	padding:3px 0px 4px 4px;
	text-align:left;
	background-color:#DDD;
	font-weight:normal;
	}

.table-listbox .options .option-title
	{
	padding:5px 5px 0 0;
	width:10em;
	text-align:left;
	font-weight:bold;
	float:left;
	}

.table-listbox td
	{
	vertical-align:middle;
	text-align:left;
	padding:0px 2px 0px 2px;
	text-decoration:none;
	}

.table-listbox td a
	{
	text-decoration:none;
	}

.table-listbox td a:hover
	{
	text-decoration:none;
	}

/* Styles for text explanation boxes
----------------------------------------------- */

.table-text
	{
	border-collapse:collapse;
	width:100%;
	line-height:1.2em;
	text-align:left;
	padding:0px;
	border-spacing:0px;
	margin-bottom:20px;
	}

.table-text th
	{
	width:33%;	
	vertical-align:top;
	padding:2px 5px 7px 0px;
	font-weight:bold;
	letter-spacing:-1pt;
	font-size:14pt;
	text-align:justify;
	margin-top:0px;
	margin-right:8px;
	margin-left:2px;
	line-height:1.3em;
	}
	
.table-text td
	{
	width:33%;	
	vertical-align:top;
	padding:3px;
	text-align:left;
	vertical-align:top;
	}

.table-text td a
	{
	text-decoration:none;
	}

.table-text td h1
	{
	font-weight:bold;
	font-size:11pt;
	margin-top:2px;
	}
	
/* Styles for form box layout views
----------------------------------------------- */

.table-search
	{
	table-layout:fixed;
	width:100%;
	padding:0px;
	border-collapse:collapse;
	border-spacing:0px;
	margin-bottom:20px;
	background-color:#DDD;
	border:1px solid #CCC;
	}

.table-search th
	{
	text-align:left;
	font-size:11pt;
	color:#FFF;
	background:#777 url('../images/furniture/table-header-background.gif');
	padding:4px 0px 6px 4px;
	font-weight:bold;
	}

.table-search td .search-box
	{
	float:left;
	margin:5px 0 5px 0;
	padding:0 10px 0 10px;
	width:250px;
	min-height:270px;
	}

.table-search .search-box label
	{
	cursor:pointer;
	font-weight:bold;
	}

.table-search td .search-box-wide
	{
	float:left;
	margin:5px 0 5px 0;
	padding:0 10px 0 10px;
	width:521px;
	min-height:270px;
	}


/* Styles for form table layout views
----------------------------------------------- */

.table-form
	{
	border-collapse:collapse;
	width:100%;
	padding:0px;
	border:1px solid #CCC;
	margin-bottom:20px;
	border-spacing:0px;
	}

.table-form thead th
	{
	width:33%;	
	text-align:left;
	font-size:11pt;
	color:#FFF;
	background:#777 url('../images/furniture/table-header-background.gif');
	padding:4px 0px 6px 4px;
	font-weight:bold;
	}
	
.table-form tbody th
	{
	height:25px;
	vertical-align:top;
	padding:8px 0px 0px 4px;
	width:33%;
	font-size:9pt;
	text-align:left;
	font-weight:bold;
	}
	
.table-form tbody td
	{
	height:25px;
	vertical-align:middle;
	height:20px;
	padding:3px;
	width:33%;	
	text-align:left;	
	}

.table-form tbody td td
	{
	padding:0px;
	}

.table-form tbody th td
	{
	padding:0px;
	}

.table-form tbody td label
	{
	cursor:pointer;
	}
	
.table-form .messages
	{
	width:100%;
	inherit:none;
	border-collapse:collapse;
	}

.table-form .messages th
	{
	padding:3px;
	vertical-align:top;
	width:33%;
	}

.table-form .messages td
	{
	padding:3px;
	vertical-align:top;
	width:66%;
	}

/* Styles for unconstrained form table
----------------------------------------------- */

.table-form-nowidth
	{
	border-collapse:collapse;
	width:100%;
	padding:0px;
	border:1px solid #CCC;
	margin-bottom:20px;
	border-spacing:0px;
	}

.table-form-nowidth thead th
	{
	text-align:left;
	font-size:11pt;
	color:#FFF;
	background:#777 url('../images/furniture/table-header-background.gif');
	padding:4px 0px 6px 4px;
	font-weight:bold;
	}
	
.table-form-nowidth tbody th
	{
	height:25px;
	vertical-align:top;
	padding:8px 0px 0px 4px;
	font-size:9pt;
	text-align:left;
	font-weight:bold;
	}
	
.table-form-nowidth tbody td
	{
	height:25px;
	vertical-align:middle;
	height:20px;
	padding:3px;
	text-align:left;	
	}

.table-form-nowidth tbody td td
	{
	padding:0px;
	}

.table-form-nowidth tbody th td
	{
	padding:0px;
	}

/* Styles for the import form view
----------------------------------------------- */

.table-import
	{
	table-layout:fixed;
	width:100%;
	padding:0px;
	border-collapse:collapse;
	border-spacing:0px;
	margin-bottom:20px;
	background-color:#DDD;
	border:1px solid #CCC;
	}

.table-import th
	{
	text-align:left;
	font-size:11pt;
	color:#FFF;
	background:#777 url('../images/furniture/table-header-background.gif');
	padding:4px 0px 6px 4px;
	font-weight:bold;
	}

.table-import td
	{
	border-bottom:1px solid #BBB;
	}

.table-import td .import-box
	{
	float:left;
	margin:5px 0 5px 0;
	padding:0 10px 0 10px;
	width:20%;
	min-height:320px;
	}


/* Download list styles
----------------------------------------------- */

.download-list dt
	{
	margin: 15px 0 0 0;
	font-weight: normal;
	}

.download-list dd
	{
	margin: 0 0 1px 0;
	padding: 1px 0 0 0;
	}

.download-list dt a
	{
	float: left;
	display: block;
	margin-right:5px;
	padding: 0px;
	}

/* Popup window layout styles
----------------------------------------------- */

#popup-content
	{
	margin:0px auto;
	text-align:left;
	padding:5px;
	}
		
.popup-thumbnail
	{
	border-collapse:collapse;
	border-spacing:0px;
	float:left;
	width:120px;
	height:120px;
	background:#FFF;
	border:1px solid #BBB;
	margin:2px;
	}

.popup-thumbnail td
	{
	vertical-align:middle;
	text-align:center;
	width:95px;
	height:95px;
	}

/* Styles for the popup window form views
----------------------------------------------- */
.table-popup-form
	{
	border-collapse:collapse;
	width:100%;
	padding:0px;
	border:1px solid #CCC;
	margin-bottom:20px;
	border-spacing:0px;
	}

.table-popup-form thead th
	{
	width:50%;	
	text-align:left;
	font-size:11pt;
	color:#FFF;
	background:#777 url('../images/furniture/table-header-background.gif');
	padding:4px 0px 6px 4px;
	font-weight:bold;
	}
	
.table-popup-form tbody th
	{
	height:26px;
	vertical-align:top;
	padding:8px 0px 0px 4px;
	width:50%;
	font-size:9pt;
	text-align:left;
	font-weight:bold;
	}
	
.table-popup-form tbody td
	{
	height:26px;
	vertical-align:middle;
	height:20px;
	padding:3px;
	width:50%;	
	text-align:left;	
	}

.table-popup-form tbody .options
	{
	padding:3px 0px 4px 4px;
	text-align:left;
	background-color:#D5D5D5;
	font-weight:normal;
	}

.table-popup-form tbody .options .option-title
	{
	padding:5px 5px 0 0;
	width:10em;
	text-align:left;
	font-weight:bold;
	float:left;
	}

.table-popup-form table
	{
	border-collapse:collapse;
	border-spacing:0px;
	padding:0px;
	}

.table-popup-form tbody td td
	{
	padding:0px;
	}

.table-popup-form tbody th td
	{
	padding:0px;
	}


/* Styles for the dashboard
----------------------------------------------- */

#newscontainer h1
	{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.8em;
	display:inline;
	margin: 0;
	font-weight:normal;
	padding:0;
	clear:none;
	}

#newscontainer h4
	{
	display:inline;
	margin: 0;
	padding:0;
	font-size: 9pt;
	font-weight: normal;
	}

#newscontainer .box
	{
	border:1px solid #999;
	background:#FFF;
	position:relative;
	margin:0 8px 8px 0;
	width:280px;
	overflow:hidden;
	height:190px;
	float:left;
	}

#newscontainer .box .header
	{
	height:45px;
	font-size:8pt;
	vertical-align:middle;
	background:#CCC;
	padding:4px;
	}

#newscontainer .box .header h1
	{
	color:#333;
	font-size:1.4em;
	}

#newscontainer .box p
	{
	margin:0;
	height:80px;
	padding:4px;
	}

#newscontainer .box a.read
	{
	position:absolute;
	bottom:5px;
	right:5px;
	font-weight:normal;
	padding:0 0 0 4px;
	font-style:italic;
	text-decoration:underline;
	}


.notification-firefox
	{
	background:#FFF url('../images/furniture/notification.firefox.gif');
	background-repeat:no-repeat;
	padding:2px 4px 4px 38px;
	margin:0px 0px 5px 5px;
	border:1px solid #CCC;
	font-size:10pt;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	}

.notification-firefox h1
	{
	margin:3px 0 3px 0;
	padding:4px 4px 0px 2px;
	font-size:12pt;
	font-weight:bold;
	}

.notification-firefox p
	{
	margin:0px;
	padding:4px 4px 4px 2px;
	font-size:9pt;
	}


/* Styles for inline toolbar in the gallery list views
----------------------------------------------- */

.inline-toolbar
	{
	vertical-align:middle;
	height:100px;
	margin:5px;
	border-top:1px solid #BBB;
	border-right:1px solid #FFF;
	border-bottom:1px solid #FFF;
	border-left:1px solid #BBB;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	}

.inline-toolbar table
	{
	height:100px;
	}

.inline-toolbar table td
	{
	vertical-align:middle;
	}

.inline-toolbar button	
	{
	margin-left:5px;
	float:left;
	display:table;
	line-height:10pt;
	vertical-align:middle;
	height:80px;
	width:80px;
	font-size:8pt;
	text-align:center;
	color:#666;
	border-top:1px solid #FFF;
	border-right:1px solid #BBB;
	border-bottom:1px solid #BBB;
	border-left:1px solid #FFF;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	}

.inline-toolbar button:hover
	{
	border-top:1px solid #BBB;
	border-right:1px solid #FFF;
	border-bottom:1px solid #FFF;
	border-left:1px solid #BBB;
	}

/* Styles for inline action buttons
----------------------------------------------- */

ul.actionlist
	{
	margin: 0px;
	padding: 0px;
	white-space: nowrap;
	}

.actionlist li
	{
	display: inline;
	list-style-type: none;
}

.actionlist a
	{
	display:inline-block;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	font-size:9pt;
	padding:3px 10px 3px 10px !important;
	text-decoration: none;
}

.actionlist a:link, .actionlist a:visited
	{
	background:#DDD url('../images/buttons/button-background.gif');
	border:1px solid #AAA;
	text-decoration: none;
	}

.actionlist a:hover
	{
	border:1px solid #999;
	background:#DDD url('../images/buttons/button-background-hover.gif');
	text-decoration: none;
	color:#222;
	}

.actionlist  a.infobutton:link, .actionlist a.infobutton:visited
	{
	display:inline-block;
	font-size:9pt;
	padding:4px 10px 4px 24px !important;
	background:#DDD url('../images/buttons/button-info.gif');
	border:1px solid #AAA;
	text-decoration: none;
	}

.actionlist a.infobutton:hover
	{
	border:1px solid #999;
	background:#DDD url('../images/buttons/button-info-hover.gif');
	text-decoration: none;
	}

.actionlist  a.warningbutton:link, .actionlist a.warningbutton:visited
	{
	display:inline-block;
	font-size:9pt;
	padding:4px 10px 4px 24px !important;
	background:#DDD url('../images/buttons/button-warning.gif');
	border:1px solid #AAA;
	text-decoration: none;
	}

.actionlist a.warningbutton:hover
	{
	border:1px solid #999;
	background:#DDD url('../images/buttons/button-warning-hover.gif');
	text-decoration: none;
	}
	
/* Styles for large thumbnails
----------------------------------------------- */

.table-thumbnail .thumb-lrg
	{
	padding:5px;
	margin:5px;
	background:#EEE;
	border:1px solid #CCC;
	float:left;
	overflow:none;
	}

.table-thumbnail .thumb-lrg table
	{
	padding:0px;
	border-collapse:collapse;
	border-spacing:0px;
	width:100%;
	}

.table-thumbnail .thumb-lrg table thead th
	{
	background:0;
	text-align:center;
	width:180px;
	height:180px;
	}

.table-thumbnail .thumb-lrg table tbody th
	{
	font-size:8pt;
	width:70px;
	background:0;
	vertical-align:top;
	text-align:right;
	}
	
.table-thumbnail .thumb-lrg table tbody td
	{
	font-size:8pt;
	background:0;
	vertical-align:top;
	text-align:left;
	}

/* Notification box style (note)
----------------------------------------------- */

.notification-note
	{
	background:#FFF url('../images/furniture/notification.note.gif');
	background-repeat:no-repeat;
	padding:4px 4px 4px 35px;
	margin:0px 0px 5px 5px;
	border:1px solid #CCC;
	font-size:8pt;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	}

.notification-note h1
	{
	margin:3px 0 3px 0;
	padding:4px 4px 0px 2px;
	font-size:12pt;
	font-weight:bold;
	}

.notification-note p
	{
	margin:0px;
	padding:4px 4px 4px 2px;
	font-size:9pt;
	}

.notification-note a
	{
	text-decoration:underline !important;
	}

/* Notification box style (affirmation)
----------------------------------------------- */

.notification-affirm
	{
	background:#FFF url('../images/furniture/notification.affirm.gif');
	background-repeat:no-repeat;
	padding:2px 4px 4px 38px;
	margin:0px 0px 5px 5px;
	border:1px solid #CCC;
	font-size:10pt;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	}

.notification-affirm h1
	{
	margin:3px 0 3px 0;
	padding:4px 4px 0px 2px;
	font-size:12pt;
	font-weight:bold;
	}

.notification-affirm p
	{
	margin:0px;
	padding:4px 4px 4px 2px;
	font-size:9pt;
	}

/* Notification box style (warning)
----------------------------------------------- */

.notification-warning
	{
	background:#FFF url('../images/furniture/notification.warning.gif');
	background-repeat:no-repeat;
	padding:4px 4px 4px 38px;
	margin:0px 0px 5px 5px;
	border:1px solid #CCC;
	font-size:8pt;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	}

.notification-warning h1
	{
	margin:3px 0 3px 0;
	padding:4px 4px 0px 2px;
	font-size:12pt;
	font-weight:bold;
	}

.notification-warning p
	{
	margin:0px;
	padding:4px 4px 4px 2px;
	font-size:9pt;
	}

.notification-warning a
	{
	text-decoration:underline !important;
	}

/* Notification box style (completed action)
----------------------------------------------- */

.notification-complete
	{
	background:#FBFFB5 url('../images/furniture/notification.complete.gif');
	background-repeat:no-repeat;
	padding:4px 4px 4px 35px;
	margin:0px 0px 20px 0px;
	border:1px solid #CCC;
	font-size:8pt;
	height:32px;
	cursor:pointer;
	}

.notification-complete h1
	{
	margin:3px 0 3px 0;
	padding:4px 4px 0px 2px;
	font-size:11pt;
	font-weight:bold;
	}

/* Pagination interface
----------------------------------------------- */

.pagination
	{
	}
	
.pagination a
	{
	font-size:10pt;
	margin:0 2px 2px 0;
	text-decoration: none;
	height:16px;
	background-image:url('../images/buttons/button-background.gif');
	text-decoration: none;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #AAA;
	padding: 3px 7px;
	text-align:center;
	color:#444 !important;
	float:left;
	}

.pagination a:hover
	{
	color:#222 !important;
	background-image:url('../images/buttons/button-background-hover.gif');
	border:1px solid #999;
	}

.pagination .spacer
	{
	background-image:url('../images/buttons/button-background.gif');
	} 
	
.pagination .disabled, .pagination .current
	{
	color:#222 !important;
	background-image:url('../images/buttons/button-background-hover.gif');
	border:1px solid #999;
	} 

.pages
	{
	float:right;
	padding-right:4px;
	}

.page-button
	{
	font-size:10pt;
	margin:0 2px 2px 0;
	text-decoration: none;
	height:16px;
	border:1px solid #AAA;
	padding: 3px 7px;
	text-align:center;
	color:#444 !important;
	float:left;
	}

/* Styles for the file browser
----------------------------------------------- */

.filebrowser-toolbar
	{
	border-spacing:0px;
	border-collapse:collapse;
	width:100%;
	border-top:1px solid #CCC;
	border-left:1px solid #CCC;
	border-right:1px solid #CCC;
	}

.filebrowser-toolbar thead th
	{
	width:33%;	
	text-align:left;
	font-size:11pt;
	color:#FFF;
	background-color:#777;
	padding:4px 0px 6px 4px;
	font-weight:bold;
	}

.filebrowser-toolbar tbody td
	{
	background-image:url('../images/filebrowser/toolbar.background.gif');
	padding:0px;
	text-align:center;
	height:60px;
	}

.filebrowser-toolbar tbody td div
	{
	text-align:center;
	width:45px;
	padding:0px 10px 0px 0px;
	float:left;
	font-size:8pt;
	}

.filebrowser-toolbar div img
	{
	padding-bottom:4px;
	}
	
/* Form classes
----------------------------------------------- */

.forminput
	{
	font-family:Helvetica, Arial, Verdana, Helvetica;
	font-size:9pt;
	display:inline-block;
	color:#222;
	}

.formbutton
	{
	text-align:center;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	background-image:url('../images/buttons/button-background.gif');
	border:1px solid #AAA;
	font-size:9pt;
	color:#444;
	font-family:Helvetica, Arial, Geneva, Sans-Serif;
	font-weight:normal;
	padding:4px;
	margin:0;
	cursor:pointer;
	}

.formbutton:hover
	{
	background-image:url('../images/buttons/button-background-hover.gif');
	border:1px solid #999;
	color:#222;
	}
