.clear {
	clear:both;
	display:block;
	margin:0px !important;
	padding:0px !important;
}

.clear hr {
	height:5px;
	background:0;
	border:0;
	display:block;
	margin:0 0 5px 0;
	border-bottom:1px dotted #BBB;
}

.right {
	float:right;
}

form {
	margin:0;
}

/*	NON SPECIFIC STUFF
_____________________________________________________________*/

.yui-skin-sam .yui-dt-liner {
	white-space:nowrap;
} 

/*	PAGE LAYOUT
_____________________________________________________________*/

#masthead {
	background:#3F4846 url('../images/furniture/masthead-background.gif');
	font-size:1.2em;
}

#masthead #logo #pixaria-logo {
	font-family:Georgia, Times, Serif;
	font-weight:normal;
	padding:10px 0 15px 20px;
	font-size:3.5em;
	color:#FFF;
}

#masthead #logo #userinfo {
	background:#575f5c;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	padding:8px 12px 8px 36px;
	max-width:286px;
	display:inline;
	color:#FFF;
	font-size:1.2em;
	font-family:Helvetica, Arial, Verdana, sans-serif;
	float:right;
	margin:20px 20px 0 0;
	text-align:right;
}

#masthead #logo #userinfo b {
	padding:0 0 0 22px;
	margin:0 0 5px 0px;
	min-height:16px;
	background:url('../images/icons/16x16/key.png') no-repeat;
}

#masthead #logo #userinfo span.session-end {
	display:block;
	margin:6px 0 0 0;
	font-size:0.8em;
}

#masthead #logo #userinfo a {
	color:#FFF !important;
	text-decoration:underline !important;
}

#masthead #logo #userinfo #notification-box {
	float:right;
	display:inline;
	padding:4px 4px 0 10px;
	height:35px;
}

#masthead #logo #userinfo #notification-box a {
	outline:none;
}

/*	PRIMARY NAVIGATION
_____________________________________________________________*/

#navheadings {
	margin:0 0 0 20px;
	padding: 0;
	list-style: none;
	}
	
#navheadings li.tab {
	-moz-border-radius-topleft: 4px;
	-khtml-border-top-left-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	-moz-border-radius-topright: 4px;
	-khtml-border-top-right-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
	float: left;
	margin:0 4px 0 0;
	padding:0;
}
	
#navheadings li.tab a {
	-moz-border-radius-topleft: 4px;
	-khtml-border-top-left-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	-moz-border-radius-topright: 4px;
	-khtml-border-top-right-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
	float: left;
	margin: 0;
	outline:none;
	height:20px;
	padding:7px 20px 4px 20px;
	font-size:1.0em;
	font-weight:bold;
	text-decoration: none;
	color: #FFF;
	background:#757C76;
}
	
#navheadings li.tab a:hover {
	color: #FFF;
}
	
#navheadings li.tab a.active {
	font-weight: bold;
	color:#404947;
	background:#C2C3B9;
	text-shadow: #FFF 0px 1px 0px;
}

/*	SECONDARY NAVIGATION
_____________________________________________________________*/

#subnav {
	clear:both;
	background:#C2C3B9 url('../images/furniture/subnav-background.gif') repeat-x;
	padding:6px 0 0 6px;
	border-bottom:1px solid #999;
}

#subnav table {
	border-collapse:collapse;
}

#subnav table td {
	padding:4px;
	vertical-align:top;
	text-align:center;
}

#subnav table td a {
	font-size:1.1em;
	color:#404947 !important;
	text-shadow: #FFF 0px 1px 0px;
	font-weight:bold;
}

#subnav ul {
	margin:0 0 0 24px;
	padding:6px 0 8px 0;
}	

#subnav li {
	color:#FFF;
	font-size:1.2em;
	font-weight:bold;
	margin:0 20px 0 0;
	display: inline;
	list-style-type: none;
}

#subnav li a {
	font-size:0.9em;
	color:#404947;
	text-shadow: #FFF 0px 1px 0px;
	text-decoration:none;
}

#subnav li a:hover {
	text-decoration:underline;
}

#subnav li.search a {
	padding-right:16px;
	outline:none;
	background:url('../images/furniture/triangle_white.png') no-repeat right 1px;
}

#subnav li.search a.down {
	background:url('../images/furniture/triangle_white.png') no-repeat right -21px;
}

/*	CONTENT
_____________________________________________________________*/

#maincontent #content {
	margin:10px;
	min-width:960px;
}

#content .col-1,
#content .col-2,
#content .col-3,
#content .col-4,
#content .col-5,
#content .col-6,
#content .col-7,
#content .col-8,
#content .col-9,
#content .col-10,
#content .col-11,
#content .col-12 {
	float: left;
	margin: 0 28px 10px 0;
}

#content .col-1 { width: 52px; }	/*  */
#content .col-2 { width: 132px; }	/*  */
#content .col-3 { width: 212px; }	/*  */
#content .col-4 { width: 292px; }	/*  */
#content .col-5 { width: 372px; }	/*  */
#content .col-6 { width: 452px; }	/*  */
#content .col-7 { width: 532px; }	/*  */
#content .col-8 { width: 612px; }	/*  */
#content .col-9 { width: 692px; }	/*  */
#content .col-10 { width: 772px; }	/*  */
#content .col-11 { width: 852px; }	/*  */
#content .col-12 { width: 932px; }	/*  */

/*	COPYRIGHT
_____________________________________________________________*/

#copyright {
	border-top:1px solid #BBB;
	text-align:left;
	margin:0 20px 20px 20px;
	padding:10px 0 0 0;
	font-size:1.0em;
}

#copyright .smaller {
	font-size:0.9em;
}

/*	HORIZONTAL FORM TAB VIEW
_____________________________________________________________*/

ul.form-tabs {
	margin:0px;
	padding:0px;
	list-style: none;
	float:left;
	display:block;
}

ul.form-tabs li.tab {
	-moz-border-radius-topleft: 4px;
	-khtml-border-top-left-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	-moz-border-radius-topright: 4px;
	-khtml-border-top-right-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
	float: left;
	margin:0 4px 0 0;
	padding:0;
}
	
ul.form-tabs li.tab a {
	border-top:1px solid #AAA;
	border-left:1px solid #AAA;
	border-right:1px solid #AAA;
	-moz-border-radius-topleft: 4px;
	-khtml-border-top-left-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	-moz-border-radius-topright: 4px;
	-khtml-border-top-right-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
	float:left;
	margin:0;
	outline:none;
	height:20px;
	padding:6px 20px 2px 20px;
	font-size:1.2em;
	font-weight:bold;
	text-decoration: none;
	color:#404947;
	background:#C2C3B9;
}
	
ul.form-tabs li.tab a:hover {
	color: #404947;
}
	
ul.form-tabs li.tab a.active {
	font-weight: bold;
	color: #FFF;
	border-top:1px solid #757C76;
	border-left:1px solid #757C76;
	border-right:1px solid #757C76;
	background:#757C76;
}

/*	HORIZONTAL FORM LAYOUT VIEW
_____________________________________________________________*/

div.tabcontainer {
	border-top:4px solid #757C76;
	margin:0;
	padding:0;
}

div.form-horizontal {
	background:#FFF;
	color:#444;
	padding:0;
	margin:0 0 10px 0;
	border:1px solid #AAA;
}

div.form-horizontal .form-header {
	background:#C2C3B9;
	border-bottom:1px solid #AAA;
	color:#404947;
	text-shadow: #FFF 0px 1px 0px;
	font-size:1.2em;
	font-weight:bold;
	text-align:left;
	margin:0;
	padding:6px 10px;
}

div.form-horizontal .form-header span.beta, h3 .beta {
	padding:1px 4px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	background:#B50400;
	font-weight:bold;
	color:#FFF;
	text-shadow:none !important;
}

div.form-horizontal .form-body {
	padding:5px;
	margin:0;
}

div.form-horizontal .form-body .form-box {
	padding:0 10px 0 10px;
	border-right:1px dotted #BBB;
	float:left;
}

div.form-horizontal .form-body .form-box label,
div.dialog-content .form-box label {
	cursor:pointer;
}

div.form-horizontal .form-body .form-box p,
div.dialog-content .form-box p {
	line-height:1.5em;
	font-size:1.0em;
}

div.form-horizontal .form-body .form-box p tt,
div.form-horizontal .form-body .form-box pre,
div.dialog-content .form-box p tt {
	font-family:'Panic sans', Monaco, Courier, monospaced;
	border:1px solid #BBB;
	padding:2px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	background:#FBFFB5;
}

div.form-horizontal .form-body .form-box h1,
div.dialog-content .form-box h1 {
	font-size:1.2em;
	color:#404947;
	margin:10px 0 20px 0;
}

div.form-horizontal .form-body .form-box h2,
div.dialog-content .form-box h2 {
	font-size:1.0em;
	font-weight:normal;
	margin:0 0 5px 0;
}

div.form-horizontal .form-body .form-box h3,
div.dialog-content .form-box h3 {
	font-size:1.2em;
	font-weight:bold;
	margin:15px 0 3px 0;
}

div.form-horizontal .form-body .form-box input.forminput {
	-webkit-transform: scale(1.2, 1.2);
}

div.form-horizontal .form-body .form-box textarea.text,
div.dialog-content .form-box textarea.text {
	font-family:Helvetica, Arial, Verdana, Geneva, Tahoma, sans-serif;
	font-size:1.0em;
	border:1px solid #BBB;
	padding:0 0 0 1px;
	resize:none;
	margin:2px 0 2px 0;
	color:#444;
	background:#FFF;
}

div.form-horizontal .form-body .form-box input.text,
div.dialog-content .form-box input.text {
	font-family:Helvetica, Arial, Verdana, Geneva, Tahoma, sans-serif;
	font-size:1.0em;
	border:1px solid #BBB;
	padding:4px 8px;
	resize:none;
	margin:2px 0 2px 0;
	color:#444;
	background:#FFF;
}

div.form-horizontal .form-body .form-box select.select,
div.dialog-content .form-box select.select {
	font-family:Helvetica, Arial, sans-serif;
	border:1px solid #999;
	color:#444;
	font-size:1.0em;
	padding:4px;
	background:url('../yui/build/assets/skins/sam/sprite.png');
}

div.form-horizontal .form-body .form-box table.clean {
	border-collapse:collapse;
}

div.form-horizontal .form-body .form-box table.clean th {
	font-size:1.2em;
	padding:8px 0px;
	vertical-align:top;
}

div.form-horizontal .form-body .form-box table.clean td {
	font-size:1.0em;
	padding:9px 0px;
	vertical-align:top;
}

/*	BUTTON
_____________________________________________________________*/

div.tab-button .button,
.pixaria-button,
div.form-horizontal .button {
	display:inline-block;
	font-family:Helvetica, Arial, Verdana, Geneva, Tahoma, sans-serif;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	font-size:9pt;
	color:#444;
	margin:0 5px 0 0;
	padding:5px 10px 4px 10px !important;
	text-decoration: none;
	background:#DDD url('../yui/build/assets/skins/sam/sprite.png');
	border:1px solid #AAA;
	text-decoration: none;
}

div.tab-button .button:hover,
.pixaria-button:hover,
div.form-horizontal .button:hover {
	border:1px solid #999;
	cursor:pointer;
	background:#DDD url('../yui/build/assets/skins/sam/sprite.png');
	background-position:0px -1300px;
	text-decoration: none;
}

/*	TAB VIEW BUTTON PANEL
_____________________________________________________________*/

div.tab-button .button {
	float:left;
	font-weight:bold;
	padding:8px 13px 7px 13px !important;
}

div.tab-button {
	background:#FFF;
	padding:15px;
	border:1px solid #AAA;
	color:#404947;
	font-size:1.2em;
	font-weight:bold;
	text-align:left;
}

div.tab-button .confirmation {
	float:left;
	padding:9px 0 0 15px;
	width:380px;
	display:inline;
}

/*	TABLE TABBED FORM VIEW
_____________________________________________________________*/

div.form-horizontal .form-table {
	padding:0;
}

table.form-table {
	border-collapse:collapse;
	border:0;
	margin:0;
	padding:0;
	width:100%;
}

table.form-table tbody th {
	width:250px;
	height:25px;
	vertical-align:top;
	padding:8px 0px 0px 4px;
	font-size:1.1em;
	text-align:left;
	font-weight:bold;
}

table.form-table tbody td {
	height:25px;
	vertical-align:middle;
	height:20px;
	padding:3px;	
	text-align:left;	
}

table.form-table tr.row1 {
	background:#FFF;
}

table.form-table tr.row2 {
	background:#FFF;
}

table.form-table label{
	cursor:pointer;
}

table.form-table td input.text,
table.form-table td textarea.text {
	font-family:Helvetica, Arial, Verdana, Geneva, Tahoma, sans-serif;
	font-size:1.0em;
	border:1px solid #BBB;
	padding:4px 8px;
	resize:none;
	margin:2px 0 2px 0;
	color:#444;
	background:#FFF;
}

table.form-table td select.select {
	font-family:Helvetica, Arial, sans-serif;
	border:1px solid #999;
	color:#444;
	font-size:0.9em;
	padding:4px;
	background:url('../yui/build/assets/skins/sam/sprite.png');
}

/*	TABLE LIST VIEW
_____________________________________________________________*/

table.list {
	border-collapse:collapse;
	border:1px solid #AAA;
	margin:0 0 20px 0;
	padding:0;
	width:100%;
}

table.list th {
	border-right:1px solid #AAA;
	border-bottom:1px solid #AAA;
	border-top:1px solid #AAA;
	font-size:1.2em;
	color:#404947;
	text-shadow: #FFF 0px 1px 0px;
	font-weight:bold;
	text-align:left;
	padding:6px 10px;
	background:#C2C3B9 url('../images/furniture/sprite.png');
	background-repeat:repeat-x;
	background-position:0 -200px;
}

table.list .options {
	border:none;
	padding:5px 0px 6px 4px;
	text-align:left;
	background-color:#e9e9e4;
	font-weight:normal;
}

table.list .options .option-title {
	padding:5px 5px 0 0;
	width:10em;
	text-align:left;
	font-weight:bold;
	float:left;
}

table.list .options .page_button {
	border:1px solid #AAA;
	padding:3px 3px;
	color:#444;
	font-family:Helvetica, Arial, sans-serif;
	font-size:1.1em;
}

table.list th.asc {
	padding:6px 0 6px 22px;
	background-color:#B4B6AC !important;
	background-position:0 -320px;
}

table.list th.desc {
	padding:6px 0 6px 22px;
	background-color:#B4B6AC !important;
	background-position:0 -260px;
}

table.list th .filter {
	display:inline;
	float:right;
	width:16px;
	margin:0;
	height:16px;
	background-color:transparent;
	background-image:url('../images/icons/funnel.png');
}

table.list td {
	border-right:1px dotted #AAA;
	padding:3px 10px;
	vertical-align:middle;
	height:30px;
}

table.list tr.row1 td.active {
	background-color:#F3F3ED !important;
}

table.list tr.row2 td.active {
	background-color:#D8D8D3 !important;
}

table.list td .footnote {
	font-size:0.9em;
	color:#999;
}

table.list tr.row1 {
	background:#FFF;
}

table.list tr.row1:hover {
	background:#f3f3ed;
}

table.list tr.row2 {
	background:#e9e9e4;
}

table.list tr.row2:hover {
	background:#e3e3de;
}

table.list tfoot td {
	background:#D8DEFF;
}

ul.button
	{
	margin:0px;
	padding:0px;
	white-space:nowrap;
	}

ul.button li
	{
	margin:0 !important;
	border:0 !important;
	display: inline;
	list-style-type: none;
	}

ul.button a
	{
	display:inline-block;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	font-size:9pt;
	color:#444;
	margin:0 5px 0 0;
	padding:2px 8px 2px 8px !important;
	text-decoration: none;
	background:#DDD url('../yui/build/assets/skins/sam/sprite.png');
	border:1px solid #AAA;
	text-decoration: none;
	}

ul.button a:hover
	{
	border:1px solid #7D98B8;
	background:#DDD url('../yui/build/assets/skins/sam/sprite.png') 0px -1300px;
	text-decoration: none;
	}

/*	DATABALE VIEW
_____________________________________________________________*/

.datatable-dialog-filter {
	outline:none;
	font-size:0.9em;
	margin:0 0 5px 0;
}

.datatable-dialog-filter select {
	font-family:Verdana, Tahoma, Helvetica, Arial, sans-serif;
	border:1px solid #CCC;
	outline:none;
	color:#444;
	padding:3px;
	font-size:1.0em;
	width:100%;
}

.datatable-dialog-filter a {
	outline:none;
	border:1px solid #CCC;
	color:#444 !important;
	padding:3px;
	text-decoration:none;
	font-family:Verdana, Tahoma, Helvetica, Arial, sans-serif;
	cursor:pointer;
	background:#EEE;
	background-position:3px 4px;
	background-repeat: no-repeat
}

/*	FORM VIEW
_____________________________________________________________*/

fieldset.form {
	max-width:922px;
	margin:5px 0 20px 0;
	padding:10px 0px 10px 0px;
	border:0;
}

fieldset.form legend {
	color:#001C60;
	padding:0;
	margin:0;
	font-size:1.5em;
	font-family:Georgia, Times, Serif;
	font-weight:normal;
}

fieldset.form p {
	margin-top:0px;
	max-width:600px;
}

fieldset.form h1 {
	margin:0 0 5px 0;
	font-size:1.4em;
}

fieldset.form label {
	cursor:pointer;
}

fieldset.form .label {
	font-weight:bold;
}

fieldset.form .text,
fieldset.form .textarea,
fieldset.form .information,
fieldset.form .password,
fieldset.form .select,
fieldset.form .icon,
fieldset.form .date,
fieldset.form .multi,
fieldset.form .fancy-select-single,
fieldset.form .fancy-select-multiple {
	clear:both;
	margin:10px 0 15px 0;
}

fieldset.form .text input,
fieldset.form .password input {
	border:1px solid #CCC;
	color:#444;
	font-size:1.0em;
	padding:4px 1px 4px 4px;
	width:202px;
}

fieldset.form .select select, .formselect {
	font-family:Helvetica, Arial, sans-serif;
	border:1px solid #999;
	color:#444;
	font-size:0.9em;
	padding:4px;
	width:240px;
	background:url('../yui/build/assets/skins/sam/sprite.png');
}

fieldset.form .radio,
fieldset.form .checkbox {
	margin:10px 0 20px 240px;
}

fieldset.form .radio input,
fieldset.form .checkbox input {
	vertical-align:-10%;
	margin:0;
}

fieldset.form .radio label,
fieldset.form .checkbox label {
	display:block;
	width:240px;
	margin:0 0 3px 0;
}

fieldset.form .radio span,
fieldset.form .checkbox span {
	float:left;
	margin:0 0 0 -240px;
}

fieldset.form .information span {
	display:block;
	float:left;
	width:240px;
	padding:6px 0 0 0;
	margin-bottom:20px;
	clear:right;
}

fieldset.form div.button .button {
	margin:10px 0 15px 240px;
	clear:both;
}

fieldset.form .text label,
fieldset.form .select label,
fieldset.form .password label,
fieldset.form .information label,
fieldset.form .icon label,
fieldset.form .multi label,
fieldset.form .date label {
	display:block;
	float:left;
	margin:4px 0 0 0;
	width:240px;
}

fieldset.form a.button {
	border:1px solid #CCC;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	color:#444 !important;
	width:200px;
	display:block;
	text-align:center;
	padding:3px 5px 4px 5px;
	margin:0 5px 0 0;
	text-decoration:none;
	font-family:Verdana, Tahoma, Helvetica, Arial, sans-serif;
	cursor:pointer;
	background:#EEE;
}

fieldset.form .multi input {
	border:1px solid #CCC;
	color:#444;
	font-size:1.0em;
	padding:4px 0 4px 4px;
	width:152px;
}

fieldset.form .multi a.picker {
	border:1px solid #CCC;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	color:#444 !important;
	width:100px;
	padding:3px 5px 4px 5px;
	margin:0 5px 0 5px;
	text-decoration:none;
	font-family:Verdana, Tahoma, Helvetica, Arial, sans-serif;
	cursor:pointer;
	background:#EEE;
}

fieldset.form .multi ul.multi-list {
	margin-left:160px;
	list-style-type:none;
}

fieldset.form .multi ul.multi-list a {
	text-decoration:none !important;
}

fieldset.form .date input {
	border:1px solid #CCC;
	color:#444;
	font-size:1.0em;
	padding:4px 0 4px 4px;
	width:109px;
}

fieldset.form .date a.picker {
	border:1px solid #CCC;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	color:#444 !important;
	padding:3px 5px 4px 23px;
	margin:0 5px 0 5px;
	text-decoration:none;
	font-family:Verdana, Tahoma, Helvetica, Arial, sans-serif;
	cursor:pointer;
	background:#EEE url('../images/icons/calendar.png') 3px 4px;
	background-repeat: no-repeat
}

fieldset.form .date a.picker:hover {
	background:#E8E8FF url('../images/icons/calendar.png') 3px 4px;
	background-repeat: no-repeat
}

fieldset.form .fancy-select-single label,
fieldset.form .fancy-select-multiple label{
	display:block;
	float:left;
	width:240px;
}

fieldset.form .fancy-select-single,
fieldset.form .fancy-select-multiple {
	margin:0 0 10px 0;
}

fieldset.form div .bd:after {
	content:".";
	display:block;
	clear:left;
	height:0;
	visibility:hidden;
}

fieldset.form div .bd {
	padding:0 0 10px 0 !important;
}

fieldset.form .cal {
	border:none;
	padding:1em;
}

fieldset.form .error {
	font-weight:bold;
	color:#CC1610;
}

fieldset.form input.button {
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	font-family:Verdana, Tahoma, Helvetica, Arial, sans-serif;
	font-size:1.0em;
	cursor:pointer;
	color:#444;
	padding:3px 7px;
	margin:0 5px 0 0;
	border:1px solid #CCC;
	background:#EEE;
}

fieldset.form input.button:hover {
	background:#E8E8FF;
}


/*	ERRORS
_____________________________________________________________*/

div.error h1 {
	font-weight:bold;
	color:#CC1610 !important;
}

div.error p {
	color:#CC1610;
}


/*	DATE PICKER
_____________________________________________________________*/

/* FORM YUI DATE CALENDAR */
.pixaria-date-picker {
	position:relative;
}

.pixaria-date-picker .bd {
	font-size:1.1em !important;
	background:#EEE !important;
}

.pixaria-date-picker .cal {
	border:none !important;
	padding:1em !important;
}

/*	BREADCRUMB
_____________________________________________________________*/

ul#crumbs, #crumbs li {
	list-style-type:none;
	padding:0;
	background:#DDD url('../yui/build/assets/skins/sam/sprite.png') 0px 0px;
	margin:0;
	}
	
#crumbs {
	height:2.2em;
	border:1px solid #AAA;
	}
	
#crumbs li {
	float:left;
	line-height:2.2em;
	padding-left:.75em;
	}
	
#crumbs li a {
	background:url('../images/furniture/crumbs.png') no-repeat right center;
	display:block;
	padding:0 15px 0 0;
	}
	
#crumbs li a:link,
#crumbs li a:visited {
	text-decoration:none;
	}
	
#crumbs a:link, #crumbs a:visited,	
#crumbs li a:hover,
#crumbs li a:focus {
	outline:none;
	}

/*	ICON PICKER VIEW
_____________________________________________________________*/

fieldset.form .icon .icon-picker-button {
	width:100px;
	border:1px solid #CCC;
	color:#444 !important;
	padding:3px 5px 4px 23px;
	text-decoration:none;
	font-family:Verdana, Tahoma, Helvetica, Arial, sans-serif;
	cursor:pointer;
	background:#EEE;
	background-position:3px 4px;
	background-repeat: no-repeat
}

fieldset.form .icon .icon-picker-button:hover {
	background:#E8E8FF;
	background-position:3px 4px;
	background-repeat: no-repeat
}

.icon-picker-iconlist {
	margin:0;
	padding:0;
	background:#FFF;
	height:90px;
	clear:both;
}

.icon-picker-iconlist img {
	margin:2px;
	background:#FFF;
	border:1px solid #CCC;
	padding:3px;
	float:left;
}

.icon-picker-iconlist img:hover {
	background:#E2EFFF;
	border:1px solid #4475EB;
}

/*	FANCY SELECT - SINGLE ITEM SELECT
_____________________________________________________________*/

.fss {
	background:#FFF !important;
	overflow:scroll !important;
	overflow-x:hidden !important;
	border:1px solid #AAA !important;
	float:left !important;
	margin:5px 0 0 0 !important;
	padding:0 !important;
	font-size:8pt !important;
}
	
.fss .row {
	border-collapse:collapse;
	border:0px !important;
	height:30px !important;
	overflow:hidden !important;
}	
	
.fss .fss-checkbox {
	width:20px !important;
	margin:8px 0 0 0 !important;
	padding:0 0 0 3px !important;
	float:left !important;
}

.fss .fss-label {
	margin:0 !important;
	padding:0.6em 0 0 0 !important;
	vertical-align:middle !important;
	float:left !important;
	height:30px !important;
}

.fss .fss-label label {
	cursor:pointer !important;
	font-weight:normal !important;
	font-size:8pt !important;
}

/* TOOLBAR DEFINITIONS
_____________________________________________________________*/

#toolbar-tools {
	min-width:965px;
	background:#FFF;
	color:#444;
	margin:0;
	margin:0 0 20px 0;
	border:1px solid #AAA;
}

#toolbar-tools #toolbar-title {
	background:#C2C3B9;
	border-bottom:1px solid #AAA;
	color:#404947;
	text-shadow: #FFF 0px 1px 0px;
	font-size:1.2em;
	font-weight:bold;
	text-align:left;
	padding:6px 10px;
}

#toolbar-tools #toolbar-body {
	padding:3px;
}

#toolbar-tools #toolbar-body table {
	border-collapse:collapse;
}

#toolbar-tools #toolbar-body table td {
	padding:3px;
	text-align:center;
}

#toolbar-tools #toolbar-body table td a {
	color:#000 !important;
}

/*	DASHBOARD
_____________________________________________________________*/

#newscontainer {
	float:left;
	width:670px;
}

#newscontainer .topstories {
	margin:3px 0 0 0;
}

#newscontainer .topstories div:hover {
	cursor:pointer;
}

#newscontainer .topstories h1 {
	font-size:12pt;
	font-weight:bold;
	padding:5px 0 5px 0;
	font-family:Helvetica, Arial, Sans-serif;
	display:block;
}

#newscontainer .topstories .announcement h1 {
	background:url('../images/icons/22x22/dialog-warning.png') no-repeat;
	padding:2px 0 5px 28px;
}

#newscontainer .topstories .announcement h1 a {
	color:#B50400 !important;
}

#newscontainer .topstories h1 a:hover {
	text-decoration:underline;
}

#newscontainer .topstories p {
	margin-top:5px;
}

#newscontainer .topstories a {
	text-decoration:none;
}

#newscontainer .topstories span {
	color:#999;
}

#newscontainer .substories {
	margin:3px 0 0 0;
	padding:5px;
}

#newscontainer .substories h1 {
	font-family:Helvetica, Arial, Verdana, sand-serif;
	font-weight:bold;
	display:block;
	margin:0px;
	font-size:12pt;
}

#newscontainer .substories p {
	margin: 5px 0 0 0;
}

#newscontainer .substories p span {
	color:#999;
}

#newscontainer .substories p a {
	text-decoration:none;
	font-weight:bold;
}

#newscontainer .substories p a:hover {
	text-decoration:underline;
}

/*	DASHBOARD STATUS MESSAGES
_____________________________________________________________*/

.db-status-ok,
.db-status-note,
.db-status-search,
.db-status-warning {
	border:1px solid #BBB;
	background:#EAEBDE;
	-webkit-border-radius:3px;
	-moz-border-radius:5px;
	border-radius:5px;
	padding:5px 5px 10px 5px;
	margin:10px 0 20px 0 !important;
}

.db-status-ok h3,
.db-status-note h3,
.db-status-search h3,
.db-status-warning h3 {
	margin:0px !important;
	display:block;
	color:#7E7E74;
	padding:6px 0px 5px 35px;
	font-size:1.4em !important;
	font-weight:bold;
}

.db-status-ok p,
.db-status-note p,
.db-status-search p,
.db-status-warning p {
	margin:5px 0 0 0;
}

.db-status-note h3 {
	background:url('../images/icons/30x30/lightbulb.png') no-repeat;
}

.db-status-ok h3 {
	background:url('../images/icons/30x30/thumbs-up.png') no-repeat;
}

.db-status-warning h3 {
	background:url('../images/icons/30x30/lightbulb.png') no-repeat;
}

.db-status-search h3 {
	background:url('../images/icons/30x30/search.png') no-repeat;
}

/*	DIALOG BOX CONTENT
_____________________________________________________________*/

.dialog-content {
	color:#444;
}

div.dialog-content .form-box {
	padding:0 10px 10px 10px;
	float:left;
}

.dialog-content h1 {
	font-size:1.2em;
}

.dialog-content .buttons {
	text-align:right;
	margin:10px 0 10px 0;
}

/*	TEXTBOX LIST
_____________________________________________________________*/

ul.textboxlist {
	border:1px solid #BBB;
	background:#FFF;
	width:232px;
	height:80px;
	padding:4px;
	margin:0;
	overflow-y:auto;
	
}

ul.textboxlist li {
	float:left;
	border:1px solid #C2C3B8;
	background:#E0E0D5;
	display: block;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 1px 15px 2px 2px;
	margin: 0 5px 3px 0;
	cursor: default;
	list-style:none;
	position: relative;
}

ul.textboxlist li a.bit-button {
	position: absolute;
	right: 4px;
	top: 5px;
	display: block;
	width: 7px;
	height: 7px;
	font-size: 1px;
	background: url('../images/furniture/close.gif');	
}

ul.textboxlist li a.bit-button:hover {
	border: none; 
	background-position: 7px;
	text-decoration: none;
}

/*	COLUMN VIEW
_____________________________________________________________*/

.pt-colview {
	border:1px solid #AAA;
	width:607px;
	position:relative;
	overflow-x:auto;
	overflow-y:hidden;
}

.pt-colview div.list-container {
	position:absolute;
	top:0px;
	cursor:pointer;
	width:303px;
	border-right:1px solid #CCC;
	overflow-y:auto;
	overflow-x:none;
	height:100%;
}

.pt-colview div.list-container ul {
	margin:0 0 0 1px;
	padding:0;
	list-style-type:none;
}

.pt-colview div.list-container ul li {
	margin:0;
	font-size:1.1em;
	padding:5px 8px;
}

.pt-colview div.list-container ul li.li1 {
	background:#FFF url('../images/furniture/next.png') no-repeat right;
}

.pt-colview div.list-container ul li.li2 {
	background:#f3f3ed url('../images/furniture/next.png') no-repeat right;
}

.pt-colview div.list-container ul li.active {
	background:#C2C3B8 url('../images/furniture/next.png') no-repeat right;
}

.pt-colview div.list-container ul li.next {
	background-image:none;
}