{*

/*
*
*	Pixaria Gallery
*	Copyright Jamie Longstaff
*
*/

*}{include_template file="admin.snippets/admin.html.header.tpl"}

<div id="admin-outerdiv">

<div id="admin-innerdiv">




{include_template file="admin.jclient/settings.form.tpl"}



</div>

</div>

{include_template file="admin.snippets/admin.html.footer.tpl"}
