
	<div id="copyright">
	
		<strong><a href="http://www.pixaria.com/">Pixaria Gallery</a> Version {$set_software_version}</strong><br />
		<span class="smaller">&copy; 2001 &ndash; {$smarty.now|date_format:"%Y"} Pixaria Software / Jamie Longstaff<br />All rights reserved.</span>
		
	</div>

</div>

</div>

</body>

</html>
