{*

/*
*
*	Pixaria Gallery
*	Copyright Jamie Longstaff
*
*/

*}

{if $action_complete}

	<div class="notification-complete" id="notification-complete" onclick="javascript:Effect.Fade('notification-complete',{literal}{duration:0.0}{/literal});" title="Click here to dismiss this message">
	
	<h1>{$form_title_text}</h1>
			
	</div>

{/if}