{*

/*
*
*	Pixaria Gallery
*	Copyright Jamie Longstaff
*
*/

*}<div style="width:{$fss_width}px; height:{$fss_height}px; background:#FFF; overflow:scroll; overflow-x:hidden; border:1px solid #AAA; {$fsm_style}" onselectstart="javascript:return false;">
	
	<table width="100%" style="border-collapse:collapse; border:0px;">
	
	{section name="fss_loop" loop=$fss_rows}
	
	{if $fss_values[fss_loop] != ""}
	
		<tr style="height:25px; background:#{cycle values='F0F5FA,FFF'};"><td style="width:20px; padding:0px;"><input type="radio" name="{$fss_name}" id="fss_{$smarty.section.fss_loop.index}" value="{$fss_values[fss_loop]}"{if $fss_selected==$fss_values[fss_loop]} checked="checked"{/if}></td><td style="width:{$fss_width-20}px; vertical-align:middle; padding:0px;"><b><label for="fss_{$smarty.section.fss_loop.index}" style="cursor:pointer;">{$fss_options[fss_loop]}</label></b></td></tr>
	
	{else}
	
		<tr style="height:25px; background:#{cycle values='F0F5FA,FFF'};"><td style="width:20px; vertical-align:top; padding-top:4px;">&nbsp;</td><td>&nbsp;</td></tr>
	
	{/if}
	
	{/section}
			
	</table>
	
</div>
