{*

/*
*
*	Pixaria Gallery
*	Copyright Jamie Longstaff
*
*/

*}<div style="width:{$fsm_width}px; height:{$fsm_height}px; background:#FFF; overflow:scroll; overflow-x:hidden; border:1px solid #AAA; {$fsm_style}" onselectstart="javascript:return false;">
	
	<table width="100%" style="border-collapse:collapse; border:0px;">
	
	{section name="fsm_loop" loop=$fsm_rows}
	
	{if $fsm_values[fsm_loop] != ""}
	
		<tr style="height:25px; background:#{cycle values='F0F5FA,FFF'};"><td style="width:20px; vertical-align:top; padding-top:4px;"><input type="checkbox" name="{$fsm_name}[]" id="fsm_{$fsm_name}_{$smarty.section.fsm_loop.index}" value="{$fsm_values[fsm_loop]}"{section name="selected" loop=$fsm_selected}{if $fsm_selected[selected]==$fsm_values[fsm_loop]} checked="checked"{/if}{/section}></td><td><b><label for="fsm_{$fsm_name}_{$smarty.section.fsm_loop.index}" style="cursor:pointer;">{$fsm_options[fsm_loop]}</label></b></td></tr>
	
	{else}
	
		<tr style="height:25px; background:#{cycle values='F0F5FA,FFF'};"><td style="width:20px; vertical-align:top; padding-top:4px;">&nbsp;</td><td>&nbsp;</td></tr>
	
	{/if}
	
	{/section}
			
	</table>
	
</div>
