<div class="yui-skin-sam pixaria-date-picker">

	<script type="text/javascript">
		{literal}
		YAHOO.util.Event.onDOMReady(function(){
	
			var dialog_{/literal}{$datepicker_unique}{literal}, calendar_{/literal}{$datepicker_unique}{literal};
	
			calendar_{/literal}{$datepicker_unique}{literal} = new YAHOO.widget.Calendar("cal_{/literal}{$datepicker_unique}{literal}", {
				iframe:false,          					// Turn iframe off, since container has iframe support.
				pagedate:"{/literal}{$datepicker_pagedate}{literal}",	// Set the default page to show.
				selected:"{/literal}{$datepicker_selected}{literal}",	// Set the default date to be selected.
				hide_blank_weeks:true  					// Enable, to demonstrate how we handle changing height, using changeContent
			});
	
			function okHandler() {
				if (calendar_{/literal}{$datepicker_unique}{literal}.getSelectedDates().length > 0) {
	
					var selDate = calendar_{/literal}{$datepicker_unique}{literal}.getSelectedDates()[0];
	
					// Pretty Date Output, using Calendar's Locale values: Friday, 8 February 2008
					var dStr = selDate.getDate();
					var mStr = selDate.getMonth() + 1;
					var yStr = selDate.getFullYear();
					
					// Pad days and months which are less than ten with zeroes
					if (dStr < 10) { dStr = '0' + dStr; }
					if (mStr < 10) { mStr = '0' + mStr; }
					
					YAHOO.util.Dom.get("{/literal}{$datepicker_id}{literal}").value = dStr + "/" + mStr + "/" + yStr;
				} else {
					YAHOO.util.Dom.get("{/literal}{$datepicker_id}{literal}").value = "";
				}
				this.hide();
			}
			
			function cancelHandler() {
				this.hide();
			}
	
			dialog_{/literal}{$datepicker_unique}{literal} = new YAHOO.widget.Dialog("container_{/literal}{$datepicker_unique}{literal}", {
				context:["show_{/literal}{$datepicker_unique}{literal}", "tl", "bl"],
				buttons:[ {text:"Select", isDefault:true, handler: okHandler}, 
						  {text:"Cancel", handler: cancelHandler}],
				width:"16em",  // Sam Skin dialog needs to have a width defined (7*2em + 2*1em = 16em).
				draggable:false,
				close:true
			});
			
			calendar_{/literal}{$datepicker_unique}{literal}.render();
			dialog_{/literal}{$datepicker_unique}{literal}.render();
	
			// Using dialog.hide() instead of visible:false is a workaround for an IE6/7 container known issue with border-collapse:collapse.
			dialog_{/literal}{$datepicker_unique}{literal}.hide();
	
			calendar_{/literal}{$datepicker_unique}{literal}.renderEvent.subscribe(function() {
				// Tell Dialog it's contents have changed, Currently used by container for IE6/Safari2 to sync underlay size
				dialog_{/literal}{$datepicker_unique}{literal}.fireEvent("changeContent");
			});
	
			YAHOO.util.Event.on("show_{/literal}{$datepicker_unique}{literal}", "click", function() {
			dialog_{/literal}{$datepicker_unique}{literal}.show();
			if (YAHOO.env.ua.opera && document.documentElement) {
				// Opera needs to force a repaint
				document.documentElement.className += "";
			}
						
		});
		});
		{/literal}
	</script>

	<input type="text" class="text" id="{$datepicker_id}" name="{$datepicker_name}" value="{$datepicker_date}" style="width:80px;" /><a class="formbutton plain" href="javascript:void(0);" id="show_{$datepicker_unique}" title="Show Calendar">Choose Date</a>
	
	<div id="container_{$datepicker_unique}">
	<div class="hd">Calendar</div>
	<div class="bd"><div id="cal_{$datepicker_unique}" class="cal"></div></div>
	</div>

</div>

