<div>
	
	<input type="text" class="text" id="{$tbl_unique}_keyword_name" name="{$tbl_unique}_keyword_name" />
	
	<a title="Add item" id="{$tbl_unique}_button" href="javascript:void(0);" class="button">Add</a>
		
	<div id="{$tbl_unique}_keyword_holder">
	
		<ul id="{$tbl_unique}_list" class="textboxlist" style="width:{$tbl_width}px; height:{$tbl_height}px;">
		
		{section name="keywords" loop=$tbl_keywords}
			
			<li id="{$tbl_unique}_list_{$smarty.section.index+1}">{$tbl_keywords[keywords]} <a href="javascript:void(0);" class="bit-button" rel="{$smarty.section.index+1}"> </a></li>
		
		{sectionelse}
			
			<li id="{$tbl_unique}_no_keyword">Currently no keywords</li>
		
		{/section}
		
		</ul>
	
	</div>

	<script type="text/javascript">
	
	{literal}
	
	// Store all names in hidden input
	var tbl_{/literal}{$tbl_unique}{literal}_handleAddToKeyword = function (event) {
		
		// Group count
		var keywordCount	= $('{/literal}{$tbl_unique}{literal}_keyword_count').value;
		
		// Get Name
		var keyword			= $('{/literal}{$tbl_unique}{literal}_keyword_name').getValue();
		
		if (keyword != '') {
			
			// Hide no keyword
			if ($('{/literal}{$tbl_unique}{literal}_no_keyword')) {
				$('{/literal}{$tbl_unique}{literal}_no_keyword').remove();
			}
			
			$('{/literal}{$tbl_unique}{literal}_keyword_holder').insert('<input type="hidden" name="{/literal}{$tbl_name}{literal}[]" id="{/literal}{$tbl_unique}{literal}_frm_'+keywordCount+'" value="' + keyword + '"/>\n');
			
			$('{/literal}{$tbl_unique}{literal}_list').insert('<li id="{/literal}{$tbl_unique}{literal}_list_'+keywordCount+'">' + keyword + ' <a class="bit-button" href="javascript:void(0);" rel="'+keywordCount+'"> <'+'/a><'+'/li>');
			
			$('{/literal}{$tbl_unique}{literal}_keyword_count').value = keywordCount + 1;
			
			$('{/literal}{$tbl_unique}{literal}_keyword_name').focus();
			
		}
		
		$$('#{/literal}{$tbl_unique}{literal}_list a').invoke('observe','click', tbl_{/literal}{$tbl_unique}{literal}_handleRemoveFromKeyword);
		$('{/literal}{$tbl_unique}{literal}_keyword_name').setValue('');
		
		return false;
		
	};
	
	var tbl_{/literal}{$tbl_unique}{literal}_handleRemoveFromKeyword = function (el) {
		
		var itemId = el.findElement().readAttribute('rel');
		
		$('{/literal}{$tbl_unique}{literal}_frm_'+itemId).remove();
		$('{/literal}{$tbl_unique}{literal}_list_'+itemId).remove();
		
	};
	
	$('{/literal}{$tbl_unique}{literal}_keyword_name').observe('keypress', function (e) { if (e.which == 13) { tbl_{/literal}{$tbl_unique}{literal}_handleAddToKeyword(); return false; } } );
	
	$('{/literal}{$tbl_unique}{literal}_button').observe('click', tbl_{/literal}{$tbl_unique}{literal}_handleAddToKeyword);
	
	$$('#{/literal}{$tbl_unique}{literal}_list a').invoke('observe','click', tbl_{/literal}{$tbl_unique}{literal}_handleRemoveFromKeyword);
	
	{/literal}
	
	</script>

	<input type="hidden" name="{$tbl_unique}_keyword_count" id="{$tbl_unique}_keyword_count" value="{$keyword_count}" />

	{section name="keywords" loop=$tbl_keywords}

		<input type="hidden" name="{$tbl_name}[]" id="{$tbl_unique}_frm_{$smarty.section.index+1}" value="{$tbl_keywords[keywords]}" />
		
	{/section}

</div>
