{*

/*
*
*	Pixaria Gallery
*	Copyright Jamie Longstaff
*
*/

*}{include_template file="admin.snippets/admin.html.header.tpl"}

<div id="admin-outerdiv">

<div id="admin-innerdiv">

{include_template file="shared/javascript.html"}

<form name="divestock-galleries" id="divestock-galleries" action="" method="post" onsubmit="javascript:sendData('divestock-galleries','{$base_url}{$fil_admin_divestock}'); return false;">

<input type="hidden" name="cmd" value="applySettings" />

<div class="form-horizontal">

	<div class="form-header">Divestock Published Galleries</div>

	<div class="form-body">
	
		<div class="form-box" style="min-height:320px; width:290px;">
			
			<h3>Publish Galleries</h3>
			
			<p>Select galleries of images from your library to publish to the Divestock image database by checking the boxes next to those you wish to include.</p>
			
			<h3>Important Note!</h3>
			
			<p>Only images visible to unregistered users can be published on Divestock.  Any images which are restricted to registered users or images from galleries which have a password or are restricted to registered users will be not be published.</p>
			
			<script language="JavaScript" type="text/javascript">
			{literal}
				
				new Ajax.Updater('ds_information','{/literal}{$base_url}{$fil_admin_divestock}{literal}',{
					
					parameters: { cmd:'getProfileData'},
					method: 'post'
				
				});
				
			{/literal}
			</script>
			
			<div id="ds_information">
			
			
			</div>
			
		</div>
		
		<div class="form-box" style="min-height:320px; width:520px;">

			<h3>Select galleries to publish (<span id="ds_image_count">{$image_count}</span> images to publish):</h3>
			
			{html_fancy_select_multiple options=$menu_gallery_title values=$menu_gallery_id name='divestock_galleries' width='520' rows='10' selected=$published_gallery_id}
						
			
			<script language="JavaScript" type="text/javascript">
			{literal}
			
			$$('input[name="divestock_galleries[]"]').invoke('observe','click', function(el) { 
				
				new Ajax.Request('{/literal}{$base_url}{$fil_admin_divestock}{literal}?cmd=countTotalImages', {
					method:'post',
					parameters: Form.serializeElements($$('input[name="divestock_galleries[]"]'), true),
					onSuccess: function (transport) {
					
						var responseObj = transport.responseText.evalJSON();
						
						if (responseObj.image_count < 1) {
							$('ds_image_count').update('0');
						} else {
							$('ds_image_count').update(responseObj.image_count);
						}
						
					}
				});
			
			});
			
			{/literal}
			</script>
			
		</div>

	</div>
	
    <div class="clear"></div>
       	
</div>

<div class="tab-button">

<input type="submit" value="Save Gallery Selection" id="submitbutton1" class="button" />

<div id="status" class="confirmation" style="display:none;">Your changes have been saved.</div>
		
<div class="clear"></div>
	
</div>

</form>


</div>

</div>

{include_template file="admin.snippets/admin.html.footer.tpl"}
