{*

/*
*
*	Pixaria Gallery
*	Copyright Jamie Longstaff
*
*/

*}{include_template file="admin.snippets/admin.html.header.tpl"}


<div id="admin-outerdiv">

<div id="admin-innerdiv">



<table class="table-text">

<tr>

<th>You are now viewing a list of images in a lightbox created by {$first_name} {$family_name}.</th>

<td></td>
<td>&nbsp;</td>

</tr>

</table>




<form method="post" id="image_list" action="{$base_url}{$fil_admin_lightbox}">

<input type="hidden" id="cmd" name="cmd" value="" />

<table class="list">

<tr>
	<th><input title="Toggle all checkboxes" type="checkbox" name="toggle" onclick="javascript:this.checked ? selectAll('image_list','images[]') : deselectAll('image_list','images[]')" /></th>
	<th colspan="2">File name</th>	
	<th style="text-align:center;">Active</th>
	<th>Image title</th>	
	<th>Image dimensions</th>
	<th>Actions</th>
</tr>

{section name="assets" loop=$icon_path}

	<tr class="{cycle values='row1,row2'}">
	
	<td style="width:18px;"><input type="checkbox" name="images[]" value="{$image_id[assets]}" /></td>
	
	<td style="width:42px; height:42px; text-align:center; border-right:0;"><a href="javascript:imagePreviewWindow('{$base_url}{$fil_admin_image_output}?html={$comp_path[assets]}&amp;','{$comp_width[assets]}','{$comp_height[assets]}');"><img src="{$base_url}{$fil_admin_image_output}?file={$icon_path[assets]}&amp;" border="0" width="{$icon_width[assets]}" height="{$icon_height[assets]}" title="{$image_filename[assets]}" alt="{$image_filename[assets]}" class="icon" /></a>
	</td>
	
	<td><a class="plain" href="javascript:imagePreviewWindow('{$base_url}{$fil_admin_image_output}?html={$comp_path[assets]}&amp;','{$comp_width[assets]}','{$comp_height[assets]}');">{$image_filename[assets]}</a></td>
	
	<td style="text-align:center;">
	{if $image_active[assets]}
	<img src="{$base_url}resources/images/icons/16x16/tick.png" alt="Inactive" width="16" height="16" border="0" title="This image is live for viewing" />
	{else}
	<img src="{$base_url}resources/images/icons/16x16/cross.png" alt="Inactive" width="16" height="16" border="0" title="This image is disabled for viewing" />
	{/if}
	</td>
							
	<td>{$image_title[assets]}</td>
							
	<td>{$image_width[assets]} x {$image_height[assets]} pixels</td>
	
	<td>
	
	<ul class="actionlist">
	<li><a href="{$base_url}{$fil_admin_image}?cmd=edit&amp;image_id={$image_id[assets]}">Edit</a></li>
	<li><a href="{$base_url}{$fil_admin_image}?cmd=formDeleteFromLibrary&amp;images[]={$image_id[assets]}">Delete</a></li>
	</ul>
	
	</td>
	
	</tr>
	
{sectionelse}

	<tr class="{cycle values='row1,row2'}">
		
	<td colspan="6">There are no images in this lightbox.</td>
								
	</tr>

{/section}	

	<tr>
		<th colspan="7">
			
			<select name="form_action" class="formselect" id="form_action">
				
				<option value="{$form_actions.images_batch_edit}">Batch edit the selected images</option>
				<option value="{$form_actions.gallery_images_create}">Create a new gallery with the selected images</option>
				<option value="{$form_actions.gallery_images_add}">Copy selected images to a gallery</option>
				<option value="{$form_actions.images_delete}">Permanently remove selection from your library</option>
				
			</select>
			
			<input type="button" name="button" value="Apply action to selected images" class="formbutton" onclick="javascript:submitActionForm('image_list');" />
			
		</th>
	</tr>

</table>

</form>

</div>

</div>


{include_template file="admin.snippets/admin.html.footer.tpl"}