{*

/*
*
*	Pixaria Gallery
*	Copyright Jamie Longstaff
*
*/

*}{include_template file="admin.snippets/admin.html.header.tpl"}


<div id="admin-outerdiv">

<div id="admin-innerdiv">





<table class="table-text">

<tr>
<th>This page lists all the lightboxes saved by users of your website.  Only lightboxes with images saved in them are shown here.</th>
<td></td>
<td>&nbsp;</td>
</tr>
</table>


<table class="list">

<tr>
	<th>User Name</th>	
	<th>Lightbox Name</th>	
	<th>Images in this lightbox</th>	
	<th>Created</th>	
	<th>Action</th>	
</tr>

	{section name="lightboxes" loop=$lightbox_id}
	
		<tr class="{cycle values='row1,row2'}">
		
		<td style="height:30px;">{$lightbox_user_name[lightboxes]}</td>
		
		<td>{$lightbox_name[lightboxes]}</td>
		
		<td>{$lightbox_items[lightboxes]}</td>
		
		<td>{$lightbox_date[lightboxes]|date_format:"%A, %B %e, %Y"}</td>
		
		<td>
		
		<ul class="actionlist">
		
		<li><a href="{$base_url}{$fil_admin_lightbox}?cmd=listLightboxImages&amp;lid={$lightbox_id[lightboxes]}">List Images</a></li>
		
		<li><a href="{$base_url}{$fil_index_lightbox}?lid={$lightbox_id[lightboxes]}&amp;cmd=downloadContactSheet" target="_new">PDF Contact Sheet</a></li>
		
		<li><a href="javascript:void(0);" onclick="javascript:prompt('Use this URL to give others access to this lightbox:','{$base_url}{$fil_index_lightbox}?lid={$lightbox_id[lightboxes]}&amp;key={$lightbox_access_key[lightboxes]}');return false;">Sharing URL</a></li>
		
		<li><a href="{$base_url}{$fil_admin_lightbox}?cmd=actionEmptyLightbox&amp;lid={$lightbox_id[lightboxes]}&amp;userid={$lightbox_userid[lightboxes]}">Empty</a></li>
		
		<li><a href="{$base_url}{$fil_admin_lightbox}?cmd=actionDeleteLightbox&amp;lid={$lightbox_id[lightboxes]}&amp;userid={$lightbox_userid[lightboxes]}">Delete</a></li>
		
		</td>
											
		</tr>
	
	{sectionelse}
	
		<tr class="{cycle values='row1,row2'}">
		
		<td colspan="5" style="height:30px;">You have no lightboxes to view.</td>
		
		</tr>
	
	{/section}	

</table>



</div>

</div>



<!-- INCLUDE THE BOTTOM HTML TEMPLATE -->

{include_template file="admin.snippets/admin.html.footer.tpl"}


