{*

/*
*
*	Pixaria Gallery
*	Copyright Jamie Longstaff
*
*/

*}{include_template file="index.layout/main.header.tpl"}




<table class="table-text">

<tr>
<th>##CTCT_FRM_14##</th>
<td>

<h1>##CTCT_FRM_15##</h1>
	
<p>##CTCT_FRM_16##</p>
	
</td>
<td>&nbsp;</td>
</tr>

</table>




<!-- INCLUDE THE BOTTOM HTML TEMPLATE -->
{include_template file="index.layout/main.footer.tpl"}
