{*

/*
*
*	Pixaria Gallery
*	Copyright Jamie Longstaff
*
*/

*}{include_template file="admin.snippets/admin.html.header.tpl"}

{include_template file="admin.blog/blog.tinymce.tpl"}

<div id="admin-outerdiv">

<div id="admin-innerdiv">


<table class="table-text">

<tr>
<th>Please check that all the information you've entered for your new gallery is correct before continuing.  If you would like to create a new blog article about this gallery, enter the details in the 'Create Blog Article' tab.</th>

<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>

</table>



<form action="{$base_url}{$fil_admin_gallery}" method="post">

<input type="hidden" name="cmd" value="saveNewGallery" />

<input type="hidden" name="image_path" value="{$image_path}" />

{section name="items" loop=$images}
<input type="hidden" name="images[]" value="{$images[items]}" />
{/section}


<ul id="form-tabs" class="form-tabs">
	<li class="tab"><a href="#preview" title="Preview the settings for this gallery">Preview Gallery</a></li>
	<li class="tab"><a href="#blog" title="Create a new blog entry for this gallery">Create Blog Article</a></li>
</ul>

<br clear="all" />

<div class="tabcontainer">

	<div id="preview" class="form-horizontal">

		<div class="form-body">
		
			<div class="form-box" style="width:400px; min-height:330px;">
			
				<table class="clean">
					
					<tr>
					<th style="width:200px;">Gallery title:</th>
					<td>{$gallery_title}<input type="hidden" name="gallery_title" value="{$gallery_title}" /></td>
					</tr>
					
					<tr>
					<th>Gallery description:</th>
					<td>{$gallery_description}<input type="hidden" name="gallery_description" value="{$gallery_description|escape:'url'}" /></td>
					</tr>
					
					<tr>
					<th>Gallery avatar:</th>
					<td>{if $gallery_key != ""}<img src="{$base_url}{$fil_admin_image_output}?file={$large_path}&amp;" border="0" width="{$large_size[0]}" height="{$large_size[1]}" alt="This image will be the thumbanil key image for this gallery" title="This image will be the thumbanil key image for this gallery" class="thumbnail" />{else}No key image selected{/if}<input type="hidden" name="gallery_key" value="{$gallery_key}" /></td>
					</tr>
					
				</table>
			
			</div>
			
			<div class="form-box" style="width:400px; min-height:330px;">
			
				<table class="clean">

					<tr>
					<th>Gallery active:</th>
					<td>{if $gallery_active}Yes{else}No{/if}<input type="hidden" name="gallery_active" value="{$gallery_active}" /></td>
					</tr>
					
					<tr>
					<th>Gallery short title:</th>
					<td>{$gallery_short_title}<input type="hidden" name="gallery_short_title" value="{$gallery_short_title}" />
					</td>
					</tr>
					
					<tr>
					<th>Gallery date:</th>
					<td>{$gallery_date|date_format:"%B %e, %Y"}<input type="hidden" name="gallery_date" value="{$gallery_date}" /></td>
					</tr>
					
					<tr>
					<th>Parent gallery:</th>
					<td>{if !$gallery_parent_title}None{else}{$gallery_parent_title}{/if}<input type="hidden" name="gallery_parent" value="{$gallery_parent}" /></td>
					</tr>
					
					<tr>
					<th style="width:200px;">Who can view images:</th>
					<td>
					
					{if $gallery_permissions == 10}
					All users
					{elseif $gallery_permissions == 11}
					Registered users only
					{elseif $gallery_permissions == 12}
					Selected registered users
					{/if}
					
					<input type="hidden" name="gallery_permissions" value="{$gallery_permissions}" /></td>
					</tr>
					
					<tr>
					<th>Groups with access:</th>
					<td>
					
					{if $gallery_permissions == 12}
						
						{section name="users" loop=$gallery_viewers}
							{$smarty.section.users.index+1})&nbsp;&nbsp;{$gallery_viewers_name[users]}<input type="hidden" name="gallery_viewers[]" value="{$gallery_viewers[users]}" /><br />
						{/section}
						{if $gallery_view_error == "1"}<span class="error">You have not selected any users who can view this gallery!</span>{/if}
						
					{else}
					
						{if $gallery_permissions == 10}
						All users
						{elseif $gallery_permissions == 11}
						Registered users only
						{/if}
					
					{/if}
					
					</td>
					</tr>
					
					<tr>
					<th>Gallery password:</th>
					<td>{if $gallery_password != ""}{$gallery_password}{else}None required{/if}<input type="hidden" name="gallery_password" value="{$gallery_password}" /></td>
					</tr>
					
				</table>
			
			</div>
					
			
			<div class="clear"></div>
		
		</div>
		
	</div>
	
	<div id="blog" class="form-horizontal">

		<div class="form-body">
		
			<div class="form-box" style="width:240px; min-height:380px;">
				
				<h3>Create a blog article</h3>
				
				<input type="checkbox" name="blog_create" id="blog_create" class="forminput" /> <label for="blog_create">Check to create a new blog entry</label>
				
				<h3>Title for this article:</h3>
				<input type="text" name="blog_title" value="{$gallery_title}" class="text" style="width:220px;" /><br />

			</div>
			
			<div class="form-box" style="width:600px; min-height:380px;">
				
				<h3>Blog content</h3>
				
				<p>If you have a modern web browser with Javascript enabled, you can use the rich text editing capabilities of the <a href="http://tinymce.moxiecode.com?id=powered_by_tinymce_v2">TinyMCE editor</a> included with Pixaria.  Otherwise, you can use selected HTML tags and <a href="http://daringfireball.net/projects/markdown/" style="text-decoration:underline;" target="_new">Markdown</a> syntax to add formatting to your entry.</p>
				
				<textarea name="blog_content" class="text" style="width:500px; font-family:Monaco,Courier; font-size:7pt;" rows="20" cols="15">{$gallery_description}</textarea>

			</div>
			
			<div class="clear"></div>
		
		</div>
		
	</div>

	<div class="tab-button">
	
	<input type="submit" value="Save Changes" class="button" />
	
	<input type="submit" value="Go Back" class="button" onclick="javascript:history.go(-1);" />
	
	<div class="clear"></div>
		
	</div>
	
</div>

<script type="text/javascript" language="javascript">var tabs = new Control.Tabs('form-tabs');</script>

</form>

</div>

</div>

{include_template file="admin.snippets/admin.html.footer.tpl"}