{*

/*
*
*	Pixaria Gallery
*	Copyright Jamie Longstaff
*
*/

*}{include_template file="admin.snippets/admin.html.header.tpl"}



<div id="admin-outerdiv">

<div id="admin-innerdiv">


<table class="table-text">

<tr>
<th>You are about to remove the following images from this gallery.  Are you sure that you wish to continue?</td>

<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>

</table>


<form method="post" name="img_grid" action="{$base_url}{$fil_admin_gallery}">

<input type="hidden" name="cmd" value="removeImagesFromGallery" />

<input type="hidden" name="gallery_id" value="{$gallery_id}" />

<table class="list">

<tr>
	<th colspan="2">File name</th>	
	<th>Image title</th>	
</tr>

{section name="assets" loop=$icon_path}

	<tr class="{cycle values='row1,row2'}">
	
	<td style="width:42px; height:42px; text-align:center;"><a href="javascript:openPop('{$base_url}{$fil_admin_image_output}?html={$comp_path[assets]}&amp;','{$comp_width[assets]-2}','{$comp_height[assets]-2}','no','no','no','no','no','no','no');"><img src="{$base_url}{$fil_admin_image_output}?file={$icon_path[assets]}&amp;" border="0" width="{$icon_width[assets]}" height="{$icon_height[assets]}" title="{$image_filename[assets]}" alt="{$image_filename[assets]}" class="icon" /></a>
	</td>
	
	<td align="left"><a class="plain" href="javascript:openPop('{$base_url}{$fil_admin_image_output}?html={$comp_path[assets]}&amp;','{$comp_width[assets]-2}','{$comp_height[assets]-2}','no','no','no','no','no','no','no');">{$image_filename[assets]}</a></td>
	
	<td align="left">{$image_title[assets]}<input type="hidden" name="images[]" value="{$image_id[assets]}" /></td>
														
	</tr>

{/section}	

<tr>
<th colspan="3"><input type="submit" value="Remove selected images" class="formbutton" /></th>
</tr>
	
</table>

</form>



</div>

</div>


{include_template file="admin.snippets/admin.html.footer.tpl"}