{*

/*
*
*	Pixaria Gallery
*	Copyright Jamie Longstaff
*
*/

*}{include_template file="admin.snippets/admin.html.header.tpl"}

<div id="admin-outerdiv">

<div id="admin-innerdiv">

<form action="{$base_url}{$fil_admin_gallery}" method="post">

<table class="table-text">

<tr>
<th>

{if $gallery_title != ''}

	The selected images have been added to the gallery {$gallery_title}.

{else}
	
	The images have been added to the selected galleries.

{/if}

</th>

<td>

<h1>Import successful</h1>

{if $gallery_title != ''}

	<p>The images have now been added to the selected galleries.</p>

{else}
	
	<p>The images have been added to the selected galleries.</p>

{/if}

</td>
<td>&nbsp;</td>
</tr>

<tr>
<th>&nbsp;</th>
<td><input type="submit" value="Go to the gallery list" style="width:100%;" class="formbutton" /></td>
<td>&nbsp;</td>
</tr>

</table>

</form>

</div>

</div>


{include_template file="admin.snippets/admin.html.footer.tpl"}