{*

/*
*
*	Pixaria Gallery
*	Copyright Jamie Longstaff
*
*/

*}

<!-- INCLUDE THE TOP HTML TEMPLATE -->
{include_template file="admin.snippets/admin.html.header.tpl"}




<div id="admin-outerdiv">

<div id="admin-innerdiv">



<form action="{$base_url}{$fil_admin_gallery}" method="post">

<input type="hidden" name="gallery_id" value="{$gallery_id}" />

<input type="hidden" name="cmd" value="changeGalleryImageOrder" />

<table class="table-text">

<tr>
<th>Your new gallery has been created and can now be viewed by visitors with the correct access permissions.</th>

<td>

<h1>The gallery '{$gallery_title}' has been created</h1>

<p>The gallery has been created successfully and can now be viewed by any visitors to your Pixaria website who have the access privileges.  You can make changes to this gallery at any time by following the instructions on the library homepage.</p>

<br />

<input type="button" name="library_home" value="Go back to the gallery list" onclick="javascript:location.href='{$base_url}{$fil_admin_gallery}';" class="formbutton" style="width:100%;" />

<br />
<br />

<input type="submit" name="change_order" value="Change the order of images in this gallery" class="formbutton" style="width:100%;" />

</td>
<td>&nbsp;</td>
</tr>
	
</table>

</form>

</div>

</div>



<!-- INCLUDE THE BOTTOM HTML TEMPLATE -->
{include_template file="admin.snippets/admin.html.footer.tpl"}


