{*

/*
*
*	Pixaria Gallery
*	Copyright Jamie Longstaff
*
*/

*}{include_template file="admin.snippets/admin.html.header.tpl"}


<div id="admin-outerdiv">

<div id="admin-innerdiv">



<table class="table-text">

<tr>
<th>Choose a title and description for your new gallery and choose whether you want it to be created as a sub-category of an existing gallery.</th>
<td>

{if $problem}

	<h1>Please correct errors</h1>
	
	<p>There was a problem with the information you submitted on the previous page, please take a moment to review these messages:</p>

	<ol>
	{section name="problems" loop=$gallery_errors}
		
		<li class="html-error-warning">{$gallery_errors[problems]}</li>
	
	{/section}
	</ol>
	
{else}

	<h1>Create a new gallery</h1>
	
	<p>Use galleries to group related images together for easy browsing by visitors to your website.</p>
	
{/if}


</td>
<td>&nbsp;</td>
</tr>

</table>



<form action="{$base_url}{$fil_admin_gallery}" method="post">

<input type="hidden" name="cmd" value="formCheckNewGallery" />

<input type="hidden" name="image_path" value="{$image_path}" />

{section name="items" loop=$images}
<input type="hidden" name="images[]" value="{$images[items]}" />
{/section}


<ul id="form-tabs" class="form-tabs">
	<li class="tab"><a href="#properties" title="Gallery properties">Gallery properties</a></li>
	<li class="tab"><a href="#parent" title="Parent Gallery">Parent Gallery</a></li>
	<li class="tab"><a href="#permissions" title="Permissions">Permissions</a></li>
</ul>

<br clear="all" />

<div class="tabcontainer">

	<div id="properties" class="form-horizontal">

		<div class="form-body">
		
			<div class="form-box" style="border-right:1px dotted #BBB; width:210px; min-height:330px;">
			
				<h3>Gallery avatar</h3>
				
				<p>The avatar is the thumbnail image shown when browsing galleries.</p>
				
				<div id="image_preview"><p style="text-align:center;">{if $gallery_key != ""}<img src="{$base_url}{$fil_admin_image_output}?file={$large_path}&amp;" border="0" width="{$large_size[0]}" height="{$large_size[1]}" alt="This image will be the thumbnail key image for this gallery" title="This image will be the thumbnail key image for this gallery" class="thumbnail" />{else}<a href="javascript:openPop('{$base_url}{$fil_admin_library_search}?cmd=formPopupSearch&amp;name=gallery_key','540','450','no','yes','no','no','yes','no','no');"><img src="{$base_url}resources/images/missing/160x160_missing.jpg" alt="Click here to choose an avatar image for this gallery" title="Click here to choose an avatar image for this gallery" width="160" height="120" border="0" class="thumbnail" /></a>{/if}</p></div>
				
				<input type="hidden" id="gallery_key" name="gallery_key" value="{$gallery_key}" class="forminput" />
				
				<p align="center"><input type="button" onclick="javascript:openPop('{$base_url}{$fil_admin_library_search}?cmd=formPopupSearch&amp;name=gallery_key','540','450','no','yes','no','no','yes','no','no');" title="Select a key image for this gallery" class="formbutton" style="width:160px;" value="Select a key image" /></p>

			</div>
					
			<div class="form-box" style="border-right:1px dotted #BBB; width:240px; min-height:330px;">
				
				<h3>Gallery is active</h3>
				<input type="checkbox" name="gallery_active" id="gallery_active" class="forminput"{if $gallery_active || $gallery_title == ''} checked="checked"{/if} /> <label for="gallery_active">Make this gallery active</label>
				
				<h3>CoolIris &amp; Media RSS</h3>
				<input type="checkbox" name="gallery_rss" id="gallery_rss" class="forminput"{if $gallery_rss} checked="checked"{/if} /> <label for="gallery_rss">Publish CoolIris Media RSS</label>
				
				<h3>Gallery title</h3>
				<input type="text" name="gallery_title" value="{$gallery_title}" class="text" style="width:220px;" />
				
				<h3>Gallery short title</h3>
				
				<p>The short gallery title can contain only letters, numbers, and the underscore and dash characters.</p>
				
				<input type="text" name="gallery_short_title" value="{$gallery_short_title}" class="text" style="width:220px;" />
			
			</div>
					
			<div class="form-box" style="border-right:1px dotted #BBB; width:350px; min-height:330px;">

				<h3>Gallery date</h3>
				
				{if $gallery_date != ""}
				{html_select_date prefix="date_" time=$gallery_date start_year="-50" display_days=true all_extra='class="select"'}
				{else}
				{html_select_date prefix="date_" time=$smarty.now start_year="-50" display_days=true all_extra='class="select"'}
				{/if}
								
				<h3>Gallery description</h3>
				
				<p>The gallery description will be shown on the first page of the gallery above the thumbnails.</p>
				
				<p>Supports selected HTML tags:
				
<pre>&lt;span&gt; &lt;b&gt; &lt;i&gt; &lt;a&gt; &lt;img&gt; &lt;h1&gt; &lt;h2&gt; &lt;h3&gt; &lt;h4&gt;
&lt;p&gt; &lt;ul&gt; &lt;ol&gt; &lt;li&gt; &lt;strong&gt; &lt;emphasis&gt; &lt;code&gt;
&lt;blockquote&gt; &lt;pre&gt; &lt;sup&gt; &lt;sub&gt; &lt;em&gt;</pre>
				
				<textarea name="gallery_description" class="text" style="width:100%;" rows="6" cols="20">{$gallery_description}</textarea>
			
			</div>
					
			<div class="clear"></div>
		
		</div>
		
	</div>

	<div id="parent" class="form-horizontal">

		<div class="form-body">
		
			<div class="form-box" style="border-right:1px dotted #BBB; width:530px; min-height:330px;">
			
				<h3>Parent gallery</h3>
				
				<p>If you wish your gallery to be placed inside an existing gallery, choose the gallery you wish to be the 'parent' from the list below.</p>
				
				{html_fancy_select_single options=$menu_gallery_title values=$menu_gallery_id name='gallery_parent' selected=$gallery_parent width='520' rows='8' default_option='None' default_value='0'}

			</div>
					
			<div class="clear"></div>
		
		</div>
		
	</div>

	<div id="permissions" class="form-horizontal">

		<div class="form-body">
		
			<div class="form-box" style="border-right:1px dotted #BBB; width:250px; min-height:300px;">
			
				<h3>Access controls</h3>
				
				<p>You can control who can see this gallery and the images in it by configuring these permissions settings.</p>
				
				
				<h3>Copy permissions from parent:</h3>
				
				&nbsp; &nbsp; <input type="radio" name="gallery_perms_copy" id="gallery_perms_copy_1" value="1" class="forminput" onclick="javascript:show_permisions(1);" />
				<label for="gallery_perms_copy_1">Yes, copy settings from parent</label><br />
				
				&nbsp; &nbsp; <input type="radio" name="gallery_perms_copy" id="gallery_perms_copy_2" value="0" class="forminput" onclick="javascript:show_permisions(0);" checked="checked" />
				<label for="gallery_perms_copy_2">No, use these custom settings:</label><br />
				
				
				<h3>Who can view this gallery:</h3>
				
					<div id="permissions_1">
					&nbsp; &nbsp; <input type="radio" name="gallery_permissions" id="gallery_permissions_1" class="forminput" value="10"{if $gallery_permissions == "10" || $gallery_permissions == ""} checked="checked"{/if} />
					<label for="gallery_permissions_1">All Users</label><br />
					
					&nbsp; &nbsp; <input type="radio" name="gallery_permissions" id="gallery_permissions_2" class="forminput" value="11"{if $gallery_permissions == "11"} checked="checked"{/if} />
					<label for="gallery_permissions_2">Registered users only</label><br />
					
					&nbsp; &nbsp; <input type="radio" name="gallery_permissions" id="gallery_permissions_3" class="forminput" value="12"{if $gallery_permissions == "12"} checked="checked"{/if} />
					<label for="gallery_permissions_3">Selected groups</label><br />
					
					</div>
					
					<div id="permissions_2" style="display:none;">
					<p style="margin-left:16px;">Permissions settings will be copied from parent (if one is chosen).</p>
					</div>
				
			</div>
					
			<div class="form-box" style="border-right:1px dotted #BBB; width:530px; min-height:300px;">
			
				<h3>Groups who can view this gallery:</h3>
				
					<div id="permissions_3">
					<br />
					{html_fancy_select_multiple options=$group_name values=$group_id name='gallery_viewers' width='525' rows='5' selected=$gallery_view_selected}
					</div>
					
					<div id="permissions_4" style="display:none;">
					<p style="margin-left:16px;">Settings for which user groups have permission to view this gallery will be copied from the parent gallery (if one is chosen).</p>
					</div>
				
				<h3>Require password to access this gallery:</h3>
				
					<div id="permissions_5">
					<input type="text" name="gallery_password" class="text" value="{$gallery_password}" style="width:510px;" />
					</div>
					
					<div id="permissions_6" style="display:none;">
					<p style="margin-left:16px;">The password for this gallery will be copied from the parent gallery (if one is chosen).</p>
					</div>
				
			</div>
					
			<div class="clear"></div>
		
		</div>
		
	</div>

	<div class="tab-button">
	
	<input type="submit" value="Save Changes" class="button" />
	
	<input type="submit" value="Go Back" class="button" onclick="javascript:history.go(-1);" />
	
	<div id="status" class="confirmation" style="display:none;">Your changes have been saved.</div>
			
	<div class="clear"></div>
		
	</div>
	
</div>

</form>

<script type="text/javascript" language="javascript">var tabs = new Control.Tabs('form-tabs');{if $active_tab}tabs.setActiveTab('{$active_tab}');{/if}</script>

</div>

</div>


{include_template file="admin.snippets/admin.html.footer.tpl"}