{*

/*
*
*	Pixaria Gallery
*	Copyright Jamie Longstaff
*
*/

*}{include_template file="admin.snippets/admin.html.header.tpl"}

<div id="admin-outerdiv">

<div id="admin-innerdiv">


<form action="{$base_url}{$fil_admin_gallery}" method="post">

<input type="hidden" name="cmd" value="addImagesToGallery" />

{section name="image" loop="$images"}
	<input type="hidden" name="images[]" value="{$images[image]}" />
{/section}

<div class="form-horizontal">

	<div class="form-header">Add images to one or more galleries</div>

	<div class="form-body">
	
		<div class="form-box" style="min-height:290px; width:290px;">

			<h3>Add images to galleries</h3>
			
			<p>To add the selected images to one or more galleries, choose where you would like to insert the images (start or end of the gallery) and then pick one or more galleries to add the images to.</p>
			
			<h3>Place the images:</h3>
			
			<input name="insert_location" class="forminput" type="radio" value="start" checked="checked" /> Insert at the start of the gallery<br />
			<input name="insert_location" class="forminput" type="radio" value="end" /> Insert at the end of the gallery
			
		</div>
		
		<div class="form-box" style="min-height:290px;">
			
			<h3>Choose one or more galleries to place the images into:</h3>
			
			{html_fancy_select_multiple name='gallery_id' options=$menu_gallery_title values=$menu_gallery_id rows='8' width='550'}
			
			<br />
			
			<input type="submit" value="Add images to selected galleries" class="formbutton right" />
			
		</div>
		
	</div>
	
    <div class="clear"></div>
       	
</div>

</form>


</div>

</div>

{include_template file="admin.snippets/admin.html.footer.tpl"}