{*

/*
*
*	Pixaria Gallery
*	Copyright Jamie Longstaff
*
*/

*}{include_template file="admin.snippets/admin.html.header.tpl"}



<div id="admin-outerdiv">

<div id="admin-innerdiv">



<form action="{$base_url}{$fil_admin_library}" method="post">

<table class="table-text">

<tr>
<th>The selected images have been removed from the gallery</th>

<td>

<h1>Images removed successfully</h1>

<p>The image or images you selected have been removed from this gallery.  The order of the remaining images in the gallery remains unchanged.</p>

<input type="button" onclick="javascript:location.href='{$base_url}{$fil_admin_library}';" value="Go back to the gallery list" style="width:100%;" class="formbutton">

</td>
<td>&nbsp;</td>
</tr>
	
</table>

</form>



</div>

</div>


{include_template file="admin.snippets/admin.html.footer.tpl"}