{*

/*
*
*	Pixaria Gallery
*	Copyright Jamie Longstaff
*
*/

*}{include_template file="admin.snippets/admin.html.header.tpl"}


<div id="admin-outerdiv">

<div id="admin-innerdiv">


<form action="{$base_url}{$fil_admin_library}" method="post">

<table class="table-text">

<tr>
<th>The gallery '{$gallery_title}' has been deleted</th>

<td>

<p class="title">The gallery has been deleted</p>

<p>The gallery  has been deleted from your image library.</p>

{if $error_count > 0}
	
	{include_template file="admin.snippets/admin.html.notification.warning.tpl" form_title_text="Some of the images in this gallery could not be deleted.  This is most likely because the permissions on them do not permit Pixaria to remove them automatically.  You will need to use an FTP program to manually delete the following image(s)"}
		
	<input type="button" onclick="javascript:window.print();" value="Print a copy of this page" style="width:100%;" class="forminput" /><br /><br />

{/if}

	<input type="button" onclick="javascript:location.href='{$base_url}{$fil_admin_library}';" value="Go back to the gallery list" style="width:100%;" class="formbutton" />

</td>
<td>&nbsp;</td>
</tr>
	
</table>

</form>


{if $error_count > 0}
	
	<table class="table-listbox">

	<tr>
		<th>Complete path to the images that could not be moved or deleted</th>	
	</tr>

	{section name="item" loop=$errors}
	
		<tr class="{cycle values='list-one,list-two'}">
		<td style="height:30px;">{$errors[item]}</td>
		</tr>
	
	{/section}
	
	</table>

{/if}


</div>

</div>


{include_template file="admin.snippets/admin.html.footer.tpl"}