{*

/*
*
*	Pixaria Gallery
*	Copyright Jamie Longstaff
*
*/

*}

<!-- INCLUDE THE TOP HTML TEMPLATE -->
{include_template file="admin.snippets/admin.html.header.tpl"}





<div id="admin-outerdiv">

<div id="admin-innerdiv">



<form action="{$base_url}{$fil_admin_gallery}" method="post">

<table class="table-text">

<tr>
<th>Your changes have been saved</th>

<td>

<h1>Changes have been applied</h1>

<p>The changes that you made to this gallery have been applied successfully.</p>

<input type="button" onclick="javascript:location.href='{$base_url}{$fil_admin_gallery}';" value="Go back to the gallery list" style="width:100%;" class="formbutton">

</td>
<td>&nbsp;</td>
</tr>
	
</table>

</form>

</div>

</div>




<!-- INCLUDE THE BOTTOM HTML TEMPLATE -->
{include_template file="admin.snippets/admin.html.footer.tpl"}


