{*

/*
*
*	Pixaria Gallery
*	Copyright Jamie Longstaff
*
*/

*}{include_template file="admin.snippets/admin.html.header.tpl"}


<div id="admin-outerdiv">

<div id="admin-innerdiv">


<table class="table-text">

<tr>
<th>Are you sure that you want to permanently delete the gallery '{$gallery_title}' from the database?</th>

<td>

<h1>Delete gallery '{$gallery_title}'</h1>

<p>You are about to permanently delete the gallery '{$gallery_title}' containing the images listed below.  Are you sure you wish to continue with this action?</p>

<p>Any images in this gallery when it's deleted will remain in your image library for future use unless the delete images button is checked.</p>

{include_template file="admin.snippets/admin.html.notification.warning.tpl" form_title_text="If you select the delete images option, you will permanently remove the images in this gallery from both the library database and from your webserver file system."}

</td>
<td>&nbsp;</td>
</tr>

</table>





<form method="post" action="{$base_url}{$fil_admin_gallery}" onsubmit="return confirmSubmit('You are about to delete a gallery, are you sure you wish to continue!');">

<input type="hidden" name="cmd" value="actionDeleteGallery" />

<input type="hidden" name="gallery_id" value="{$gallery_id}" />



<table class="table-form">

<thead>

<tr>
<th colspan="3">Gallery deletion options:</th>
</tr>

</thead>

<tbody>

<tr class="{cycle values='list-one,list-two'}">
<th>Move child galleries of this gallery into:</th>
<td>
<select name="gallery_parent" class="forminput" style="width:100%;">
<option value="0">None</option>

{section name=gallery loop=$menu_gallery_title}
	
	{if $menu_gallery_id[gallery] != $gallery_id}
	<option value="{$menu_gallery_id[gallery]}">{$menu_gallery_title[gallery]}</option>
	{/if}

{/section}

</select>
</td>
<td>&nbsp;</td>
</tr>

<tr class="{cycle values='list-one,list-two' advance='0'}">
<th valign="top">What do you want to do with the images:</th>
<td><input type="radio" name="delete_option" value="off" checked="checked" id="opt1" /> <label for="opt1">Leave images in the library</label></td>
<td>&nbsp;</td>
</tr>

<tr class="{cycle values='list-one,list-two' advance='0'}">
<th>&nbsp;</th>
<td><input type="radio" name="delete_option" value="10" id="opt2" /> <label for="opt2">Delete image files from the library and server</label></td>
<td>&nbsp;</td>
</tr>

<tr class="{cycle values='list-one,list-two' advance='0'}">
<th>&nbsp;</th>
<td><input type="radio" name="delete_option" value="11" id="opt3" /> <label for="opt3">Move image files back into the incoming directory</label><br />
</td>
<td>&nbsp;</td>
</tr>

<tr class="{cycle values='list-one,list-two'}">
<th>&nbsp;</th>
<td><input type="submit" value="Delete this gallery" style="width:100%;" class="formbutton" /></td>
<td>&nbsp;</td>
</tr>

</tbody>

</table>



<table class="list">

<tr>
	<th colspan="2">File name</th>	
	<th>Image title</th>	
</tr>

	{section name="assets" loop=$icon_path}
	
	<tr class="{cycle values='row1,row2'}">
			
		<td style="height:42px; width:42px; text-align:center; border-right:0;"><a href="javascript:openPop('{$base_url}{$fil_admin_image_output}?html={$comp_path[assets]}&amp;','{$comp_width[assets]-2}','{$comp_height[assets]-2}','no','no','no','no','no','no','no');"><img src="{$base_url}{$fil_admin_image_output}?file={$icon_path[assets]}&amp;" border="0" width="{$icon_width[assets]}" height="{$icon_height[assets]}" title="{$image_filename[assets]}" alt="{$image_filename[assets]}" class="icon" /></a>
		</td>
		
		<td align="left"><a class="plain" href="javascript:openPop('{$base_url}{$fil_admin_image_output}?html={$comp_path[assets]}&amp;','{$comp_width[assets]-2}','{$comp_height[assets]-2}','no','no','no','no','no','no','no');">{$image_filename[assets]}</a></td>
		
		<td align="left">{$image_title[assets]}</td>
								
	</tr>
	
	{sectionelse}
	
		<tr class="{cycle values='row1,row2'}">
				
		<td colspan="3" style="height:30px;">There are no images in this gallery.</td>
										
		</tr>

	{/section}	

</table>

</form>

</div>

</div>


{include_template file="admin.snippets/admin.html.footer.tpl"}