{*

/*
*
*	Pixaria Gallery
*	Copyright Jamie Longstaff
*
*/

*}{include_template file="admin.snippets/admin.html.header.tpl"}

<div id="admin-outerdiv">

<div id="admin-innerdiv">



{include_template file="admin.snippets/admin.notification.complete.html" form_title_text="Your request has been completed!"}




<form name="galleryfilter" action="{$base_url}{$fil_admin_gallery}" method="post" onsubmit="{literal}if ($('filter_name').value!='') { $('cmd_filter').value='showGalleryListAlphabetical' }{/literal}">

<input type="hidden" name="cmd" value="{$function}" />

<input type="hidden" name="filter_on" value="1" />

<div class="form-horizontal">

	<div class="form-header">Quick filter - Galleries</div>

	<div class="form-body">
	
		<div class="form-box" style="min-height:120px; width:205px; border:none;">

		<h3>Filter by visibility:</h3>
		
		&nbsp;&nbsp;&nbsp;<input type="radio" name="filter_active" id="opt1" value="0" {if $set_filter_gallery_active == 0}checked="checked"{/if} class="forminput" /> <label for="opt1">All galleries</label><br />
		&nbsp;&nbsp;&nbsp;<input type="radio" name="filter_active" id="opt2" value="1" {if $set_filter_gallery_active == 1}checked="checked"{/if} class="forminput" /> <label for="opt2">Visible galleries</label><br />
		&nbsp;&nbsp;&nbsp;<input type="radio" name="filter_active" id="opt3" value="2" {if $set_filter_gallery_active == 2}checked="checked"{/if} class="forminput" /> <label for="opt3">Hidden galleries</label><br />
		
		</div>
		
		<div class="form-box" style="min-height:120px; width:205px; border:none;">
		
		<h3>Filter by archive status:</h3>
		
		&nbsp;&nbsp;&nbsp;<input type="radio" name="filter_archived" id="opt4" value="0" {if $set_filter_gallery_archived == 0}checked="checked"{/if} class="forminput" /> <label for="opt4">All galleries</label><br />
		&nbsp;&nbsp;&nbsp;<input type="radio" name="filter_archived" id="opt5" value="1" {if $set_filter_gallery_archived == 1}checked="checked"{/if} class="forminput" /> <label for="opt5">Active galleries</label><br />
		&nbsp;&nbsp;&nbsp;<input type="radio" name="filter_archived" id="opt6" value="2" {if $set_filter_gallery_archived == 2}checked="checked"{/if} class="forminput" /> <label for="opt6">Archived galleries</label><br />
		
		
		</div>

		<div class="form-box" style="min-height:120px; width:205px; border:none;">
		
		<h3>Gallery name contains:</h3>
		
		<input type="text" name="filter_name" id="filter_name" value="{$filter_name}" style="width:185px;" class="text" />
		
		<br /><br />
		
		<input type="submit" value="Apply filter" name="submit" style="width:200px;" class="formbutton" />
		
		</div>

	</div>
	
    <div class="clear"></div>
       	
</div>

</form>

<form method="post" name="gallery_list" id="gallery_list" action="{$base_url}{$fil_admin_gallery}">

<input type="hidden" name="cmd" id="cmd" value="" />

<input type="hidden" name="function" value="{$function}" />

<table class="list">

<tr>
	<th><input title="Toggle all checkboxes" type="checkbox" name="toggle" onclick="javascript:this.checked ? selectAll('gallery_list','galleries[]') : deselectAll('gallery_list','galleries[]');" /></th>
	<th>Title</th>	
	<th>Short title</th>
	<th style="text-align:center;">Status</th>
	<th style="text-align:center;">Images</th>	
	<th style="text-align:center;">Hits</th>	
	<th>Date</th>	
	<th>Options</th>	
</tr>

	{section name=galleries loop=$gallery_title}
		
		<tr class="{cycle values='row1,row2'}" style="height:30px;">
		
		<td style="width:18px;"><input id="radio_row_{$smarty.section.galleries.index}" type="checkbox" name="galleries[]" value="{$gallery_id[galleries]}" /></td>
	
		<td><label for="radio_row_{$smarty.section.galleries.index}" style="cursor:pointer; font-weight:bold;">{$gallery_title[galleries]}</label></td>
		
		<td>{$gallery_short_title[galleries]}</td>
		
		<td style="text-align:center; width:25px;">
		{if $gallery_active[galleries]}
			{if $gallery_archived[galleries]}
				<img src="{$base_url}resources/images/icons/27x27/package-tick.png" alt="Inactive" width="27" height="27" border="0" title="This gallery is archived but still live for viewing" />
			{else}
				<img src="{$base_url}resources/images/icons/27x27/tick.png" alt="Inactive" width="27" height="27" border="0" title="This gallery is live for viewing" />
			{/if}
		{else}
			{if $gallery_archived[galleries]}
				<img src="{$base_url}resources/images/icons/27x27/package-cross.png" alt="Inactive" width="27" height="27" border="0" title="This gallery is archived and disabled for viewing" />
			{else}
				<img src="{$base_url}resources/images/icons/27x27/cross.png" alt="Inactive" width="27" height="27" border="0" title="This gallery is disabled for viewing" />
			{/if}
		{/if}
		</td>
		
		<td style="text-align:center;">{$gallery_images[galleries]}</td>
		
		<td style="text-align:center;">{$gallery_counter[galleries]}</td>
		
		<td>{$gallery_date[galleries]|date_format:"%b %e, %Y"}</td>
		
		<td>
		
		<ul class="actionlist">
		<li><a href="{$gallery_url[galleries]}">View</a></li>
		<li><a href="{$base_url}{$fil_admin_gallery}?cmd=formEditGallery&amp;gallery_id={$gallery_id[galleries]}">Edit</a></li>
		<li><a href="{$base_url}{$fil_admin_gallery}?cmd=changeGalleryImageOrder&amp;gallery_id={$gallery_id[galleries]}">Image Order</a></li>
		<li><a href="{$base_url}{$fil_admin_gallery}?cmd=listImages&amp;gallery_id={$gallery_id[galleries]}">List Images</a></li>
		<li><a href="{$base_url}{$fil_admin_gallery}?cmd=confirmDeleteGallery&amp;gallery_id={$gallery_id[galleries]}">Delete</a></li>
		</ul>
		
		</td>
		
		</tr>
	
	{sectionelse}
	
		<tr class="row1">
		
		<td colspan="8" style="height:30px;">There are no galleries to display.</td>
		
		</tr>
	
	{/section}
		
{if $show_galleries}

	<tr>
		<th colspan="8">
			
			<select name="form_action" class="formselect" id="form_action">
				
				<option value="{$form_actions.gallery_archive}">Archive selected galleries</option>
				<option value="{$form_actions.gallery_unarchive}">Unarchive selected galleries</option>
				<option value="{$form_actions.gallery_show}">Make selected galleries visible on front end</option>
				<option value="{$form_actions.gallery_hide}">Hide selected galleries on front end</option>
				
			</select>
			
			<input type="button" name="button" value="Apply action to selected galleries" class="formbutton" onclick="javascript:submitActionForm('gallery_list');" />
			
		</th>
	</tr>

{/if}

</table>


</div>

</div>


<!-- INCLUDE THE BOTTOM HTML TEMPLATE -->
{include_template file="admin.snippets/admin.html.footer.tpl"}


