{*

/*
*
*	Pixaria Gallery
*	Copyright Jamie Longstaff
*
*/

*}{include_template file="admin.snippets/admin.html.header.tpl"}




<div id="admin-outerdiv">

<div id="admin-innerdiv">


<table class="table-text">

<tr>
<th>To change the display order of images in this gallery, drag the icon thumbnails into the order you would like them to be shown on the gallery page.</th>

<td>
	
<h1>Rearranging the order of images</h1>

<p>You can reorder the sequence in which the images in this gallery are displayed using several different methods.  Automatic sorting by name will sort your images by either filename  or image title or alternatively you can sort by the date the image was created or the date it was imported.</p>

</td>
<td>&nbsp;</td>
</tr>

</table>




<form action="{$base_url}{$fil_admin_gallery}" method="post">

<input type="hidden" name="gallery_id" value="{$gallery_id}" />

<input type="hidden" name="cmd" value="saveAutoImageOrder" />

<table class="table-search">

<div class="form-horizontal">

	<div class="form-header">Gallery Image Ordering</div>

	<div class="form-body">

		<div class="form-box" style="width:240px; min-height:210px;">
		
		<h3>Sort images manually</h3>
		
		<p>If you would like to choose a specific order for the images in this gallery, you can also choose to sort them manually by drag and drop.</p>
		
		<p>Please be aware that for very large galleries, using drag and drop can be a somewhat cumbersome process..!</p>
		
		<input type="button" value="Sort images manually" class="formbutton" style="width:100%;" onclick="location.href='{$base_url}{$fil_admin_gallery}?cmd=changeGalleryImageOrderManual&amp;gallery_id={$gallery_id}';return false;" />
		
		</div>

		<div class="form-box" style="width:240px; min-height:210px; border-right:0;">
		
		<h3>Sort images by filename:</h3>
		
		<input type="radio" name="sort" value="10" checked="checked" /> A-Z by file name<br />
		<input type="radio" name="sort" value="11" /> Z-A by file name<br /><br />
		
		<h3>Sort images by image title:</h3>
		
		<input type="radio" name="sort" value="12" /> A-Z by image title<br />
		<input type="radio" name="sort" value="13" /> Z-A by image title<br /><br />
		
		
		</div>
		
		<div class="form-box" style="width:240px; min-height:210px;">
		
		<h3>Sort images by date imported:</h3>
		
		<input type="radio" name="sort" value="14" /> Newest images first by ID<br />
		<input type="radio" name="sort" value="15" /> Newest images last by ID<br /><br />
		
		<h3>Sort images by metadata date:</h3>
		
		<input type="radio" name="sort" value="16" /> Newest images first by date<br />
		<input type="radio" name="sort" value="17" /> Newest images last by date<br /><br />
		
		
		<input type="submit" value="Sort images automatically" class="formbutton" style="width:100%;" />
		
		</div>
		
	</div>
	
    <div class="clear"></div>
       	
</div>
	
</form>

</div>

</div>


<!-- INCLUDE THE BOTTOM HTML TEMPLATE -->
{include_template file="admin.snippets/admin.html.footer.tpl"}


