{*

/*
*
*	Pixaria Gallery
*	Copyright Jamie Longstaff
*
*/

*}{include_template file="admin.snippets/admin.html.header.tpl"}

<div id="admin-outerdiv">

<div id="admin-innerdiv">



<form action="{$base_url}{$fil_admin_gallery}" method="post">

<input type="hidden" name="cmd" value="actionMoveImagesToGallery" />

<input type="hidden" name="old_gallery" value="{$old_gallery}" />

{section name="image" loop="$images"}
	<input type="hidden" name="images[]" value="{$images[image]}" />
{/section}


<div class="form-horizontal">

	<div class="form-header">Move images to another gallery</div>

	<div class="form-body">
	
		<div class="form-box" style="min-height:290px; width:290px;">

			<h3>Move images</h3>
			
			<p>To move these images into a gallery, please select one from the first drop down menu and then choose where in the gallery you would like to insert them.</p>
			
			<h3>Place the images:</h3>
			
			<input name="insert_location" class="forminput" type="radio" value="start" checked="checked" /> Insert at the start of the gallery<br />
			<input name="insert_location" class="forminput" type="radio" value="end" /> Insert at the end of the gallery
			
		</div>
		
		<div class="form-box" style="min-height:290px;">
			
			<h3>Choose one or more galleries to place the images into:</h3>
			
			{html_fancy_select_single name='new_gallery' options=$menu_gallery_title values=$menu_gallery_id rows='8' width='550'}
			
			<br />
			
			<input type="submit" value="Move images to the selected gallery" class="formbutton right" />
			
		</div>
		
	</div>
	
    <div class="clear"></div>
       	
</div>

</form>



</div>

</div>



{include_template file="admin.snippets/admin.html.footer.tpl"}