{*

/*
*
*	Pixaria Gallery
*	Copyright Jamie Longstaff
*
*/

*}{include_template file="admin.snippets/admin.html.header.tpl"}

<div id="admin-outerdiv">

<div id="admin-innerdiv">

<form action="{$base_url}{$fil_admin_library}" method="post">

<table class="table-text">

<tr>
<th>The selected images have been moved into the gallery {$new_gallery_title}.</th>

<td>

<h1>Image move successful</h1>

<p>The images you selected have been moved from '{$old_gallery_title}' to '{$new_gallery_title}'.</p>

</td>
<td>&nbsp;</td>
</tr>

<tr>
<th>&nbsp;</th>
<td><input type="submit" value="Go back to the gallery list" style="width:100%;" class="formbutton" /></td>
<td>&nbsp;</td>
</tr>

</table>

</form>

</div>

</div>


{include_template file="admin.snippets/admin.html.footer.tpl"}