{*

/*
*
*	Pixaria Gallery
*	Copyright Jamie Longstaff
*
*/

*}{include_template file="admin.snippets/admin.html.header.tpl"}

<div id="admin-outerdiv">

<div id="admin-innerdiv">




{include_template file="admin.snippets/admin.notification.complete.html" form_title_text="The requested command has been successfully completed!"}

<div class="form-horizontal" style="min-width:950px;">

	<div class="form-body">

		<div class="form-box" style="min-height:730px; width:250px; border:0;">

			{if $library_perms != "drwxrwxrwx"}{assign var="error" value="1"}{/if}
			
			{if $set_store_2co_demo && $set_store_func_2co}{assign var="error" value="1"}{/if}
			
			{if $incoming_perms != "drwxrwxrwx" && !$error}{assign var="error" value="1"}{/if}
			
			{if $set_software_version != $set_database_version && !$error}{assign var="error" value="1"}{/if}
			
			{if $temporary_stat == "M" && !$error}{assign var="error" value="1"}{elseif $temporary_stat == "N" && !$error}{assign var="error" value="1"}{/if}
			
			{if $sys_safe_mode && !$error}{assign var="error" value="1"}{/if}
			
			{if !$ext_gd && !$error}{assign var="error" value="1"}{/if}
				
			{if !$error}
			
				<div class="db-status-ok">
				
				<h3>Pixaria Gallery Status</h3>
				
				<p>Your Pixaria Gallery website is installed and operating correctly.  For more detailed information, please see the <a href="{$base_url}{$fil_admin_status}">status page</a>.</p>
				
				</div>
				
				<div class="db-status-search">
				
					<h3>Quick Image Search</h3>
					
					<form action="{$base_url}{$fil_admin_library_search}" method="post">
					<input type="hidden" name="cmd" value="doSearch" />
					<input type="text" placeholder="Enter keywords" class="text" name="keywords_simple_boolean" style="width:168px;" /> &nbsp; <input type="submit" name="" value="Go" class="button" />
					</form>
					
					<p><a href="{$base_url}{$fil_admin_library_search}">Advanced search</a></p>
					
				</div>
			
				{if $browser_name == "ie"}
				
				<div class="db-status-note">
				
				<h3>Using Internet Explorer?</h3>
				
				<p>Pixaria Gallery makes use of a number of advanced web application technologies that are not well supported by older versions of Internet Explorer.</p>
				
				<p>For the very best experience using the admin controls on this site, we recommend using  <a href="http://www.mozilla.org/firefox/" style="text-decoration:underline;">Firefox</a>, <a href="http://www.apple.com/safari/" style="text-decoration:underline;">Safari</a> or <a href="http://www.opera.no/" style="text-decoration:underline;">Opera</a>.</p>
				
				</div>
				
				{/if}
				
			{else}
			
				<div class="db-status-note">
				
				<h3>Diagnostics warning</h3>
				
				<p>It appears that there is a problem with the configuration of your website.  To view more details about this warning and suggestions or recommendations for rectifying the problem, please visit the <a href="{$base_url}{$fil_admin_status}" style="text-decoration:underline;">software diagnostics screen</a>.</p>
				
				</div>
				
			{/if}
		
			{if !$set_keywords_updated}
			
				<div class="db-status-note">
				
				<h3>Maintenance Required!</h3>
				
				<p>The image keywords in your library need to be upgraded to work with this version of Pixaria.
				
				<br />
				<br />
				
				<a href="{$base_url}{$fil_admin_dashboard}?cmd=updateImageKeywords" style="text-decoration:underline;">Click here to continue</a></p>
				
				</div>
				
			{/if}
			
			{if $user_email_address == "test@test.local" && $user_account_status}
			
				<div class="db-status-warning">
				
				<h3>Security warning</h3>
				
				<p>The default admin user account details for this website are still active.  It is strongly recommended that you either <a href="{$base_url}{$fil_admin_user_edit}?userid={$user_id}">disable this account</a> or else <a href="{$base_url}{$fil_admin_user_edit}?userid={$user_id}">change the e-mail address</a> and password.</p>
				
				</div>
				
			{/if}
			
			{if !$set_db_update_230}
			
				<div class="db-status-note">
				
				<h3>Maintenance Required!</h3>
				
				<p>Image sizes and dimensions in your library need to be upgraded to work with this version of Pixaria.<br />
						
				<a href="{$base_url}{$fil_admin_dashboard}?cmd=updateImageDimensions" style="text-decoration:underline;" onclick="return confirmSubmit('This process requires reading every file in your library and could take several minutes for very large libraries.  If you interrupt the process, you will be able to resume at a later time.');">Click here to continue</a></p>
				
				</div>
				
			{/if}

		</div>
		
		<div class="form-box" style="min-height:120px; width:650px; border:none;">
			
			<div id="newscontainer"><div style="margin:auto; width:32px; height:32px; margin-top:160px;"><img src="{$base_url}resources/images/dashboard/loading.gif" alt="Loading, please wait..." width="32" height="32" border="0"></div></div>
			
		</div>
		
	</div>
	
	<div class="clear"></div>
	
</div>


<script language="JavaScript" type="text/javascript">
{literal}
new Ajax.Updater('newscontainer','{/literal}{$base_url}{$fil_admin_dashboard}{literal}?cmd=showPixariaNews');
{/literal}
</script>


</div>

</div>

{include_template file="admin.snippets/admin.html.footer.tpl"}

