<div style="float:left; width:400px; min-height:550px; padding:0 5px 0 0;">
	
	<div class="topstories">
	
		{section name="news" loop=$news_id}
			
			{if $smarty.section.news.index <= 3}
				
				<div {if $news_cat_announcement[news] == '1'}class="announcement"{/if} onclick="javascript:location.href='http://www.pixaria.com/news/article/{$news_id[news]}';" title="Click here to read this story in full">
				
				<h1><a href="http://www.pixaria.com/news/article/{$news_id[news]}">{$news_title[news]}</a></h1> 
				
				<span class="bold">{$news_date[news]|date_format:"%A, %B %e, %Y"}</span>
				
				<p>{$news_content[news]|truncate:420:"..."}</p>
				
				</div>
				
			{/if}
			
		{/section}
	
	</div>
	
</div>

<div style="float:left; width:250px; min-height:550px; padding:0 5px 0 5px;">
	
	<div class="substories">
	
		<h1>Recent News Stories</h1>
	
		{section name="news" loop=$news_id}
			
			{if $smarty.section.news.index >= 4 && $smarty.section.news.index <= 20}
				
				<p><a href="http://www.pixaria.com/news/article/{$news_id[news]}">{$news_title[news]}</a><br />
				<span>{$news_date[news]|date_format:"%A, %B %e, %Y"}</span></p>
						
			{/if}
			
		{/section}
		
	</div>
	
</div>

