{*

/*
*
*	Pixaria Gallery
*	Copyright Jamie Longstaff
*
*/

*}{include_template file="admin.snippets/admin.html.header.tpl"}

<div id="admin-outerdiv">

<div id="admin-innerdiv">

<style type="text/css">
	{literal}
	.warning h3,
	.warning p,
	.warning a {
		color:#CC1610;
	}
	{/literal}
</style>

<div class="form-horizontal">

	<div class="form-header">Pixaria Gallery Diagnostics</div>

	<div class="form-body">

		<div class="form-box" style="min-height:120px; width:450px; border:none;">
		
			{if $library_perms != "drwxrwxrwx"}
			
				{assign var="error" value="1"}
			
				<div class="warning">
				
				<h3>Library directory permissions are incorrect</h3>
				
				<p>The permissions on the directory <tt>resources/library/</tt> are wrong which will prevent your Pixaria website from behaving correctly.  The permissions should be set to '777' which means read, write and execute for all users and groups.</p>
				
				<p>This permission setting can be applied using most FTP programs.  If in doubt, please contact your internet hosting company for assistance.</p>
				
			{/if}
		
			{if $incoming_perms != "drwxrwxrwx"}
			
				{assign var="error" value="1"}
				
				<div class="warning">
				
				<h3>Incoming directory permissions are incorrect</h3>
				
				<p>The permissions on the directory <tt>resources/incoming/</tt> are wrong whcih will prevent your Pixaria website from behaving correctly.  The permissions should be set to '777' which means read, write and execute for all users and groups.</p>
				
				<p>This permission setting can be applied using most FTP programs.  If in doubt, please contact your internet hosting company for assistance.</p>
				
				</div>
				
			{/if}
		
			{if $set_software_version != $set_database_version}
			
				{assign var="error" value="1"}
				
				<div class="warning">
				
				<h3>Database and software versions do not match!</h3>
				
				<p>The version of the database and PHP scripts for your installation do not match.  This may be a sign that an error has occured during an upgrade or possibly that your Pixaria installation was not completed correctly.</p>
				
				<p>If you've recently upgraded or installed Pixaria, you may need to run the <a href="{$base_url}{$fil_admin_upgrade}">admin upgrade</a> script to update your database, otherwise contact <a href="mailto:info@pixaria.com?Database%20warning%20in%20the%20Pixaria%20diagnostic%20screen">Jamie</a>.</p>
				
				</div>
				
			{/if}
		
			{if $temporary_stat == "M"}
			
				{assign var="error" value="1"}
				
				<div class="warning">
				
				<h3>No system temporary items directory is configured</h3>
				
				<p>Pixaria can't find the temporary items system directory configured for your Pixaria installation.  This directory is a special location on your server where scripts and programs can store data while it is being worked with.  If it is not configured correctly, many features of Pixaria will not work.</p>
				
				<p>The currently configured path to this directory is <tt>{$set_temporary}</tt></p>
				
				<p>The system temporary items directory can be changed in the <a href="{$base_url}{$fil_admin_settings}" style="text-decoration:underline;">general settings</a> control panel.</p>
				
				</div>
				
			{elseif $temporary_stat == "N"}
			
				{assign var="error" value="1"}
				
				<div class="warning">
				
				<h3>System temporary items directory is not writable</h3>
				
				<p>Pixaria can't find the temporary items system directory configured for your Pixaria installation.  This directory is a special location on your server where scripts and programs can store data while it is being worked with.  If it is not configured correctly, many features of Pixaria will not work.</p>
				
				<p>The currently configured path to this directory is <tt>{$set_temporary}</tt></p>
				
				<p>The system temporary items directory can be changed in the <a href="{$base_url}{$fil_admin_settings}" style="text-decoration:underline;">general settings</a> control panel.</p>
				
				</div>
				
			{/if}
		
			{if $sys_safe_mode}
				
				{assign var="error" value="1"}
				
				<div class="warning">
				
				<h3>Your web server is running PHP in safe mode</h3>
				
				<p>Your web server's installation of the PHP engine is currently operating in 'safe mode'.  Safe mode is an increased security mode of operation that disables some of PHP's capabilities in order to reduce the risk of malicious attacks by hackers.</p>
				
				<p>Pixaria is not compatible with PHP safe mode because certain functions involved in making directories and moving files are disabled when safe mode is turned on.  At the present time there is no work around for this and the only way to run Pixaria is to either turn safe mode off or move to a different hosting company.</p>
				
				<p>Safe mode can be disabled by editing the PHP configuration file which is called 'php.ini' or by placing a .htaccess file in the root directory of your public HTML directory on your web server.  For assistance doing this, please consult your hosting provider or system administrator or look up security topics in the Pixaria user documentation.</p>
				
				</div>
				
			{/if}
		
			{if !$ext_gd}
				
				{assign var="error" value="1"}
				
				<div class="warning">
				
				<h3>The GD graphics library is not installed</h3>
				
				<p>In order to use Pixaria, you must have the GD graphics library installed on your server and the PHP-GD extension enabled to provide PHP with access to it.</p>
				
				<p>This library is used extensively by Pixaria to resize images, work with thumbnails and for the built in e-cards feature.</p>
				
				<p>To get GD, you will need to either download and install it from <a href="http://www.boutell.com/gd/" style="text-decoration:underline;">Boutell</a> or speak with your hosting company to see if they can arrange it for you.</p>
				
				</div>
				
			{elseif !$gd_popcard_stat}
			
				{assign var="error" value="1"}
				
				<div class="note">
				
				<h3>Built in e-cards are not supported</h3>
				
				<p>Built in e-cards require the GD image manipulation library version 2.0.1 or above to be installed on your server and for the PHP-GD extension to be enabled.</p>
				
				<p>It appears that the version of GD currently installed on this server is version {$gd_version} which does not include the functions required to enable e-cards.</p>
				
				<p>To upgrade to a newer version of GD, you will need to either download and install it from <a href="http://www.boutell.com/gd/" style="text-decoration:underline;">Boutell</a> or speak with your hosting company to see if they can upgrade you to a newer version.</p>
				
				</div>
				
			{/if}
			
			{if $register_globals}
				
				{assign var="error" value="1"}
				
				<div class="note">
				
				<h3>PHP's register globals setting is on</h3>
				
				<p>The PHP setting to register global variables sent through form data is turned on.  This is a major security risk and could lead to your site being compromised by hackers or other malicious persons.  This setting can be turned off in the php.ini configuration file for your web server.  For assistance with this, please contact your hosting provider.</p>
				
				</div>
				
			{/if}
		
			{if $set_store_func_2co && $set_store_2co_demo}
			
				{assign var="error" value="1"}
			
				<div class="warning">
				
				<h3>2Checkout is running in demo mode</h3>
				
				<p>Your store is configured with 2Checkout enabled but operating in demo mode.  This means that users will be able to buy images and products without paying for them if they opt to make a payment using 2Checkout.</p>
				
				<p>To fix this problem, please change the settings in the <a href="{$base_url}{$fil_admin_store}?cmd=settingsView">store control panel</a>.</p>
				
				</div>
				
			{/if}
			
			{if $error != "1"}
			
				<div class="affirm">
				
				<h3>Pixaria is running correctly</h3>
				
				<p>Your Pixaria installation is set up and running correctly and you should be able to use all the major features of the script without any problems.  For further assistance using Pixaria, please refer to the <a href="http://www.pixaria.com/documentation/" style="text-decoration:underline;">documentation</a> and <a href="http://www.pixariacentral.com/" style="text-decoration:underline;">forums</a>.</p>
						
				<p>If your support period is still valid, you may also contact the developer, Jamie Longstaff, directly by sending an e-mail to <a href="mailto:info@pixaria.com" style="text-decoration:underline;">info@pixaria.com</a>.</p>
				
				</div>
				
			{/if}
			
		</div>

		<div class="form-box" style="min-height:120px; width:450px; border:none;">

		<h3>Diagnostic information</h3>
		
		<p>The following page provides diagnostic information about your Pixaria installation that may be of use if you are having problems using the software or if you are troubleshooting the set up process.</p>
		
		<p>The list below contains informaiton about your Pixaria website and server configuration incuding the installed PHP extensions and MySQL database configuration.</p>
		
		</div>
		
	</div>
	
    <div class="clear"></div>
       	
</div>

<br />


<table class="list">
	
	<thead>
	
	<tr>
	<th colspan="2">Pixaria Environment:</th>
	</tr>
	
	</thead>
	
	<tbody>
	
	<tr class="{cycle values='row1,row2'}">
	<td style="width:300px;" class="bold">Number of images in the library</td>
	<td>{$image_count}</td>
	</tr>
	
	{*
	<tr class="{cycle values='row1,row2'}">
	<td class="bold">Number of database tables</td>
	<td>{$pixaria_table_count} (expected {$set_table_count})</td>
	</tr>
	*}
	
	<tr class="{cycle values='row1,row2'}">
	<td class="bold">Pixaria database version</td>
	<td>{$set_database_version}</td>
	</tr>
	
	<tr class="{cycle values='row1,row2'}">
	<td class="bold">Pixaria software version</td>
	<td>{$set_software_version}</td>
	</tr>
	
	<tr class="{cycle values='row1,row2'}">
	<td class="bold">HTTP image uploading</td>
	<td>{if $gd_upload_stat=="TRUE"}Enabled{else}Disabled{/if}</td>
	</tr>
	
	<tr class="{cycle values='row1,row2'}">
	<td class="bold">Boolean searching</td>
	<td>{if $set_search_boolean=="TRUE"}Enabled{else}Disabled{/if}</td>
	</tr>
	
	<tr class="{cycle values='row1,row2'}">
	<td class="bold">E-card integration</td>
	<td>{if $gd_popcard_stat=="TRUE"}Enabled{else}Disabled{/if}</td>
	</tr>
	
	</tbody>
	
</table>

<table class="list">

	<thead>
	
	<tr>
	<th colspan="2">Temporary items directory:</th>
	</tr>
	
	</thead>
	
	<tbody>
	
	<tr class="{cycle values='row1,row2'}">
	<td style="width:300px;" class="bold">{$set_temporary}</td>
	<td>{if $temporary_stat=="Y"}Writable ( {$temporary_perms} ){elseif $temporary_stat=="N"}<span class="error">Not writable ( {$temporary_perms} ){elseif $temporary_stat=="M"}<span class="error">Missing{/if}</td>
	</tr>
	
	</tbody>
	
</table>

<table class="list">

	<thead>
	
	<tr>
	<th colspan="2">System directories:</th>
	</tr>
	
	</thead>
	
	<tbody>
	
	<tr class="{cycle values='row1,row2'}">
	<td style="width:300px;" class="bold">-/incoming/</td>
	<td>{if $base_incoming_stat=="Y"}Writable ( {$incoming_perms} ){elseif $base_incoming_stat=="N"}<span class="error">Not writable ( {$incoming_perms} )</a>{elseif $base_incoming_stat=="M"}<span class="error">Missing</a>{/if}</td>
	</tr>
	
	<tr class="{cycle values='row1,row2'}">
	<td class="bold">-/library/</td>
	<td>{if $base_library_stat=="Y"}Writable ( {$library_perms} ){elseif $base_library_stat=="N"}<span class="error">Not writable ( {$library_perms} )</a>{elseif $base_library_stat=="M"}<span class="error">Missing</a>{/if}</td>
	</tr>
	
	</tbody>
	
</table>
	

<table class="list">
	
	<thead>
	
	<tr>
	<th colspan="2">PHP &amp; Web Server:</th>
	</tr>
	
	</thead>
	
	<tbody>
	
	<tr class="{cycle values='row1,row2'}">
	<td style="width:300px;" class="bold">PHP Version</td>
	<td>{$php_version}</td>
	</tr>
	
	<tr class="{cycle values='row1,row2'}">
	<td class="bold">PHP Safe Mode</td>
	<td>{if $sys_safe_mode}On{else}Off{/if}</td>
	</tr>
	
	<tr class="{cycle values='row1,row2'}">
	<td class="bold">Server software</td>
	<td>{$server_software}</td>
	</tr>
	
	<tr class="{cycle values='row1,row2'}">
	<td class="bold">Maximum amount of memory a script may use</td>
	<td>{$memory_limit}</td>
	</tr>
	
	<tr class="{cycle values='row1,row2'}">
	<td class="bold">Maximum filesize of files uploaded by HTTP</td>
	<td>{$upload_max_filesize}</td>
	</tr>
	
	<tr class="{cycle values='row1,row2'}">
	<td class="bold">Register globals</td>
	<td>{if $register_globals}On{else}Off{/if}</td>
	</tr>
	
	</tbody>
	
</table>

<table class="list">
	
	<thead>
	
	<tr>
	<th colspan="2">MySQL Database:</th>
	</tr>
	
	</thead>
	
	<tbody>
	
	<tr class="{cycle values='row1,row2'}">
	<td style="width:300px;" class="bold">MySQL host information</td>
	<td>{$mysql_host_info}</td>
	</tr>
	
	<tr class="{cycle values='row1,row2'}">
	<td class="bold">MySQL Server</td>
	<td>{$mysql_server_info}</td>
	</tr>
	
	<tr class="{cycle values='row1,row2'}">
	<td class="bold">MySQL Client</td>
	<td>{$mysql_client_info}</td>
	</tr>
	
	</tbody>
	
</table>

<table class="list">
	
	<thead>
	
	<tr>
	<th colspan="2">PHP Extension Libraries:</th>
	</tr>
	
	</thead>
	
	<tbody>
	
	<tr class="{cycle values='row1,row2'}">
	<td style="width:300px;" class="bold">GD Graphics Library</td>
	<td>{if $ext_gd}Loaded - version {$gd_version}{else}Not loaded{/if}</td>
	</tr>
	
	<tr class="{cycle values='row1,row2'}">
	<td class="bold">Zlib Compression Library</td>
	<td>{if $ext_zlib}Loaded{else}Not loaded{/if}</td>
	</tr>
	
	<tr class="{cycle values='row1,row2'}">
	<td class="bold">EXIF Manipulation Library</td>
	<td>{if $ext_exif}Loaded{else}Not loaded{/if}</td>
	</tr>

	<tr class="{cycle values='row1,row2'}">
	<td class="bold">XML Processing Library</td>
	<td>{if $ext_xml}Loaded{else}Not loaded{/if}</td>
	</tr>
	
	</tbody>
	
</table>
</div>

</div>

{include_template file="admin.snippets/admin.html.footer.tpl"}

