<div id="dialog-settings" style="display:none;">
<div class="hd">Image Import Settings</div>
<div class="bd">

	<div class="dialog-content">
		
		<h1>Choose your settings for this import</h1>
		
		<p>Before you import these images, you have the option to select default settings for metadata and rights management.  Any settings you provide here will be remembered the next time you import images.</p>
		
		<form onsubmit="javascript:return false;" id="import-settings-form">
		
		<input type="hidden" name="cmd" value="updateImportSettings" />
		
		<ul id="import-tabs" class="form-tabs">
			<li class="tab"><a href="#properties" title="Image basic properties">Properties</a></li>
			<li class="tab"><a href="#store" title="Pricing and products">Store</a></li>
			<li class="tab"><a href="#rights" title="Rights management and permission">Rights Management</a></li>
			<li class="tab"><a href="#custom" title="Custom fields">Custom Fields</a></li>
		</ul>
				
		<br clear="all" />

		<div class="tabcontainer">
		
			<div id="properties" class="form-horizontal">
				
				<div class="form-box" style="width:290px;">
				
					<h3>Image title:</h3>
					<input type="text" name="image_title" value="{$ses_pref_import_image_title}" style="width:280px;" class="text" />
					
					<h3>Image caption:</h3>
					<textarea name="image_caption" style="width:295px;" rows="3" class="text" cols="10">{$ses_pref_import_image_caption}</textarea>
					
					<h3>Keywords:</h3>
					{textbox_list name="image_keywords" items=$ses_pref_import_image_keywords width="288" height="90"}
				
				</div>
				
				<div class="form-box" style="width:290px;">
	
					<h3>Images enabled</h3>
					
					<input type="checkbox" name="image_active" id="image_active" class="forminput" {if $ses_pref_import_image_active}checked="checked"{/if} /> <label for="image_active">Images are enabled</label>
					
					<h3>Image owner:</h3>
					<select name="image_userid" style="width:300px;" class="select">
					{section name="photographers" loop=$user_id}
					<option value="{$user_id[photographers]}" {if $ses_pref_import_image_userid == $user_id[photographers]}selected="selected"{/if}>{$user_name[photographers]}</option>	
					{/section}
					</select>
	
					<h3>Copyright holder:</h3>
					<input type="text" name="image_copyright" value="{$ses_pref_import_image_copyright}" style="width:280px;" class="text" />
		
					<h3>Image date:</h3>
					{html_select_date prefix="date_" time=$ses_pref_import_image_date start_year="-100" display_days=true all_extra='class="select"'}
					
					<h3>Image time:</h3>
					{html_select_time prefix="time_" time=$ses_pref_import_image_date all_extra='class="select"'}
					
				</div>
					
				<div class="clear"></div>
			
			</div>
			
			<div id="store" class="form-horizontal">
				
				<div class="form-box" style="width:290px;">
					
					<h3>Include image in the store:</h3>
					<input type="checkbox" name="image_sale" id="image_sale" class="forminput" {if $ses_pref_import_image_sale == 1}checked="checked"{/if}/> <label for="image_sale">Image is for sale</label>
									
				</div>
	
				<div class="form-box" style="width:290px;">
					
					<h3>Default purchase price:</h3>
					<input type="text" name="image_price" value="{$ses_pref_import_image_price}" length="10" style="width:50px;" class="text" /> {$set_store_currency}
					
				</div>
	
				<div class="clear"></div>
			
				<div class="form-box">
						
					<h3>Products available for this image:</h3>
					
					<input type="radio" name="image_product_link" id="image_product_link_1" value="0" class="forminput" {if $ses_pref_import_image_product_link == 0}checked="checked"{/if}/>
					<label for="image_product_link_1">All image products</label><br />
					
					<input type="radio" name="image_product_link" id="image_product_link_2" value="1" class="forminput" {if $ses_pref_import_image_product_link == 1}checked="checked"{/if}/>
					<label for="image_product_link_2">Selected image products (choose from list below):</label>
					
					<h3></h3>
					{html_fancy_select_multiple options=$product_name values=$product_id name='image_products' selected=$ses_pref_import_image_products width='605' rows='6'}
					
				</div>
					
				<div class="clear"></div>
			
			</div>
			
			<div id="rights" class="form-horizontal">
				
				<div class="form-box" style="width:290px;">
				
					<h3>Image usage rights:</h3>
					
					<select name="image_rights_type" style="width:230px;" class="select">
					<option value="10"{if $ses_pref_import_image_rights_type=="10"} selected="selected"{/if}>Royalty free</option>		
					<option value="11"{if $ses_pref_import_image_rights_type=="11"} selected="selected"{/if}>Rights managed</option>		
					</select>
					
					<h3>Rights management information:</h3>
					<textarea cols="30" rows="3" name="image_rights_text" style="width:225px;" class="text">{$ses_pref_import_image_rights_text}</textarea>
					
					<h3>Model release:</h3>
					<input type="checkbox" name="image_model_release" id="image_model_release" class="forminput" {if $ses_pref_import_image_model_release == 1}checked="checked"{/if} />
					<label for="image_model_release">This image has a model release</label>
					
					
					<h3>Property release:</h3>
					<input type="checkbox" name="image_property_release" id="image_property_release" class="forminput" {if $ses_pref_import_image_property_release == 1}checked="checked"{/if} />
					<label for="image_property_release">This image has a property release</label>

				</div>
				
				<div class="form-box" style="width:290px;">

					<h3>Make images visible to site visitors:</h3>
					<input type="radio" name="image_permissions" id="image_permissions_1" value="10"{if $ses_pref_import_image_permissions=="10" || $ses_pref_import_image_permissions==""} checked="checked"{/if} />
					<label for="image_permissions_1">All users</label><br />
					
					<input type="radio" name="image_permissions" id="image_permissions_2" value="11"{if $ses_pref_import_image_permissions=="11"} checked="checked"{/if} />
					<label for="image_permissions_2">Registered users only</label><br />
					
					<input type="radio" name="image_permissions" id="image_permissions_3" value="12"{if $ses_pref_import_image_permissions=="12"} checked="checked"{/if} />
					<label for="image_permissions_3">Selected user groups</label><br />
					
					<h3>Groups who can view this image:</h3>
					{html_fancy_select_multiple options=$group_title values=$group_id name='image_viewers' selected=$ses_pref_import_image_viewers width='295' rows='6'}

				</div>
					
				<div class="clear"></div>
			
			</div>
			
			<div id="custom" class="form-horizontal">
				
				<div class="form-box" style="width:290px;">
					
					<h3>Custom fields</h3>
					
					<p>You can use custom fields to store information about your images which doesn't fit into any of the standard metadata fields.  Information you enter here can be displayed on the front end of your website by editing the templates for image thumbnails and the image detail views.</p>
					
					<p>To define names for custom fields on your site, please see the options in the General Settings control panel.</p>
					
				</div>
				
				<div class="form-box" style="width:290px;">

					<h3>{$set_extra_field_01}:</h3>
					<input type="text" name="image_extra_01" value="{$ses_pref_import_image_extra_01}" style="width:280px;" class="text" />
					
					<h3>{$set_extra_field_02}:</h3>
					<input type="text" name="image_extra_02" value="{$ses_pref_import_image_extra_02}" style="width:280px;" class="text" />
					
					<h3>{$set_extra_field_03}:</h3>
					<input type="text" name="image_extra_03" value="{$ses_pref_import_image_extra_03}" style="width:280px;" class="text" />
					
					<h3>{$set_extra_field_04}:</h3>
					<input type="text" name="image_extra_04" value="{$ses_pref_import_image_extra_04}" style="width:280px;" class="text" />
					
					<h3>{$set_extra_field_05}:</h3>
					<input type="text" name="image_extra_05" value="{$ses_pref_import_image_extra_05}" style="width:280px;" class="text" />
					
				</div>
					
				<div class="clear"></div>
			
			</div>
			
		</div>
		
		<p class="buttons">
		
		<input type="button" name="upload-link" id="upload-link" value="Begin import" class="pixaria-button" />
		
		<button onclick="javascript:dialog2.hide();" class="pixaria-button" style="margin:0;">Cancel</button>
		
		</p>
		
		</form>
		
		<script type="text/javascript" language="javascript">var tabs = new Control.Tabs('import-tabs');</script>
		
	</div>
	
</div>
</div>
