<form name="image-list" id="image-list" action="{$base_url}{$file_admin_import}">

<input type="hidden" name="import-directory" id="import-directory" value="{$import_directory}" />

{section name="file_name" loop=$image_file_name}
<input name="file[]" id="{$smarty.section.file_name.index}" value="{$image_file_name[file_name]}" type="hidden" />
{/section}


<table class="list" id="files">
	
	<thead>
	
	<tr>
	<th colspan="2">File name</th>
	<th>Max Size (pixels)</th>
	<th>Size</th>
	<th>Status</th>
	</tr>
	
	</thead>
	
	<tbody id="table-body">
	
	{section name="file_name" loop=$image_file_name}
	
		<tr class="{cycle values='row1,row2'}" id="row-{$smarty.section.file_name.index}">
			<td id="icon-{$smarty.section.file_name.index}" style="width:42px; height:48px; text-align:center; border-right:0;"><img src="{$base_url}resources/images/furniture/upload-placeholder.gif" width="32" height="32" alt="placeholder" title="This is a placeholder for the new image." /></td>
			<td id="file-{$smarty.section.file_name.index}">{$image_file_name[file_name]}</td>
			<td id="dimensions-{$smarty.section.file_name.index}">{$image_file_width[file_name]} × {$image_file_width[file_name]}</td>
			<td id="size-{$smarty.section.file_name.index}">{$image_file_size[file_name]}</td>
			<td id="actions-{$smarty.section.file_name.index}"></td>
		</tr>
	
	{sectionelse}
	
		<tr id="placeholder"><td colspan="5" style="background:#FFF; height:48px;">There are no images in the selected directory...</td></tr>
	
	{/section}
	
	</tbody>
	
</table>

</form>