﻿{*

/*
*
*	Pixaria Gallery
*	Copyright Jamie Longstaff
*
*/

*}{include_template file="admin.snippets/admin.html.header.tpl"}

<div id="admin-outerdiv">

<div id="admin-innerdiv">





<div class="form-horizontal" id="import-form">

	<form name="upload-form" id="upload-form" method="post" onsubmit="javascript:return false;">
	
	<input type="hidden" name="file_counter" value="0" id="file-counter" />
	<input type="hidden" name="cookie_persist" value="" id="cookie_persist" />
	<input type="hidden" name="psg_userid" value="" id="psg_userid" />
	
	<div class="form-header">Import FTP Uploaded Files <span class="beta">Beta!</span></div>
	
	<div class="form-body">
	
		<div class="form-box" style="min-height:250px; width:520px;">
		
			<h1>1. Select files to import</h1>
			
			<p><strong>Please note that this tool is experimental and may have bugs. To use the old FTP import tools, <a href="{$base_url}{$fil_admin_library_import}?cmd=showFormImportImages" style="text-decoration:underline">click here</a>.</strong></p>
						
			<div id="incoming-list">{html_fancy_select_single options=$directory_name values=$directory_path name='incoming-directory' width='520' rows='6'}</div>
			
		</div>
		
		<div class="form-box" id="upload-button" style="min-height:250px; width:300px;">
			
			<h1>2. Choose where to save the images</h1>
			
			<h2>Pick an existing directory:</h2>
			
			<select class="select" id="directory-picker" name="directory" onchange="javascript:$('library-directory').value=this.options[selectedIndex].value;" style="width:290px;">
				<option value="">Choose where to save the image files</option>
				<option value=""></option>
				{section name="lib" loop=$lib_directory}<option value="{$lib_directory[lib]}">{$lib_directory[lib]}</option>{/section}
			</select><br /><br />
				
			<h2>Or enter a directory name:</h2>
			<input type="text" class="text" id="library-directory" name="library-directory" value="{$smarty.now|date_format:'%Y-%m-%d'}" style="width:270px;" />
			
			<br /><br />
			
			<input type="button" class="button" id="upload-settings" value="Start importing images" />
			
		</div>

		<div class="clear"></div>
		
	</div>
	
	</form>

</div>

<div class="form-horizontal" id="result-form" style="display:none;">

	<div class="form-header">Import FTP Uploaded Files <span class="beta">Beta!</span></div>
	
	<div class="form-body">
	
		<div class="form-box" id="success-form" style="min-height:140px; width:400px; position:relative; display:none;">
		
			<h1>Your import is now complete!</h1>
			
			<p>The import process is now complete and images have now been imported into your library.  At this point, the images have not been assigned to a gallery and can be found in the list of orphan images.</p>
			
			<input type="button" onclick="javascript:location.href='{$base_url}{$fil_admin_import}';" class="button" value="Import more images" style="position:absolute; bottom:10px; right:20px; width:200px;" />
			
		</div>
			
		<div class="form-box" id="gallery-form" style="min-height:140px; width:400px; position:relative; display:none;">
		
			<h1>Add images to a gallery</h1>
			
			<p>You can now assign the images to an existing gallery or to create a new gallery using these images.</p>
			
			<input type="button" onclick="javascript:dialog1.show();" class="button" value="Add images to a gallery" style="position:absolute; bottom:10px; right:20px; width:200px;" />
			
		</div>
		
		<div class="form-box" id="error-form" style="min-height:140px; width:400px; position:relative; display:none;">
			
			<div class="error">
			<h1>No images were imported</h1>
			
			<p>Unfortunately, errors occurred during the import process and no images were added to your library.  Further details of the error messages are provided in the table below.</p>
			</div>
			
			<input type="button" onclick="javascript:location.href='{$base_url}{$fil_admin_import}';" class="button" value="Go back to import form" style="position:absolute; bottom:10px; right:20px; width:200px;" />
			
		</div>
		
		<div class="clear"></div>
		
	</div>

</div>


<br />

<div id="dataTableContainer">

{$default_image_list}

</div>



<div id="dialog-gallery" style="display:none;">
<div class="hd">Image Import Complete</div>
<div class="bd">

	<div class="dialog-content">
		
		<h1>Import Complete!</h1>
		
		<p>The images you selected have been imported into your image library.  You can now them to an existing gallery, or use them to create a new gallery.  Alternatively, these images are listed on the orphan images page of images which haven't been added to a gallery yet.</p>
		
		<ul id="gallery-tabs" class="form-tabs">
			<li class="tab"><a href="#existing" title="Add the imported images to an existing gallery">Existing Gallery</a></li>
			<li class="tab"><a href="#new" title="Create a new gallery using the imported images">New Gallery</a></li>
		</ul>
				
		<br clear="all" />

		<div class="tabcontainer">
			
			{if $total_galleries > 0}
			
			<div id="existing" class="form-horizontal">
				
				<form name="gallery_add" id="gallery_add" method="post" action="{$base_url}{$fil_admin_gallery}">
				
				<input type="hidden" name="cmd" value="addImagesToGallery" />
				
				<div class="form-box" style="width:290px;">
					
					<h3>Add images to galleries</h3>
					
					<p>Add the images you have just imported to one or more existing galleries in your library.</p>
				
				</div>
				
				<div class="form-box" style="width:290px;">
				
					<h3>Choose where to place the images:</h3>
					
					<input name="insert_location" id="insert_location_01" class="forminput" type="radio" value="start" checked="checked" /> <label for="insert_location_01">Insert at the start of the gallery</label><br />
					
					<input name="insert_location" id="insert_location_02" class="forminput" type="radio" value="end" /> <label for="insert_location_02">Insert at the end of the gallery</label>
					
				</div>
				
				<div class="clear"></div>
				
				<div class="form-box">

					<h3>Pick galleries to load these images into:</h3>
					{html_fancy_select_multiple name='gallery_id' options=$menu_gallery_title values=$menu_gallery_id rows='7' width='605'}
					
					<p class="buttons">
					
					<button onclick="javascript:dialog1.hide();$('gallery_add').submit();" class="pixaria-button" style="margin:0;">Add to Galleries</button>
					
					<button onclick="javascript:dialog1.hide();" class="pixaria-button" style="margin:0;">Cancel</button>
					
					</p>
					
				</div>
				
				</form>
					
				<div class="clear"></div>
				
			</div>
			
			{/if}
			
			<div id="new" class="form-horizontal">
			
				<form name="gallery_create" id="gallery_create" method="post" action="{$base_url}{$fil_admin_gallery}">
					
				<input type="hidden" name="cmd" value="formCreateNewGallery" />
				
				<input type="hidden" name="gallery_active" value="on" />
				<input type="hidden" name="gallery_rss" value="on" />
				<input type="hidden" name="preloaded" value="true" />				
				<input type="hidden" name="gallery_key" id="gallery_key" value="" />
				
				<div class="form-box" style="width:290px;">
				
					<h3>Gallery title:</h3>
					<input type="text" name="gallery_title" value="" style="width:270px;" class="text" />
				
					<h3>Gallery short-title:</h3>
					<input type="text" name="gallery_short_title" value="" style="width:270px;" class="text" />
				
				</div>
				
				<div class="form-box" style="width:290px;">
				
					<h3>Gallery Description:</h3>
					<textarea name="gallery_description" style="width:285px;" rows="6" class="text" cols="10"></textarea>
				
				</div>
				
				<div class="clear"></div>
				
				<div class="form-box">
				
					<h3>Choose a parent gallery:</h3>
					{fancy_column title=$title url=$url input_name='gallery_parent' data=$data rows=4}
					
					<p class="buttons">
					
					<button onclick="javascript:dialog1.hide();$('gallery_create').submit();" class="pixaria-button" style="margin:0;">Create New Gallery</button>
					
					<button onclick="javascript:dialog1.hide();" class="pixaria-button" style="margin:0;">Cancel</button>
					
					</p>
					
				</div>
				
				</form>
					
				<div class="clear"></div>
			
			</div>
			
		</div>
		
		<script type="text/javascript" language="javascript">var tabs = new Control.Tabs('gallery-tabs');</script>
		
	</div>

</div>
</div>

{include_template file="import/dialog.settings.html"}

<script language="JavaScript" type="text/javascript">

{literal}

function dialog () {

	// Define various event handlers for Dialog
	var handleCancel = function() {
		this.cancel();
	};

	// Instantiate the Dialog
	dialog1 = new YAHOO.widget.Dialog("dialog-gallery", {
	
		width : "650px",
		fixedcenter : true,
		visible : false,
		modal: true,
		zindex: 5,
		constraintoviewport : true
	});
	
	$('dialog-gallery').setStyle({display:'block'});
	
	// Render the Dialog
	dialog1.render();	
	
	// Instantiate the Dialog
	dialog2 = new YAHOO.widget.Dialog("dialog-settings", {
	
		width : "650px",
		fixedcenter : true,
		visible : false,
		modal: true,
		zindex: 5,
		constraintoviewport : true
	});
	
	$('dialog-settings').setStyle({display:'block'});
	
	// Render the Dialog
	dialog2.render();
	

}

YAHOO.util.Event.addListener(window, "load", dialog);

var Importer = Class.create({
	
	initialize: function () {
		
		var radioId = 'fss_0';
		
		$('upload-settings').observe('click',function(event){dialog2.show()});
		$('upload-link').observe('click',function(event){saveSettings(radioId)});
					
		$$('input[name="incoming-directory"]').invoke('observe','click', function(el) { 
			
			var directoryName 	= el.findElement().value;
			radioId 			= el.findElement().id;
			
			new Ajax.Request('{/literal}{$base_url}{$fil_admin_import}{literal}', {
				method:'post',
				parameters: {cmd:'getImageList', directory: directoryName },
				onSuccess: function (transport) {
					
					if (directoryName != '0') {
						$('library-directory').value = directoryName;
					} else {
						$('library-directory').value = '{/literal}{$smarty.now|date_format:"%Y-%m-%d"}{literal}';
					}
										
					var html = transport.responseText;
					
					$('dataTableContainer').update(html);
					
				}
			});
		
		});
	
	}
	
});

var importObj = new Importer();

function saveSettings (radioId) {
	
	new Ajax.Request('{/literal}{$base_url}{$fil_admin_import}{literal}', {
	  method: 'post',
	  parameters: $('import-settings-form').serialize(),
	  onSuccess: function(transport) {
		
			doImport(radioId);
			
	  }
	});

}

function doImport (radioId) {
	
	$$('input[name="incoming-directory"]').each(function(el) {
		
		el.setAttribute('disabled','disabled');
	
	});
	
	$('directory-picker').setAttribute('disabled','disabled');
	$('directory-picker').setStyle({color:'#999'});

	$('library-directory').setAttribute('disabled','disabled');
	$('library-directory').setStyle({color:'#999'});

	$('incoming-list').setStyle({color:'#999'});
	$('upload-link').setStyle({display:'none'});
	dialog2.hide();
	
	var imageArray 		= $$('input[name="file[]"]');
	var imageCounter	= 0;
	
	var incomingDirectory	= $('import-directory').value;
	var libraryDirectory	= $('library-directory').value;
	var importSuccessful	= false;
	
	imageArray.each( function(el) {
		
		var imageName		= el.value;
		var imageNumber		= el.id;

		new Ajax.Request('{/literal}{$base_url}{$fil_admin_import}{literal}', {
		
			method:'post',
			
			parameters: {
				
				cmd:'importImages',
				incoming_directory: incomingDirectory,
				library_directory: libraryDirectory,
				image: imageName
				
			},
			
			onSuccess: function (transport) {
				
				if (updateTableRow(imageNumber, transport.responseText)) {
					importSuccessful = true;
				}
				
				imageCounter++;
				
				if (imageCounter == imageArray.length) {
					
					window.scrollTo(0,0);
					
					$('import-form').hide();
					
					$('result-form').show();
					
					if (importSuccessful) {
						$('success-form').show();
						$('gallery-form').show();
					} else {
						$('error-form').show();
					}
					
				}
				
			}
			
		});
		
	});
	
	
	
}


function updateTableRow (rowNumber, responseText) {
	
	try { objResponse = responseText.evalJSON(); } catch (e) {
		
		$('icon-'+rowNumber).update('<img src="{/literal}{$base_url}{literal}resources/images/furniture/upload-error.gif" alt="Error" width="32" height="32" />');
		$('actions-'+rowNumber).update('An error occurred.  The image may be too large to import.').setStyle({color:'#F00'});
		
		return false;
		
	}
	
	if (objResponse.compPath != '' && objResponse.iconPath) {
	
		var iconHtml = '';
		
		iconHtml += '<a href="javascript:void(0);" onclick="javascript:imagePreviewWindow(\'{/literal}{$base_url}{literal}resources/admin/admin.image.output.php?html=';
		iconHtml += objResponse.compPath;
		iconHtml += '&amp;\',\'' + objResponse.compWidth + '\',\'' + objResponse.compHeight + '\');" title="Click here to view a larger version of this image">';
		iconHtml += '<img src="{/literal}{$base_url}{literal}/{/literal}{$fil_admin_image_output}{literal}?file='+ objResponse.iconPath +'&" width="'+ objResponse.iconWidth +'" height="'+ objResponse.iconHeight +'" class="icon" />';
		iconHtml += '<'+'/a>';
		
		$('icon-'+rowNumber).update(iconHtml);
	
	} else {

		$('icon-'+rowNumber).update('<img src="{/literal}{$base_url}{literal}resources/images/furniture/upload-error.gif" alt="Error" width="32" height="32" />');
	
	}
	
	if (objResponse.error == true) {
		
		$('actions-'+rowNumber).update(objResponse.error_code).setStyle({'color':'#F00'});
		
		return false;
		
	} else {
		
		var htmlCode = '';
		
		htmlCode += '<ul class="actionlist">';
		
		htmlCode += '<li><a href="{/literal}{$base_url}{$fil_admin_image}?cmd=edit&amp;image_id='+objResponse.imageId+'{literal}">Edit image<'+'/a><'+'/li> ';
		htmlCode += '<li><a href="{/literal}{$base_url}{$fil_admin_gallery}?cmd=formAddImagesToGallery&amp;images[]='+objResponse.imageId+'{literal}">Add to gallery<'+'/a><'+'/li> ';
		htmlCode += '<li><a href="{/literal}{$base_url}{$fil_admin_image}?cmd=formDeleteFromLibrary&amp;images[]='+objResponse.imageId+'{literal}">Delete<'+'/a><'+'/li> ';
		
		htmlCode += '<'+'/ul>';
		
		$('actions-'+rowNumber).update(htmlCode);

		//$('actions-'+rowNumber).update('The image has been imported into your library!');
		
		var inputElement1 = Builder.node('input', {
			
			type:'hidden',
			name:'images[]',
			value:objResponse.imageId
			
		});
		
		var inputElement2 = Builder.node('input', {
			
			type:'hidden',
			name:'images[]',
			value:objResponse.imageId
			
		});
		
		// Add a gallery key for new galleries
		if ($('gallery_key').value == '') {
			$('gallery_key').value = objResponse.imageId;
		}
		
		// Add the image ID as a hidden input in the forms
		$('gallery_add').insert(inputElement1, {position:'bottom'});
		$('gallery_create').insert(inputElement2, {position:'bottom'});
		
		return true;
		
	}
	
}

{/literal}

</script>


</div>

</div>

{include_template file="admin.snippets/admin.html.footer.tpl"}
