
/* Horizontal form */
div.form-h {
	border:1px solid #CCC;
	padding:0px;
	margin-bottom:20px;
}

div.form-h div.header {
	font-size:11pt;
	color:#FFF;
	background-color:#777;
	padding:4px 0px 6px 4px;
	font-weight:bold;
}

div.form-h div.body {
	padding:0;
}

div.form-h div.box {
	margin:5px 0 5px 5px;
	float:left;
}

div.form-h div.box input.button {
	border:1px solid #999;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	background:#DDD;
	font-family:Helvetica, Arial, Sans-Serif;
	font-size:1.1em;
	color:#444;
	padding:5px 15px;
	cursor:pointer;
}

div.form-h div.box input.button:hover {
	background:#EEE;
	border:1px solid #999;
}