/*
*
*	Pixaria Gallery
*	Copyright Jamie Longstaff
*
*/

/* Main DOM elements
----------------------------------------------- */

body
	{
	font-family:Helvetica, Arial, Geneva, Sans-Serif;
	margin:0px;
	width:100%;
	background-color:#EEE;
	color: #555;
	text-align:center;
	}

h1
	{
	font-weight:normal;
	margin:0px 0px 4px 0px;
	font-size:14pt;
	}

h2
	{
	font-weight:normal;
	margin:0px 0px 1px 0px;
	font-size:12pt;
	}

h3
	{
	font-weight:bold;
	margin:0px 0px 1px 0px;
	font-size:10pt;
	line-height:15pt;
	}

p,div,td
	{
	font-family:Helvetica, Arial, Geneva, Sans-Serif;
	font-size:9pt;
	line-height:12pt;
	}

a:link,a:visited,a:active
	{
	color: #555;
	}

a:hover
	{
	text-decoration:underline;
	color: #555;
	}

li
	{
	margin-top:9pt;
	}

form
	{
	margin:0px;
	}

form .forminput
	{
	font-size:8pt;
	color:#222;
	}

form .formbutton
	{
	text-align:center;
	color:#444;
	background:#DDD;
	font-size:9pt;
	font-family:Helvetica, Arial, Geneva, Sans-Serif;
	font-weight:bold;
	}

.bold
	{
	font-weight:bold;
	}
	
.underline
	{
	text-decoration:underline;
	}


/* Main Navigation
----------------------------------------------- */

a.navigation-link
	{
	padding:0px 10px 0px 10px;
	font-weight:bold;
	font-size:9pt;
	font-family:Helvetica, Arial, Geneva, Sans-Serif;
	color:#555;
	text-decoration:none;
	}

a.navigation-link:hover
	{
	color:#000;
	text-decoration:none;
	}



/* ID Entities
----------------------------------------------- */

#copyright /*  */
	{
	background-color:#CCC;
	padding:10px;
	font-size:7pt;
	}

#content
	{
	margin:0px auto;
	width:100%;
	text-align:left;
	min-width:900px;
	}


/* Classes from version 1.x stylesheet
----------------------------------------------- */

.html-error-warning
	{
	color:#F00;
	}

.required
	{
	color:#F00;
	font-weight:bold;
	}

.list-one /*  */
	{
	background-color:#E1E1E1;
	}
	
.list-two /*  */
	{
	background-color:#E8E8E8;
	}

.icon /*  */
	{
	font-size:10pt;
	background:#FFF;
	background-position:center center;
	padding:3px;
	border: 1px solid #CCC;
	}

.thumbnail /*  */
	{
	font-size:10pt;
	background:#FFF url('../images/loaders/image_loading.gif');
	background-position:center center;
	padding:4px;
	border: 1px solid #CCC;
	}

.image /*  */
	{
	background:#FFF;
	padding:6px;
	border: 1px solid #CCC;
	}

.plain
	{
	text-decoration:none;
	}

/* Header and navigation */

#header
	{
	background:#555 url('../images/masthead.jpg');
	height:100px;
	padding:0 0 0 0px;
	overflow: hidden;
	}
	
#header #logo {
	position:absolute;
	top:10px;
	left:20px;
	height:68px;
	}
	
#header #navigation {
	padding:70px 0 0 20px;
}

#header #navigation #search{
	float:right;	
}

#header #nav {
	clear: both;
	margin: 0 auto;
	padding: 0;
	list-style: none;
	}
	
#header #nav li {
	background:#888;
	float: left;
	margin: 0 2px 0 0;
	padding: 0;
	}
	
#header #nav li a {
	background:#777;
	float: left;
	margin: 0;
	padding:7px 12px 7px 12px;
	font-size: 11pt;
	text-decoration: none;
	color: #FFF;
	}
	
#header #nav li a:hover {
	color: #fff;
	background: #AAA;
	}
	
#header #nav li.active a {
	font-weight: bold;
	color: #405f72;
	background: #fff;
	}

/* Pagination interface
----------------------------------------------- */

.pagination
	{
	}
	
.pagination a
	{
	display: block;
	padding: 3px 7px;
	float: left;
	margin: 0 3px 0 0;
	border-top: 1px solid #DDD;
	border-right: 1px solid #AAA;
	border-bottom: 1px solid #AAA;
	border-left: 1px solid #DDD;
	text-decoration:none;
	}

.pagination a:hover
	{
	background:#EEE;
	}

.pagination .spacer
	{
	display: block;
	padding: 3px 7px;
	float: left;
	margin: 0 3px 0 0;
	} 
	
.pagination .disabled, .pagination .current
	{
	display: block;
	padding: 3px 7px;
	float: left;
	margin: 0 3px 0 0;
	color:#999;
	border-top: 1px solid #AAA;
	border-right: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	border-left: 1px solid #AAA;
	text-decoration:none;
	} 

.pages
	{
	float:right;
	padding-right:4px;
	}

/* Form input for choosing number of thumbs
----------------------------------------------- */

.page-button
	{
	font-size:10pt;
	margin:0 2px 2px 0;
	text-decoration: none;
	height:16px;
	border:1px solid #AAA;
	padding: 3px 7px;
	text-align:center;
	color:#444 !important;
	float:left;
	}

/* Version 2.x New Classes and IDs
----------------------------------------------- */

#popup-content
	{
	background:#EEE;
	text-align:left;
	}

#front-innerdiv
	{
	width:100%;
	}

#front-outerdiv
	{
	padding:20px;
	}

/*  Styles for gallery descriptions */

.table-gallery-description
	{
	border-collapse:collapse;
	width:100%;
	padding:0px;
	border:1px solid #CCC;
	margin-bottom:20px;
	border-spacing:0px;
	}

.table-gallery-description thead th
	{
	text-align:left;
	font-size:11pt;
	color:#FFF;
	background-color:#777;
	padding:4px 0px 6px 4px;
	font-weight:bold;
	}

.table-gallery-description thead th a
	{
	text-decoration:none !important;
	color:#FFF !important;
	}

.table-gallery-description table
	{
	margin:5px;
	border-collapse:collapse;
	width:66%;
	padding:0px;
	border-spacing:0px;
	}

.table-gallery-description tbody td
	{
	background-color:#DDD;
	}
	
.table-gallery-description td th
	{
	width:190px;
	vertical-align:top;
	text-align:center;
	}
	
.table-gallery-description td td
	{
	vertical-align:top;
	text-align:left;	
	}
	
.table-gallery-description td h1
	{
	font-weight:bold;
	font-size:10pt;
	margin-top:2px;
	}
	
	
/*  Styles for text layout tables */

.table-text
	{
	border-collapse:collapse;
	width:100%;
	line-height:1.2em;
	text-align:left;
	padding:0px;
	border-spacing:0px;
	margin-bottom:20px;
	}

.table-text th
	{
	width:33%;	
	vertical-align:top;
	padding:2px 5px 7px 0px;
	font-weight:bold;
	letter-spacing:-1pt;
	font-size:14pt;
	text-align:justify;
	margin-top:0px;
	margin-right:8px;
	margin-left:2px;
	line-height:1.3em;
	}
	
.table-text td
	{
	width:33%;	
	vertical-align:top;
	padding:3px;
	text-align:left;
	vertical-align:top;
	}

.table-text td h1
	{
	font-weight:bold;
	font-size:12pt;
	margin-top:2px;
	}
	
.table-text td h2
	{
	font-weight:bold;
	font-size:11pt;
	margin-top:2px;
	}
	
.table-text td h3
	{
	font-weight:bold;
	font-size:10pt;
	margin-top:2px;
	}
	
/*  Styles for form layout tables */

.table-form
	{
	border-collapse:collapse;
	width:100%;
	padding:0px;
	border:1px solid #CCC;
	margin-bottom:20px;
	border-spacing:0px;
	}

.table-form thead th
	{
	width:33%;	
	text-align:left;
	font-size:11pt;
	color:#FFF;
	background-color:#777;
	padding:4px 0px 6px 4px;
	font-weight:bold;
	}
	
.table-form tbody th
	{
	height:25px;
	vertical-align:top;
	padding:8px 0px 0px 4px;
	width:33%;
	font-size:9pt;
	text-align:left;
	font-weight:bold;
	}
	
.table-form tbody td
	{
	height:25px;
	vertical-align:middle;
	height:20px;
	padding:3px;
	width:33%;	
	text-align:left;	
	}

.table-form tbody td h1
	{
	font-weight:bold;
	font-size:12pt;
	margin-top:2px;
	}
	
.table-form tbody td h2
	{
	font-weight:bold;
	font-size:11pt;
	margin-top:2px;
	}
	
.table-form tbody td h3
	{
	font-weight:bold;
	font-size:10pt;
	margin-top:2px;
	}
	
.table-form tbody td td
	{
	padding:0px;
	}

.table-form tbody th td
	{
	padding:0px;
	}

/*  Styles for cart list details  */

.table-form .messages
	{
	width:100%;
	inherit:none;
	border-collapse:collapse;
	}

.table-form .messages th
	{
	padding:3px;
	vertical-align:top;
	width:33%;
	}

.table-form .messages td
	{
	padding:3px;
	vertical-align:top;
	width:66%;
	}

/*  Styles for cart messages  */

.table-cart
	{
	border-collapse:collapse;
	width:100%;
	padding:0px;
	border:1px solid #CCC;
	margin-bottom:20px;
	border-spacing:0px;
	}

.table-cart thead th
	{
	width:33%;	
	text-align:left;
	font-size:11pt;
	color:#FFF;
	background-color:#777;
	padding:4px 0px 6px 4px;
	font-weight:bold;
	}
	
.table-cart tbody th
	{
	vertical-align:middle;
	text-align:center;
	padding:0px;
	width:33%;
	font-size:9pt;
	font-weight:bold;
	}
	
.table-cart tbody td
	{
	vertical-align:middle;
	padding:0px;
	width:33%;	
	text-align:left;	
	}

.table-cart .cart-item
	{
	width:100%;
	inherit:none;
	border-collapse:collapse;
	}

.table-cart .cart-item th
	{
	padding:3px;
	width:33%;
	text-align:left;	
	}

.table-cart .cart-item td
	{
	padding:3px;
	width:66%;
	text-align:left;	
	}

/*  Styles for list views  */

.table-listbox
	{
	border-collapse:collapse;
	border:solid 1px #CCC;
	color:#444;
	width:100%;
	text-align:left;
	padding:0px;
	border-spacing:0px;
	margin-bottom:20px;
	}

.table-listbox th
	{
	text-align:left;
	font-size:11pt;
	color:#FFF;
	background-color:#777;
	padding:4px 0px 6px 4px;
	font-weight:bold;
	}

.table-listbox .options
	{
	padding:3px 0px 4px 4px;
	text-align:left;
	background-color:#DDD;
	font-weight:normal;
	}

.table-listbox .options .option-title
	{
	padding:5px 5px 0 0;
	width:10em;
	text-align:left;
	font-weight:bold;
	float:left;
	}

.table-listbox td
	{
	vertical-align:middle;
	text-align:left;
	padding:0px 0px 0px 3px;
	line-height:20px;
	padding-left:2px;
	padding-right:2px;
	text-decoration:none;
	}

.table-listbox td a
	{
	text-decoration:none;
	}

.table-listbox td a:hover
	{
	text-decoration:none;
	}

/*  Styles for popup window text layout tables */

.table-popup-text
	{
	border-collapse:collapse;
	width:100%;
	line-height:1.2em;
	text-align:left;
	padding:0px;
	border-spacing:0px;
	margin:0px;
	}

.table-popup-text th
	{
	width:33%;	
	vertical-align:top;
	padding:2px 5px 7px 0px;
	font-weight:bold;
	letter-spacing:-1pt;
	font-size:14pt;
	text-align:justify;
	margin-top:0px;
	margin-right:8px;
	margin-left:2px;
	line-height:1.3em;
	}
	
.table-popup-text td
	{
	width:33%;	
	vertical-align:top;
	padding:3px;
	text-align:left;
	vertical-align:top;
	}

/*  Styles for popupwindow form layout tables */

.table-popup-form
	{
	border-collapse:collapse;
	width:100%;
	padding:0px;
	border:1px solid #CCC;
	margin-bottom:20px;
	border-spacing:0px;
	}

.table-popup-form thead th
	{
	width:50%;	
	text-align:left;
	font-size:11pt;
	color:#FFF;
	background-color:#777;
	padding:4px 0px 6px 4px;
	font-weight:bold;
	}
	
.table-popup-form tbody th
	{
	height:26px;
	vertical-align:top;
	padding:8px 0px 0px 4px;
	width:50%;
	font-size:9pt;
	text-align:left;
	font-weight:bold;
	}
	
.table-popup-form tbody td
	{
	height:26px;
	vertical-align:middle;
	height:20px;
	padding:3px;
	width:50%;	
	text-align:left;	
	}

.table-popup-form table
	{
	border-collapse:collapse;
	border-spacing:0px;
	padding:0px;
	}

.table-popup-form tbody td td
	{
	padding:0px;
	}

.table-popup-form tbody th td
	{
	padding:0px;
	}

/*  Styles for cart messages  */

.table-cart
	{
	border-collapse:collapse;
	width:100%;
	padding:0px;
	border:1px solid #CCC;
	margin-bottom:20px;
	border-spacing:0px;
	}

.table-cart thead th
	{
	width:33%;	
	text-align:left;
	font-size:11pt;
	color:#FFF;
	background-color:#777;
	padding:4px 0px 6px 4px;
	font-weight:bold;
	}
	
.table-cart tbody th
	{
	vertical-align:middle;
	text-align:center;
	padding:0px;
	width:33%;
	font-size:9pt;
	font-weight:bold;
	}
	
.table-cart tbody td
	{
	vertical-align:middle;
	padding:0px;
	width:33%;	
	text-align:left;	
	}

.table-cart .cart-item
	{
	width:100%;
	inherit:none;
	border-collapse:collapse;
	}

.table-cart .cart-item th
	{
	vertical-align:top;
	padding:3px;
	width:33%;
	text-align:left;	
	}

.table-cart .cart-item td
	{
	padding:3px;
	width:66%;
	text-align:left;	
	}

/*  Styles for search box  */

.table-search
	{
	table-layout:fixed;
	width:100%;
	padding:0px;
	border-collapse:collapse;
	border-spacing:0px;
	margin-bottom:20px;
	background-color:#DDD;
	border:1px solid #CCC;
	}

.table-search th
	{
	text-align:left;
	font-size:11pt;
	color:#FFF;
	background-color:#777;
	padding:4px 0px 6px 4px;
	font-weight:bold;
	}

.table-search td .search-box
	{
	float:left;
	margin:5px 0 5px 0;
	padding:0 10px 0 10px;
	width:20%;
	min-height:270px;
	//height:270px;
	}
	
/*  Styles for image import form  */

.table-import
	{
	table-layout:fixed;
	width:100%;
	padding:0px;
	border-collapse:collapse;
	border-spacing:0px;
	margin-bottom:20px;
	background-color:#DDD;
	border:1px solid #CCC;
	}

.table-import th
	{
	text-align:left;
	font-size:11pt;
	color:#FFF;
	background-color:#777;
	padding:4px 0px 6px 4px;
	font-weight:bold;
	}

.table-import td .import-box
	{
	float:left;
	margin:5px 0 5px 0;
	padding:0 10px 0 10px;
	width:20%;
	min-height:270px;
	}
	
	
/*  Styles for news box  */

.table-news
	{
	table-layout:fixed;
	padding:0px;
	border-collapse:collapse;
	border-spacing:0px;
	margin-bottom:20px;
	background-color:#DDD;
	border:1px solid #CCC;
	}

.table-news thead th
	{
	text-align:left;
	font-size:11pt;
	color:#FFF;
	background-color:#777;
	padding:4px 0px 6px 4px;
	font-weight:bold;
	}

.table-news tbody th
	{
	text-align:left;
	font-weight:normal;
	padding:5px;
	}

.table-news tbody td
	{
	text-align:left;
	font-weight:normal;
	padding:5px;
	}

.table-news tbody th hr
	{
	border: 0;
	margin:10px 5px 10px 0px;
	height: 1px;
	background-color:#AAA;
	}
	
.table-news tbody th .promote
	{
	padding:2px 2px 2px 2px;
	color:#444;
	font-size:8pt;
	background:#EEE;
	border:1px solid #AAA;
	margin:0 10px 0 0;
	float:right;
	text-decoration:none !important;
	}
	
.table-news tbody th .promote:hover
	{
	background:#FFF;
	}
	
.table-news tbody .link-rss
	{
	background:url('../images/icons/22x22.rss.png') no-repeat;
	padding:5px 0 10px 26px;
	margin:0 0 10px 0px;
	min-height:24px;
	}
	
/*  Styles for thumbnails  */

.table-thumbnail
	{
	table-layout:fixed;
	width:100%;
	padding:0px;
	border-collapse:collapse;
	border-spacing:0px;
	margin-bottom:20px;
	background-color:#DDD;
	border:1px solid #CCC;
	}

.table-thumbnail thead th
	{
	text-align:left;
	font-size:11pt;
	color:#FFF;
	background-color:#777;
	padding:4px 0px 6px 4px;
	font-weight:bold;
	}
	
.table-thumbnail tbody .options
	{
	padding:3px 0px 4px 4px;
	text-align:left;
	background-color:#CCC;
	font-weight:normal;
	}

.table-thumbnail tbody .options .option-title
	{
	padding:4px 5px 0 0;
	width:10em;
	text-align:left;
	font-weight:bold;
	float:left;
	}

/* Styles for small thumbnails */
.table-thumbnail .thumb-sml
	{
	padding:5px;
	margin:5px;
	background:#EEE;
	border:1px solid #CCC;
	float:left;
	overflow:none;
	}

.table-thumbnail .thumb-sml table
	{
	padding:0px;
	border-collapse:collapse;
	border-spacing:0px;
	width:100%;
	}

.table-thumbnail .thumb-sml table thead th
	{
	background:0;
	padding:0;
	margin:0;
	width:150px;
	height:100px;
	}

.table-thumbnail .thumb-sml table thead th img
	{
	margin:0px auto;
	display:block;
	}

.table-thumbnail .thumb-sml table tbody th
	{
	font-size:8pt;
	width:55px;
	background:0;
	vertical-align:top;
	text-align:right;
	}
	
.table-thumbnail .thumb-sml table tbody td
	{
	font-size:8pt;
	background:0;
	vertical-align:top;
	text-align:left;
	}
	
	
/* Styles for large thumbnails */

.table-thumbnail .thumb-lrg
	{
	padding:5px;
	margin:5px;
	background:#EEE;
	border:1px solid #CCC;
	float:left;
	overflow:none;
	}

.table-thumbnail .thumb-lrg table
	{
	padding:0px;
	border-collapse:collapse;
	border-spacing:0px;
	width:100%;
	}

.table-thumbnail .thumb-lrg table thead th
	{
	background:0;
	padding:0;
	margin:0;
	width:180px;
	height:180px;
	}

.table-thumbnail .thumb-lrg table thead th img
	{
	margin:0px auto;
	display:block;
	}

.table-thumbnail .thumb-lrg table tbody th
	{
	font-size:8pt;
	width:70px;
	background:0;
	vertical-align:top;
	text-align:right;
	}
	
.table-thumbnail .thumb-lrg table tbody td
	{
	font-size:8pt;
	background:0;
	vertical-align:top;
	text-align:left;
	}

/* IMAGE DETAIL VIEW : Styles for the various container divs in the image large detail view */

#image-detail
	{
	padding:0px;
	margin:0 0 20px 0;
	background:#DDD;
	border:1px solid #CCC;
	overflow:hidden;
	}

#image-detail .breadcrumbs
	{
	text-align:left;
	font-size:11pt;
	color:#FFF;
	background-color:#777;
	padding:4px 0px 6px 4px;
	font-weight:bold;
	}

#image-detail .breadcrumbs a
	{
	color:#FFF;
	}

#image-detail .imagebox-wide
	{
	text-align:center;
	padding:40px 10px 10px 410px;
	}

#image-detail .infobox-wide
	{
	float:left;
	width:380px;
	margin:0 0 0 0;
	padding:0 10px 0px 10px;
	}

#image-detail .imagebox-thin
	{
	text-align:center;
	padding:10px 10px 10px 10px;
	}

#image-detail .infobox-thin
	{
	margin:0 0 0 0;
	padding:0 10px 0px 10px;
	}

/* IMAGE DETAIL VIEW : Styles for the image information panel */

.table-image-view
	{
	max-width:600px;
	min-width:380px;
	padding:0px;
	border-collapse:collapse;
	border-spacing:0;
	display:block;
	}

.table-image-view th
	{
	vertical-align:top;
	width:150px;
	text-align:left;
	font-size:10pt;
	padding:5px 0px 6px 0px;
	font-weight:bold;
	}
	
.table-image-view td
	{
	vertical-align:top;
	text-align:left;
	font-size:10pt;
	padding:5px 0px 6px 5px;
	}

.table-image-view .imageview
	{
	vertical-align:middle;
	text-align:center;
	font-size:10pt;
	padding:10px;
	font-weight:bold;
	}

/*  GENERAL : Styles for inline action buttons  */

ul.actionlist
	{
	margin: 0px;
	padding: 0px;
	white-space: nowrap;
	}
	
.actionlist li
	{
	display: inline;
	list-style-type: none;
	}
	
.actionlist a
	{
	padding: 3px 10px;
	text-decoration: none;
	}
	
.actionlist a:link, .actionlist a:visited
	{
	background-color: #DDD;
	text-decoration: none;
	border-top:1px solid #FFF;
	border-right:1px solid #BBB;
	border-bottom:1px solid #BBB;
	border-left:1px solid #FFF;
	}
	
.actionlist a:hover
	{
	background-color: #DDD;
	text-decoration: none;
	border-top:1px solid #BBB;
	border-right:1px solid #FFF;
	border-bottom:1px solid #FFF;
	border-left:1px solid #BBB;
	}
	
/*  GENERAL : Notification boxes  */

.notification-note
	{
	background:#FFF url('../images/notification.note.gif');
	background-repeat:no-repeat;
	padding:4px 4px 4px 35px;
	margin:0px 0px 5px 0px;
	border:1px solid #CCC;
	font-size:8pt;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	}

.notification-note h1
	{
	padding:0px;
	margin:3px;
	font-size:9pt;
	font-weight:bold;
	}

.notification-note p
	{
	padding:0px;
	margin:3px;
	font-size:9pt;
	}

.notification-warning
	{
	background:#FFF url('../images/notification.warning.gif');
	background-repeat:no-repeat;
	padding:4px 4px 4px 38px;
	margin:0px 0px 5px 0px;
	border:1px solid #CCC;
	font-size:8pt;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	}

.notification-warning h1
	{
	padding:0px;
	margin:3px;
	font-size:9pt;
	font-weight:bold;
	}

.notification-warning p
	{
	padding:0px;
	margin:3px;
	font-size:9pt;
	}

/* IMAGE DETAIL VIEW : Link styles for download links */

.download-list dt
	{
	margin: 15px 0 0 0;
	font-weight: normal;
	}

.download-list dd
	{
	margin: 0 0 1px 0;
	padding: 2px 0 0 0;
	}

.download-list dt a
	{
	float: left;
	display: block;
	margin-right:5px;
	padding: 0px;
	}

/* IMAGE DETAIL VIEW : Tab panel styles */

.keywords
	{
	padding:2px;
	float:left;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border:1px solid #DDD;
	margin:2px 4px 2px 0px;
	background:#EEE;
	}

.panel
	{
	display: none;
	border:1px solid #CCC;
	padding:5px;
	background:#FFF;
	}

.panel-inline
	{
	border:1px solid #CCC;
	padding:5px;
	margin-top:10px;
	background:#EEE;
	}

.panel-image
	{
	display: block;
	padding:0px;
	margin:0px;
	}

.panel h1, .panel-inline h1
	{
	font-weight:bold;
	font-size:11pt;
	margin-top:2px;
	}

.panel.active-tab-body
	{
	display: block;
	}

.neighbour
	{
	cursor:pointer;
	float:none;
	background:#EEE;
	border:1px solid #CCC;
	margin:3px;
	width:115px;
	height:127px;
	overflow:hidden;
	}

.neighbour-opaque
	{
	cursor:pointer;
	float:none;
	-moz-opacity:0.5;
	opacity:0.5;
	filter:alpha(opacity=40);
	background:#EEE;
	border:1px solid #CCC;
	margin:3px;
	width:115px;
	height:127px;
	overflow:hidden;
	}

.neighbour table
	{
	width:115px;
	height:110px;
	}

.neighbour-opaque table
	{
	width:115px;
	height:110px;
	}

/* IMAGE DETAIL VIEW : Tab container and tab styles */

#tab-container
	{
	margin:0;
	padding:0;
	overflow:hidden;
	}

#tabs
	{
	margin:0 0 9px 0 !important;
	padding:0 !important;
	height:29px;
	list-style: none;
	}

#tabs li
	{
	float: left;
	}

#tabs a
	{
	background-color: #999;
	float: left;
	padding:4px 4px 5px 4px;
	margin: 0 2px 0 0;
	border-top:1px solid #CCC;
	border-bottom:1px solid #999;
	border-left:1px solid #CCC;
	border-right:1px solid #CCC;
	text-decoration: none;
	font-weight:bold;
	font-size:11pt;
	color: #FFF;
	}

#tabs a.active-tab
	{
	background-color: #FFF;
	float: left;
	padding:4px 4px 5px 4px;
	margin: 0 2px 0 0;
	border-top:1px solid #CCC;
	border-left:1px solid #CCC;
	border-right:1px solid #CCC;
	border-bottom:1px solid #FFF;
	text-decoration: none;
	font-weight:bold;
	font-size:11pt;
	color: #555;
	}


/* Pixie (plugin) styles */

.pix-cart-items
	{
	float:right;
	color:#FFF;
	margin:20px 20px 0 0;
	font-weight:bold;
	font-size:11pt;
	}

.pix-cart-items a 
	{
	color:#FFF !important;
	}




