/*
*
*	Pixaria Gallery 1.0
*	Copyright 2002 - 2006 Jamie Longstaff
*
*	Script author:		Jamie Longstaff
*	Script version:		1.0	
*
*/

body
	{
	background-color: #DDD;
	margin:0px 0px; padding:0px;
	text-align:center;
	font-family:Helvetica, Arial, Geneva, Sans-Serif;
	font-size:9pt;
	color:#555;
	}
		
#content
	{
	background-color: transparent;
	text-align: center;
	margin-top: -50px;
	margin-left: -300px;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300px;
	height: 50px;
	visibility: visible;
	}
		
.bodytext
	{
	width:50px;
	}
			
a:link,a:visited,a:active
	{
	text-decoration:none;
	color: #444;
	}

a:hover
	{
	text-decoration:underline;
	color: #444;
	}