{if $set_func_user_language_select}

<div style="display:none;" id="lang-picker">
	
	<form name="language-picker" id="language-picker" action="" onsubmit="javascript:return false;">
	
	<div class="form-h">
		
		<div class="header">##DEFAULT_LANG_01##</div>
		
		<div class="body">
			
			<div class="box">
			
				<p>##DEFAULT_LANG_02##</p>
			
				<table style="float:left; width:250px;">
				
				{foreach from=$set_optional_languages key=k item=v name="local"}
				
				<tr>
				
					<td style="padding:0; width:32px;"><img src="{$base_url}resources/images/flags/{$v}.png" alt="{$v}" width="32" height="32" border="0" /><td>
					
					<td>
					<input type="radio" id="lang_{$smarty.foreach.local.index}" name="default_language" class="forminput" value="{$v}" {if $smarty.const.LOCAL_LANGUAGE==$v}checked="checked"{/if} />
					<label for="lang_{$smarty.foreach.local.index}">{$set_installed_languages.$v}</label>
					</td>
				
				</tr>
				
				{if ($smarty.foreach.local.index+1)%5 == 0}
				
				</table>
				
				<table style="float:left; width:250px;">
				
				{/if}
				
				{/foreach}
				
				</table>
				
				<br clear="all" />
				
				<input type="button" class="button" name="" value="##DEFAULT_LANG_03##" onclick="javascript:saveDefaultLanguage('language-picker','default_language');" />
				
			</div>
			
			<br clear="all" />
			
		</div>
	
	</div>
	
	</form>
	
</div>

{/if}