{*

/*
*
*	Pixaria Gallery
*	Copyright Jamie Longstaff
*
*/

*}

{include_template file="admin.image/image.hud.color.palette.tpl"}


<ul id="form-tabs" class="form-tabs">
	<li class="tab"><a href="#advanced" title="Advanced Search">Advanced Search</a></li>
	<li class="tab"><a href="#directory" title="Directory Search">Directory Search</a></li>
</ul>

<br clear="all" />

<div class="tabcontainer">

	<div id="advanced" class="form-horizontal">

		<div class="form-body">
			
				<form action="{$base_url}{$fil_admin_library_search}" method="post" name="search_advanced">
				
				<input type="hidden" name="cmd" value="doSearch" />
				
				<div class="form-box" style="width:230px; height:310px;">
					
					<h3>Search type:</h3>
					
					<input type="radio" name="search_within" id="search_within_01" value="false" checked="checked" class="forminput" /> <label for="search_within_01">New Search</label>
					
					{if $sid != ""}&nbsp; &nbsp; <input type="radio" name="search_within" id="search_within_02" value="{$sid}" class="forminput" /> <label for="search_within_02">Search within</label>{/if}
					
					<h3>Enter a keyword search:</h3>
					<input type="text" value="{$keywords_simple_boolean}" name="keywords_simple_boolean" class="text" style="width:210px" />
					
					<br /><br />
						
					<input type="checkbox" name="model_release" id="model_release" class="forminput" {if $model_release == "on"}checked="checked"{/if} /> <label for="model_release">Model release</label><br />
			
					<input type="checkbox" name="property_release" id="property_release" class="forminput" {if $property_release == "on"}checked="checked"{/if} /> <label for="property_release">Property release</label><br />
					
					<br />
					
					<input type="radio" name="rights_managed" id="rights_managed_01" value="2" class="forminput" {if $rights_managed == "2"}checked="checked"{/if} /> <label for="rights_managed_01">Rights managed only</label><br />
					
					<input type="radio" name="rights_managed" id="rights_managed_02" value="3" class="forminput" {if $rights_managed == "3"}checked="checked"{/if} /> <label for="rights_managed_02">Royalty free only</label><br />
					
					<input type="radio" name="rights_managed" id="rights_managed_03" value="1" class="forminput" {if $rights_managed == "1" || !$rights_managed}checked="checked"{/if} /> <label for="rights_managed_03">All images</label>		
									
					<br /><br />
					
					<input type="submit" class="formbutton" style="width:230px;" value="Search for images" />
		
				</div>
				
				<div class="form-box" style="width:230px; height:310px;">
				
					<h3>Display results in order:</h3>
					<select name="results_order" class="select" style="width:230px;">
					<option value="1"{if $results_order == 1} selected="selected"{elseif !$results_order && $set_search_default_order == 1} selected="selected"{/if}>Most recent images first</option>
					<option value="2"{if $results_order == 2} selected="selected"{elseif !$results_order && $set_search_default_order == 2} selected="selected"{/if}>Closest matches first</option>
					<option value="3"{if $results_order == 4} selected="selected"{elseif !$results_order && $set_search_default_order == 4} selected="selected"{/if}>File name A - Z</option>
					<option value="4"{if $results_order == 3} selected="selected"{elseif !$results_order && $set_search_default_order == 3} selected="selected"{/if}>File name Z - A</option>
					<option value="5"{if $results_order == 5} selected="selected"{elseif !$results_order && $set_search_default_order == 5} selected="selected"{/if}>Image Title A - Z</option>
					<option value="6"{if $results_order == 6} selected="selected"{elseif !$results_order && $set_search_default_order == 6} selected="selected"{/if}>Image Title Z - A</option>
					</select>
					
					<h3>Uploaded by user:</h3>
					<select name="search_userid" class="select" style="width:230px;">
					<option value="">Any user</option>
					{section name="userids" loop=$userid}
					<option value="{$userid[userids]}">{$user_name[userids]}</option>
					{/section}
					</select>
						
					<h3>Search for images in galleries:</h3>
					
					<select name="gallery_id" class="forminput" style="width:100%;" size="8">
					<option value="0" {if $menu_gallery_id[gallery] == ""} selected="selected"{/if}>Entire library</option>
					<option value="0">-------------------------</option>
					{section name=gallery loop=$menu_gallery_title}
						
						<option value="{$menu_gallery_id[gallery]}"{if $menu_gallery_id[gallery]==$gallery_id} selected="selected"{/if}>{$menu_gallery_title[gallery]}</option>
					
					{/section}
					
					</select>
				
				</div>
			
				<div class="form-box" style="width:230px; height:310px;">
					
					<h3>Search for images by date</h3>
					
					Specify an exact date or range of dates to refine your image search.
					
					<br /><br />
					
					<input type="radio" name="date_srch" id="date_srch_01" value="10"{if $date_srch==10 || !$date_srch} checked="checked"{/if} />
					
					<label for="date_srch_01">Don't search by date</label>
					
					<br />
					<br />
						
					<input type="radio" name="date_srch" id="date_srch_02" value="11"{if $date_srch==11} checked="checked"{/if} /> <label for="date_srch_02">Search by exact date:</label>
					
					<br />
					
					{if $set_date_format == "dmy"}
					
						{html_select_date time=$time field_order="DMY" prefix="date_is_" start_year="1970" reverse_years="TRUE" time=$date_is_time all_extra='class="select"'}
						
					{else}
					
						{html_select_date time=$time field_order="MDY" prefix="date_is_" start_year="1970" reverse_years="TRUE" time=$date_is_time all_extra='class="select"'}
						
					{/if}
					
					<br /><br />
					
					<input type="radio" name="date_srch" id="date_srch_03" value="12"{if $date_srch==12} checked="checked"{/if} /> <label for="date_srch_03">Search by date range:</label>
					
					<br />
					
					{if $set_date_format == "dmy"}
					
						{html_select_date time=$time field_order="DMY" prefix="date_st_" start_year="1970" reverse_years="TRUE" time=$date_st_time all_extra='class="select"'}
				
					{else}
					
						{html_select_date time=$time field_order="MDY" prefix="date_st_" start_year="1970" reverse_years="TRUE" time=$date_st_time all_extra='class="select"'}
				
					{/if}
					
					<br />
				
					{if $set_date_format == "dmy"}
					
						{html_select_date time=$time field_order="DMY" prefix="date_en_" start_year="1970" reverse_years="TRUE" time=$date_en_time all_extra='class="select"'}
				
					{else}
					
						{html_select_date time=$time field_order="MDY" prefix="date_en_" start_year="1970" reverse_years="TRUE" time=$date_en_time all_extra='class="select"'}
				
					{/if}
					
				</div>
				
				<div class="form-box" style="width:230px; height:310px;">
				
					<h3>Image orientation:</h3>
					
					<input type="radio" name="image_orientation" id="image_orientation_01" class="forminput" value="ne" {if $image_orientation == "ne" || !$image_orientation}checked="checked"{/if} /> <label for="image_orientation_01">Any orientation</label><br />
					<input type="radio" name="image_orientation" id="image_orientation_02" class="forminput" value="ls" {if $image_orientation == "ls"}checked="checked"{/if} /> <label for="image_orientation_02">Landscape</label><br />
					<input type="radio" name="image_orientation" id="image_orientation_03" class="forminput" value="po" {if $image_orientation == "po"}checked="checked"{/if} /> <label for="image_orientation_03">Portrait</label><br />
					<input type="radio" name="image_orientation" id="image_orientation_04" class="forminput" value="sq" {if $image_orientation == "sq"}checked="checked"{/if} /> <label for="image_orientation_04">Square</label><br />
									
					<h3>Find images by colour:</h3>
					
					<input type="checkbox" name="image_colr_enable" id="image_colr_enable" class="forminput" {if $image_colr_enable} checked="checked"{/if} /> <label for="image_colr_enable">Check to enable the color search tools</label><br />
						
						<div id="color_picker" style="display:inline;">
						
						<h3>Colour palette selection:</h3>
						
						<div style="width:180px;">
						
						<div style="float:left; width:30px; height:30px; background:#{$image_colr_hex.3}; margin:5px; cursor:pointer;" id="selected-color-form" onclick="javascript:showHud();"></div>
						<div style="float:left; width:130px; margin:5px;">
						
							<div id="color-form-hex">Hex: {$image_colr_hex.3}</div>
							<div id="color-form-rgb">RGB: {$image_colr_dec.3}</div>
						
						</div>
						
						</div>
						
						<input type="hidden" name="image_colr_r" id="image_colr_r" value="{$image_colr_mod.0}" />
						<input type="hidden" name="image_colr_g" id="image_colr_g" value="{$image_colr_mod.1}" />
						<input type="hidden" name="image_colr_b" id="image_colr_b" value="{$image_colr_mod.2}" />
							
						<br clear="all" />
						
						<a href="javascript:showHud();" title="Show the colour palette and colour selection heads up display.">Show colour palette HUD</a>
						
						</div>
				
				</div>
				
				</form>

			<div class="clear"></div>
			
		</div>
		
	</div>
	
	<div id="directory" class="form-horizontal">

		<div class="form-body">
			
			<div class="form-box" style="width:250px; min-height:250px;">
				
				<h3>Import directory search</h3>
				
				<p>Use this form to list the images contained in directories in your image library folder.  Images are placed into these directories when they are first imported into Pixaria Gallery.</p>
				
			</div>
			
			<div class="form-box" style="width:520px; min-height:250px;">
								
				<form action="{$base_url}{$fil_admin_library_search}" method="post">
				
				<input type="hidden" name="cmd" value="doSearch" />
				
				<h3>Images from directory:</h3>
				
				{html_fancy_select_single options=$image_path values=$image_path name='search_directory' width='520' rows='6'}
				
				<br />
				
				<input type="submit" class="formbutton" style="width:280px; float:right;" value="Find images" />
				
				</form>

			</div>
			
			<div class="clear"></div>
		
		</div>
		
	</div>
	
</div>

<script type="text/javascript" language="javascript">var tabs = new Control.Tabs('form-tabs');</script>






