{*

/*
*
*	Pixaria Gallery
*	Copyright Jamie Longstaff
*
*/

*}
{if $view_mode != "lightbox" && $view_mode != "search"}
<a href="http://www.facebook.com/sharer.php?u={$base_complete}" onclick="window.open('http://www.facebook.com/sharer.php?u={$base_complete}', 'facebook','toolbar=no,width=700,height=400'); return false;" title="##PIXIE_FB1_01##">##PIXIE_FB1_01##</a><br />
{/if}