{*

/*
*
*	Pixaria Gallery
*	Copyright Jamie Longstaff
*
*/

*}{include_template file="admin.snippets/admin.html.header.tpl"}


<div id="admin-outerdiv">

<div id="admin-innerdiv">





<form action="{$base_url}{$fil_admin_export}" method="post">

<input type="hidden" name="cmd" value="exportDatabase" />

<div class="form-horizontal">

	<div class="form-header">Backup your database as an SQL file</div>

	<div class="form-body">

		<div class="form-box" style="min-height:170px; width:450px; border:none;">

			<h1>Notes about database export</h1>
			
			<p>When you export your database, you will download a plain text file containing SQL commands which can be used to recreate your database on this or another server.</p>
			
			<p>Please note that if your Pixaria database (<b>{$dbname}</b>) contains tables belonging to another software application, they will be exported as well.</p>
			
		</div>
		
		<div class="form-box" style="min-height:170px; width:450px; border:none;">

			<h1>Database export</h1>
			
			<p>From here, you can export your entire database as a SQL script file.  For very large databases, the file can be extremely large and may take a long time to download.</p>
			
			<br />
			
			<input type="checkbox" name="compress" id="compress" /> <label for="compress">Compress output before download</label>
			
			<input type="submit" value="Download database" style="width:200px; float:right;" class="formbutton" />
			
		</div>
		
	</div>
	
	<div class="clear"></div>

</div>

</form>




</div>

</div>

{include_template file="admin.snippets/admin.html.footer.tpl"}


